In [1]:
import numpy as np
from matplotlib.pyplot import *
import pandas as pd
from scipy import stats
import glob
import os

In [2]:
#Specify files where the data is located
files = glob.glob(r'/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/?????.csv')

In [3]:
#View files
files

['/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2000.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2001.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2002.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2003.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2004.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2005.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2006.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2007.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2008.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2009.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2000.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2001.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2002.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2003.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2004.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2005.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2006.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2007.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2008.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2009.csv']

In [4]:
# Create a dictonary with all of the different data in, indexed by the name of the csv file
# Drop the unnecessary variables
# Rename the all ages column with the name of the data
# Convert the different dictionary entries into variables


d={}
for x in files:
    d["{0}".format(os.path.basename(x)[0:5])] = pd.read_csv(x)
    d["{0}".format(os.path.basename(x)[0:5])] = d["{0}".format(os.path.basename(x)[0:5])][['Code', 'Name', 'all_ages']]
    d["{0}".format(os.path.basename(x)[0:5])] = d["{0}".format(os.path.basename(x)[0:5])].set_index('Code').rename(columns={'all_ages':"{0}".format(os.path.basename(x)[0:5])})


    
locals().update(d)

In [5]:
#View data
m2005[:4]

                 Name       m2005
Code
1      UNITED KINGDOM  29,493,020
1       GREAT BRITAIN  28,648,760
1     ENGLAND & WALES  26,192,651
1             ENGLAND  24,755,823

In [11]:
# Merge Data
Females1 = f2000.merge(f2001, how= 'inner', left_index=True, right_index=True)
Females1 = Females1.rename(columns={'Name_x':'Area_name'})
Females1 = Females1.merge(f2002, how= 'inner', left_index=True, right_index=True)
Females1 = Females1.merge(f2003, how= 'inner', left_index=True, right_index=True)
Females1 = Females1.merge(f2004, how= 'inner', left_index=True, right_index=True)

Females1 = Females1[['Area_name', 'f2000', 'f2001', 'f2002', 'f2003', 'f2004']]
#Females = pd.merge(Females, f2002, left_index=True, right_index=True)
#Females = pd.merge(Females, f2003, left_index=True, right_index=True)
#Females = pd.merge(Females, f2004, left_index=True, right_index=True)

In [12]:
Females2 = f2005.merge(f2006, how= 'inner', left_index=True, right_index=True)
Females2 = Females2.merge(f2007, how= 'inner', left_index=True, right_index=True)
Females2 = Females2.merge(f2008, how= 'inner', left_index=True, right_index=True)
Females2 = Females2.merge(f2009, how= 'inner', left_index=True, right_index=True)
Females2 = Females2[['f2005', 'f2006', 'f2007', 'f2008', 'f2009']]

In [31]:
#View the data
Females1[:10]

   Code           Area_name    f2000    f2001    f2002    f2003    f2004
0  00AA      CITY OF LONDON    3,239    3,375    3,489    3,596    3,797
1  00AB  BARKING & DAGENHAM   84,998   86,059   86,607   86,467   86,236
2  00AC              BARNET  164,064  165,096  165,476  166,498  167,561
3  00AD              BEXLEY  113,254  113,374  113,513  113,862  114,167
4  00AE               BRENT  134,116  135,678  133,598  130,766  129,144
5  00AF             BROMLEY  153,794  154,100  154,453  155,023  155,480
6  00AG              CAMDEN  100,966  103,114  104,297  105,130  107,597
7  00AH             CROYDON  171,873  171,949  171,482  171,101  171,027
8  00AJ              EALING  152,956  153,513  153,063  151,446  151,349
9  00AK             ENFIELD  142,190  143,154  143,614  143,648  143,543

In [25]:
Females1.reset_index(level=0, inplace=True)

In [34]:
Females1_new = Females1[Females1['Code'].map(len)>=4]

In [35]:
Females2.reset_index(level=0, inplace=True)
Females2_new = Females2[Females2['Code'].map(len)>=4]

In [36]:
Females1_new.to_csv(r'/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/Females1.csv')

In [37]:
Females2_new.to_csv(r'/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/Females2.csv')

In [15]:
Females1 = Females1.merge(Females2, how= 'inner', left_index=True, right_index=True)

KeyboardInterrupt:

In [ ]:
Females = Females.merge(f2007, how= 'inner', left_index=True, right_index=True)

In [ ]:
Females = Females.merge(f2008, how= 'inner', left_index=True, right_index=True)

In [ ]:
Females = Females.merge(f2009, how= 'inner', left_index=True, right_index=True)

In [ ]:
Females = pd.merge(Females, f2007, left_index=True, right_index=True)

In [ ]:
Females = pd.merge(Females, f2008, left_index=True, right_index=True)

In [ ]:
Females = Females[['Area_name', 'f2000', 'f2001', 'f2002', 'f2003', 'f2004', 'f2005', 'f2006', 'f2007', 'f2008']]

In [ ]:
Females = pd.merge(Females, f2009, left_index=True, right_index=True)