In [1]:
import numpy as np
from matplotlib.pyplot import *
import pandas as pd
from scipy import stats
import glob
import os

In [2]:
#Specify files where the data is located
files = glob.glob(r'/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/?????.csv')

In [3]:
#View files
files

['/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2000.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2001.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2002.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2003.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2004.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2005.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2006.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2007.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2008.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2009.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2000.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2001.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2002.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2003.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2004.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2005.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2006.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2007.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2008.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2009.csv']

In [4]:
# Create a dictonary with all of the different data in, indexed by the name of the csv file
# Drop the unnecessary variables
# Rename the all ages column with the name of the data
# Convert the different dictionary entries into variables


d={}
for x in files:
    d["{0}".format(os.path.basename(x)[0:5])] = pd.read_csv(x)
    d["{0}".format(os.path.basename(x)[0:5])] = d["{0}".format(os.path.basename(x)[0:5])][['Code', 'Name', 'all_ages']]
    d["{0}".format(os.path.basename(x)[0:5])] = d["{0}".format(os.path.basename(x)[0:5])].set_index('Code').rename(columns={'all_ages':"{0}".format(os.path.basename(x)[0:5])})


    
locals().update(d)

In [15]:
#View data
m2005

                             Name       m2005
Code
1                  UNITED KINGDOM  29,493,020
1                   GREAT BRITAIN  28,648,760
1                 ENGLAND & WALES  26,192,651
1                         ENGLAND  24,755,823
1                           WALES   1,436,828
1                        SCOTLAND   2,456,109
1                NORTHERN IRELAND     844,260
A                      NORTH EAST   1,239,375
B                      NORTH WEST   3,340,009
D        YORKSHIRE AND THE HUMBER   2,504,212
E                   EAST MIDLANDS   2,134,245
F                   WEST MIDLANDS   2,628,010
G                           EAST    2,722,325
H                          LONDON   3,702,633
J                      SOUTH EAST   3,999,163
K                      SOUTH WEST   2,485,851
W                           WALES   1,436,828
00EB                HARTLEPOOL UA      43,716
00EC             MIDDLESBROUGH UA      68,494
00EE      REDCAR AND CLEVELAND UA      67,125
00EF          STOCKTON ON TEES UA      91,529
00EH                DARLINGTON UA      47,561
00ET                    HALTON UA      57,192
00EU                WARRINGTON UA      95,239
00EX     BLACKBURN WITH DARWEN UA      69,214
00EY                 BLACKPOOL UA      69,915
00FA        KINGSTON UPON HULL UA     128,770
00FB  EAST RIDING OF YORKSHIRE UA     161,106
00FC   NORTH EAST LINCOLNSHIRE UA      77,014
00FD        NORTH LINCOLNSHIRE UA      77,466
...                           ...         ...
95T                        ANTRIM      25,395
95X                          ARDS      36,900
95O                        ARMAGH      27,205
95G                     BALLYMENA      29,747
95D                    BALLYMONEY      14,238
95Q                     BANBRIDGE      22,475
95Z                       BELFAST     126,076
95V                 CARRICKFERGUS      19,066
95Y                   CASTLEREAGH      31,391
95C                     COLERAINE      27,426
95I                     COOKSTOWN      17,009
95N                     CRAIGAVON      41,803
95A                        DERRY       52,510
95R                          DOWN      33,710
95M                     DUNGANNON      25,339
95L                     FERMANAGH      30,117
95F                         LARNE      15,219
95B                      LIMAVADY      17,601
95S                       LISBURN      54,250
95H                   MAGHERAFELT      21,125
95E                         MOYLE       8,150
95P                NEWRY & MOURNE      45,283
95U                  NEWTOWNABBEY      39,176
95W                    NORTH DOWN      38,027
95K                         OMAGH      25,532
95J                      STRABANE      19,490
ZE0                      EASTERN      320,354
ZN0                     NORTHERN      216,551
ZS0                     SOUTHERN      162,105
ZW0                      WESTERN      145,250

[585 rows x 2 columns]

In [6]:
LADUA = pd.read_csv(r'/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/england_dt_2001_list.csv')
LADUA = LADUA.set_index('ons_label')

In [16]:
LADUA

           FID                      name label
ons_label
15UE         0            North Cornwall  15UE
18UD         1                 Mid Devon  18UD
19UH         2               West Dorset  19UH
23UC         3                  Cotswold  23UC
33UB         4                 Breckland  33UB
33UF         5             North Norfolk  33UF
32UC         6              East Lindsey  32UC
00FD         7     North Lincolnshire UA  00FD
00FB         8  East Riding of Yorkshire  00FB
36UE         9             Richmondshire  36UE
36UG        10               Scarborough  36UG
15UD        11                   Kerrier  15UD
15UG        12                 Restormel  15UG
18UG        13                South Hams  18UG
18UK        14                  Torridge  18UK
18UH        15               Teignbridge  18UH
18UL        16                West Devon  18UL
18UB        17                East Devon  18UB
18UE        18               North Devon  18UE
40UF        19             West Somerset  40UF
40UE        20             Taunton Deane  40UE
16UE        21                  Copeland  16UE
16UB        22                 Allerdale  16UB
40UD        23            South Somerset  40UD
40UC        24                 Sedgemoor  40UC
40UB        25                    Mendip  40UB
19UE        26              North Dorset  19UE
19UD        27               East Dorset  19UD
46UD        28                 Salisbury  46UD
00MW        29          Isle of Wight UA  00MW
...        ...                       ...   ...
15UF       360                   Penwith  15UF
15UF       361                   Penwith  15UF
15UF       362                   Penwith  15UF
15UC       363                   Carrick  15UC
15UC       364                   Carrick  15UC
15UB       365                   Caradon  15UB
15UE       366            North Cornwall  15UE
15UE       367            North Cornwall  15UE
00HG       368               Plymouth UA  00HG
00HG       369               Plymouth UA  00HG
18UG       370                South Hams  18UG
15UE       371            North Cornwall  15UE
15UE       372            North Cornwall  15UE
15UE       373            North Cornwall  15UE
00HC       374         North Somerset UA  00HC
00MW       375          Isle of Wight UA  00MW
00MW       376          Isle of Wight UA  00MW
00MW       377          Isle of Wight UA  00MW
00MW       378          Isle of Wight UA  00MW
00MR       379             Portsmouth UA  00MR
00MR       380             Portsmouth UA  00MR
33UC       381                 Broadland  33UC
35UB       382                   Alnwick  35UB
35UC       383        Berwick upon Tweed  35UC
35UC       384        Berwick upon Tweed  35UC
35UC       385        Berwick upon Tweed  35UC
35UC       386        Berwick upon Tweed  35UC
35UC       387        Berwick upon Tweed  35UC
35UC       388        Berwick upon Tweed  35UC
35UC       389        Berwick upon Tweed  35UC

[390 rows x 3 columns]

In [8]:
# Merge Data
Females1 = LADUA.merge(f2000, how= 'left', left_index=True, right_index=True)
Females1 = Females1.rename(columns={'name':'Area_name'})
Females1 = Females1.merge(f2001, how= 'left', left_index=True, right_index=True)
Females1 = Females1.merge(f2002, how= 'left', left_index=True, right_index=True)
Females1 = Females1.merge(f2003, how= 'left', left_index=True, right_index=True)
Females1 = Females1.merge(f2004, how= 'left', left_index=True, right_index=True)

Females1 = Females1[['Area_name', 'f2000', 'f2001', 'f2002', 'f2003', 'f2004']]

In [9]:
Females1

                   Area_name    f2000    f2001    f2002    f2003    f2004
00AA          City of London    3,239    3,375    3,489    3,596    3,797
00AB    Barking and Dagenham   84,998   86,059   86,607   86,467   86,236
00AC                  Barnet  164,064  165,096  165,476  166,498  167,561
00AD                  Bexley  113,254  113,374  113,513  113,862  114,167
00AE                   Brent  134,116  135,678  133,598  130,766  129,144
00AF                 Bromley  153,794  154,100  154,453  155,023  155,480
00AG                  Camden  100,966  103,114  104,297  105,130  107,597
00AH                 Croydon  171,873  171,949  171,482  171,101  171,027
00AJ                  Ealing  152,956  153,513  153,063  151,446  151,349
00AK                 Enfield  142,190  143,154  143,614  143,648  143,543
00AL               Greenwich  110,716  111,912  112,629  112,968  113,512
00AM                 Hackney  104,330  106,007  106,637  106,081  105,698
00AN  Hammersmith and Fulham   84,956   86,247   86,325   85,344   85,185
00AP                Haringey  112,803  112,815  112,512  111,509  111,298
00AQ                  Harrow  107,185  107,069  107,535  107,760  108,588
00AR                Havering  116,663  116,517  116,586  116,672  116,940
00AS              Hillingdon  126,214  125,768  126,220  126,643  127,036
00AT                Hounslow  108,277  108,135  107,625  106,947  108,291
00AU               Islington   91,453   91,655   91,971   92,033   92,067
00AW  Kensington and Chelsea   80,354   83,045   83,805   84,655   85,149
00AX    Kingston upon Thames   74,933   75,414   76,035   76,629   77,868
00AY                 Lambeth  134,786  135,208  133,855  132,478  132,659
00AZ                Lewisham  129,331  129,585  128,753  127,407  127,350
00BA                  Merton   95,533   96,558   96,603   96,325   96,770
00BB                  Newham  122,776  124,170  124,983  123,877  121,577
00BC               Redbridge  122,342  123,024  123,759  125,108  125,738
00BD    Richmond upon Thames   88,996   89,214   89,684   90,901   92,163
00BE               Southwark  127,789  128,837  128,489  127,954  129,330
00BF                  Sutton   92,816   93,112   93,191   93,469   93,636
00BG           Tower Hamlets   96,525   98,136  100,868  101,679  103,218
...                      ...      ...      ...      ...      ...      ...
43UE             Mole Valley   41,246   41,279   41,349   41,695   41,745
43UF    Reigate and Banstead   63,909   64,478   64,447   64,561   64,941
43UG               Runnymede   39,773   40,081   40,106   40,387   40,507
43UH              Spelthorne   46,061   46,036   45,922   45,829   45,724
43UJ            Surrey Heath   40,801   40,608   40,561   40,860   41,166
43UK               Tandridge   41,058   41,124   40,937   40,970   41,003
43UL                Waverley   59,610   59,538   59,731   59,885   59,830
43UM                  Woking   45,845   45,980   45,739   45,634   45,389
44UB      North Warwickshire   31,425   31,369   31,385   31,308   31,248
44UC    Nuneaton and Bedwort   60,203   60,677   60,704   61,086   61,044
44UD                   Rugby   43,626   44,133   44,611   44,529   44,767
44UE       Stratford on Avon   56,955   57,556   57,865   58,132   58,430
44UF                 Warwick   62,928   64,090   65,280   66,299   67,084
45UB                    Adur   31,038   31,269   31,410   31,344   31,376
45UC                    Arun   74,385   74,642   75,459   76,090   77,128
45UD              Chichester   56,399   56,163   56,433   56,653   57,167
45UE                 Crawley   50,663   50,814   50,421   50,287   50,437
45UF                 Horsham   62,520   62,878   63,050   63,551   64,162
45UG              Mid Sussex   65,553   65,641   65,441   65,530   65,533
45UH                Worthing   52,003   51,821   52,079   52,124   52,225
46UB                  Kennet   37,344   37,301   37,342   37,451   37,655
46UC         North Wiltshire   63,102   63,351   63,859   64,400   64,606
46UD               Salisbury   58,174   58,546   58,862   59,052   59,035
46UF          West Wiltshire   59,226   60,633   61,669   62,389   63,201
47UB              Bromsgrove   44,320   44,722   45,234   45,719   46,008
47UC           Malvern Hills   36,990   37,128   37,322   37,450   37,543
47UD                Redditch   39,861   39,958   39,936   39,853   39,784
47UE               Worcester   47,795   47,833   47,750   47,763   47,479
47UF                Wychavon   56,811   57,294   57,654   57,958   58,201
47UG             Wyre Forest   49,291   49,271   49,227   49,382   49,503

[390 rows x 6 columns]

In [10]:
# Merge Data
Females2 = LADUA.merge(f2005, how= 'left', left_index=True, right_index=True)
Females2 = Females2.rename(columns={'name':'Area_name'})
Females2 = Females2.merge(f2006, how= 'left', left_index=True, right_index=True)
Females2 = Females2.merge(f2007, how= 'left', left_index=True, right_index=True)
Females2 = Females2.merge(f2008, how= 'left', left_index=True, right_index=True)
Females2 = Females2.merge(f2009, how= 'left', left_index=True, right_index=True)

Females2 = Females2[['Area_name', 'f2005', 'f2006', 'f2007', 'f2008', 'f2009']]

In [11]:
Females2

                   Area_name    f2005    f2006    f2007    f2008    f2009
00AA          City of London    3,978    4,305    4,768    5,141    5,190
00AB    Barking and Dagenham   86,512   86,980   87,612   88,824   90,935
00AC                  Barnet  169,555  171,329  172,292  173,014  175,149
00AD                  Bexley  114,980  115,270  115,711  116,618  117,049
00AE                   Brent  128,556  128,299  127,318  126,894  127,226
00AF                 Bromley  156,836  157,712  158,707  159,973  160,961
00AG                  Camden  110,594  112,278  113,391  114,241  116,048
00AH                 Croydon  171,395  171,813  172,825  174,241  174,901
00AJ                  Ealing  151,707  151,976  152,180  153,440  154,830
00AK                 Enfield  144,349  145,374  146,151  147,290  148,303
00AL               Greenwich  114,306  114,566  114,495  114,399  115,530
00AM                 Hackney  106,256  106,692  107,215  108,496  110,382
00AN  Hammersmith and Fulham   85,270   85,017   85,281   84,862   84,534
00AP                Haringey  111,713  112,226  111,555  111,982  111,492
00AQ                  Harrow  110,622  111,791  112,676  113,527  114,938
00AR                Havering  117,617  118,481  119,382  120,393  121,414
00AS              Hillingdon  128,363  129,514  130,196  131,749  134,114
00AT                Hounslow  109,743  111,071  112,504  113,476  114,891
00AU               Islington   93,392   93,891   94,442   94,846   95,995
00AW  Kensington and Chelsea   86,761   86,706   87,189   87,161   86,585
00AX    Kingston upon Thames   79,303   80,518   81,601   82,569   83,421
00AY                 Lambeth  133,541  134,521  135,273  136,003  136,874
00AZ                Lewisham  128,236  129,264  130,147  131,818  132,923
00BA                  Merton   98,136   99,427  100,424  101,589  103,327
00BB                  Newham  119,660  118,788  118,566  119,130  118,276
00BC               Redbridge  127,164  129,206  131,200  133,336  135,070
00BD    Richmond upon Thames   93,521   94,519   94,880   95,275   96,374
00BE               Southwark  131,470  134,337  136,713  138,168  139,435
00BF                  Sutton   94,461   95,121   95,954   96,992   98,415
00BG           Tower Hamlets  104,289  105,865  108,177  110,609  114,391
...                      ...      ...      ...      ...      ...      ...
43UE             Mole Valley   41,785   41,964   42,303   42,793   43,015
43UF    Reigate and Banstead   65,103   65,805   66,826   68,090   69,321
43UG               Runnymede   40,999   41,244   41,947   42,356   43,288
43UH              Spelthorne   46,005   46,266   46,503   46,634   47,141
43UJ            Surrey Heath   41,179   41,664   42,043   42,110   42,638
43UK               Tandridge   41,109   41,357   41,762   42,195   42,738
43UL                Waverley   59,924   60,142   60,513   60,934   61,540
43UM                  Woking   45,809   46,225   46,484   46,798   47,292
44UB      North Warwickshire   31,307   31,217   31,100   31,190   31,278
44UC    Nuneaton and Bedwort   61,106   61,153   61,432   61,833   61,972
44UD                   Rugby   45,263   45,522   45,910   46,354   46,690
44UE       Stratford on Avon   59,031   59,638   60,451   60,836   60,975
44UF                 Warwick   67,589   67,908   68,624   69,085   69,545
45UB                    Adur   31,335   31,511   31,643   31,663   31,821
45UC                    Arun   77,522   77,899   78,307   78,310   78,316
45UD              Chichester   57,443   57,881   58,022   58,656   58,935
45UE                 Crawley   50,967   51,410   51,667   52,514   53,241
45UF                 Horsham   64,718   65,438   65,982   66,312   66,620
45UG              Mid Sussex   65,721   66,083   66,601   67,089   67,348
45UH                Worthing   52,336   52,557   52,916   53,052   53,102
46UB                  Kennet   37,912   38,308   38,788   39,139   39,525
46UC         North Wiltshire   65,128   65,553   66,346   67,085   67,449
46UD               Salisbury   58,788   58,878   59,134   59,464   59,621
46UF          West Wiltshire   63,665   63,858   64,341   64,819   65,061
47UB              Bromsgrove   46,157   46,469   46,797   46,923   47,170
47UC           Malvern Hills   37,692   37,771   37,895   38,039   38,195
47UD                Redditch   39,883   39,863   39,833   39,896   39,811
47UE               Worcester   47,481   47,450   47,623   47,893   48,297
47UF                Wychavon   58,482   58,840   59,062   58,978   58,957
47UG             Wyre Forest   49,572   49,493   49,693   49,692   49,671

[390 rows x 6 columns]

In [12]:
Females_all = Females1.merge(Females2, how = 'left', left_index=True, right_index=True)

In [13]:
#View the data
Females_all

,Area_name_x,f2000,f2001,f2002,f2003,f2004,Area_name_y,f2005,f2006,f2007,f2008,f2009
00AA,City of London,"3,239","3,375","3,489","3,596","3,797",City of London,"3,978","4,305","4,768","5,141","5,190"
00AB,Barking and Dagenham,"84,998","86,059","86,607","86,467","86,236",Barking and Dagenham,"86,512","86,980","87,612","88,824","90,935"
00AC,Barnet,"164,064","165,096","165,476","166,498","167,561",Barnet,"169,555","171,329","172,292","173,014","175,149"
00AD,Bexley,"113,254","113,374","113,513","113,862","114,167",Bexley,"114,980","115,270","115,711","116,618","117,049"
00AE,Brent,"134,116","135,678","133,598","130,766","129,144",Brent,"128,556","128,299","127,318","126,894","127,226"
00AF,Bromley,"153,794","154,100","154,453","155,023","155,480",Bromley,"156,836","157,712","158,707","159,973","160,961"
00AG,Camden,"100,966","103,114","104,297","105,130","107,597",Camden,"110,594","112,278","113,391","114,241","116,048"
00AH,Croydon,"171,873","171,949","171,482","171,101","171,027",Croydon,"171,395","171,813","172,825","174,241","174,901"
00AJ,Ealing,"152,956","153,513","153,063","151,446","151,349",Ealing,"151,707","151,976","152,180","153,440","154,830"
00AK,Enfield,"142,190","143,154","143,614","143,648","143,543",Enfield,"144,349","145,374","146,151","147,290","148,303"
00AL,Greenwich,"110,716","111,912","112,629","112,968","113,512",Greenwich,"114,306","114,566","114,495","114,399","115,530"
00AM,Hackney,"104,330","106,007","106,637","106,081","105,698",Hackney,"106,256","106,692","107,215","108,496","110,382"
00AN,Hammersmith and Fulham,"84,956","86,247","86,325","85,344","85,185",Hammersmith and Fulham,"85,270","85,017","85,281","84,862","84,534"
00AP,Haringey,"112,803","112,815","112,512","111,509","111,298",Haringey,"111,713","112,226","111,555","111,982","111,492"
00AQ,Harrow,"107,185","107,069","107,535","107,760","108,588",Harrow,"110,622","111,791","112,676","113,527","114,938"
00AR,Havering,"116,663","116,517","116,586","116,672","116,940",Havering,"117,617","118,481","119,382","120,393","121,414"
00AS,Hillingdon,"126,214","125,768","126,220","126,643","127,036",Hillingdon,"128,363","129,514","130,196","131,749","134,114"
00AT,Hounslow,"108,277","108,135","107,625","106,947","108,291",Hounslow,"109,743","111,071","112,504","113,476","114,891"
00AU,Islington,"91,453","91,655","91,971","92,033","92,067",Islington,"93,392","93,891","94,442","94,846","95,995"
00AW,Kensington and Chelsea,"80,354","83,045","83,805","84,655","85,149",Kensington and Chelsea,"86,761","86,706","87,189","87,161","86,585"
00AX,Kingston upon Thames,"74,933","75,414","76,035","76,629","77,868",Kingston upon Thames,"79,303","80,518","81,601","82,569","83,421"
00AY,Lambeth,"134,786","135,208","133,855","132,478","132,659",Lambeth,"133,541","134,521","135,273","136,003","136,874"
00AZ,Lewisham,"129,331","129,585","128,753","127,407","127,350",Lewisham,"128,236","129,264","130,147","131,818","132,923"
00BA,Merton,"95,533","96,558","96,603","96,325","96,770",Merton,"98,136","99,427","100,424","101,589","103,327"
00BB,Newham,"122,776","124,170","124,983","123,877","121,577",Newham,"119,660","118,788","118,566","119,130","118,276"
00BC,Redbridge,"122,342","123,024","123,759","125,108","125,738",Redbridge,"127,164","129,206","131,200","133,336","135,070"
00BD,Richmond upon Thames,"88,996","89,214","89,684","90,901","92,163",Richmond upon Thames,"93,521","94,519","94,880","95,275","96,374"
00BE,Southwark,"127,789","128,837","128,489","127,954","129,330",Southwark,"131,470","134,337","136,713","138,168","139,435"
00BF,Sutton,"92,816","93,112","93,191","93,469","93,636",Sutton,"94,461","95,121","95,954","96,992","98,415"
00BG,Tower Hamlets,"96,525","98,136","100,868","101,679","103,218",Tower Hamlets,"104,289","105,865","108,177","110,609","114,391"
...,...,...,...,...,...,...,...,...,...,...,...,...
43UE,Mole Valley,"41,246","41,279","41,349","41,695","41,745",Mole Valley,"41,785","41,964","42,303","42,793","43,015"
43UF,Reigate and Banstead,"63,909","64,478","64,447","64,561","64,941",Reigate and Banstead,"65,103","65,805","66,826","68,090","69,321"
43UG,Runnymede,"39,773","40,081","40,106","40,387","40,507",Runnymede,"40,999","41,244","41,947","42,356","43,288"
43UH,Spelthorne,"46,061","46,036","45,922","45,829","45,724",Spelthorne,"46,005","46,266","46,503","46,634","47,141"
43UJ,Surrey Heath,"40,801","40,608","40,561","40,860","41,166",Surrey Heath,"41,179","41,664","42,043","42,110","42,638"
43UK,Tandridge,"41,058","41,124","40,937","40,970","41,003",Tandridge,"41,109","41,357","41,762","42,195","42,738"
43UL,Waverley,"59,610","59,538","59,731","59,885","59,830",Waverley,"59,924","60,142","60,513","60,934","61,540"
43UM,Woking,"45,845","45,980","45,739","45,634","45,389",Woking,"45,809","46,225","46,484","46,798","47,292"
44UB,North Warwickshire,"31,425","31,369","31,385","31,308","31,248",North Warwickshire,"31,307","31,217","31,100","31,190","31,278"
44UC,Nuneaton and Bedwort,"60,203","60,677","60,704","61,086","61,044",Nuneaton and Bedwort,"61,106","61,153","61,432","61,833","61,972"
44UD,Rugby,"43,626","44,133","44,611","44,529","44,767",Rugby,"45,263","45,522","45,910","46,354","46,690"
44UE,Stratford on Avon,"56,955","57,556","57,865","58,132","58,430",Stratford on Avon,"59,031","59,638","60,451","60,836","60,975"
44UF,Warwick,"62,928","64,090","65,280","66,299","67,084",Warwick,"67,589","67,908","68,624","69,085","69,545"
45UB,Adur,"31,038","31,269","31,410","31,344","31,376",Adur,"31,335","31,511","31,643","31,663","31,821"
45UC,Arun,"74,385","74,642","75,459","76,090","77,128",Arun,"77,522","77,899","78,307","78,310","78,316"
45UD,Chichester,"56,399","56,163","56,433","56,653","57,167",Chichester,"57,443","57,881","58,022","58,656","58,935"
45UE,Crawley,"50,663","50,814","50,421","50,287","50,437",Crawley,"50,967","51,410","51,667","52,514","53,241"
45UF,Horsham,"62,520","62,878","63,050","63,551","64,162",Horsham,"64,718","65,438","65,982","66,312","66,620"
45UG,Mid Sussex,"65,553","65,641","65,441","65,530","65,533",Mid Sussex,"65,721","66,083","66,601","67,089","67,348"
45UH,Worthing,"52,003","51,821","52,079","52,124","52,225",Worthing,"52,336","52,557","52,916","53,052","53,102"
46UB,Kennet,"37,344","37,301","37,342","37,451","37,655",Kennet,"37,912","38,308","38,788","39,139","39,525"
46UC,North Wiltshire,"63,102","63,351","63,859","64,400","64,606",North Wiltshire,"65,128","65,553","66,346","67,085","67,449"
46UD,Salisbury,"58,174","58,546","58,862","59,052","59,035",Salisbury,"58,788","58,878","59,134","59,464","59,621"
46UF,West Wiltshire,"59,226","60,633","61,669","62,389","63,201",West Wiltshire,"63,665","63,858","64,341","64,819","65,061"
47UB,Bromsgrove,"44,320","44,722","45,234","45,719","46,008",Bromsgrove,"46,157","46,469","46,797","46,923","47,170"
47UC,Malvern Hills,"36,990","37,128","37,322","37,450","37,543",Malvern Hills,"37,692","37,771","37,895","38,039","38,195"
47UD,Redditch,"39,861","39,958","39,936","39,853","39,784",Redditch,"39,883","39,863","39,833","39,896","39,811"
47UE,Worcester,"47,795","47,833","47,750","47,763","47,479",Worcester,"47,481","47,450","47,623","47,893","48,297"
47UF,Wychavon,"56,811","57,294","57,654","57,958","58,201",Wychavon,"58,482","58,840","59,062","58,978","58,957"
47UG,Wyre Forest,"49,291","49,271","49,227","49,382","49,503",Wyre Forest,"49,572","49,493","49,693","49,692","49,671"

In [ ]:
Females1.reset_index(level=0, inplace=True)
Females1_new = Females1[Females1['Code'].map(len)>=4]

In [ ]:
Females2.reset_index(level=0, inplace=True)
Females2_new = Females2[Females2['Code'].map(len)>=4]

In [ ]:
Females1_new.set_index('Code')
Females2_new.set_index('Code')

In [ ]:
Females_all = Females1_new.merge(Females2_new, how= 'inner', left_index=True, right_index=True)

In [ ]:
Females_all

In [14]:
Females_all.to_csv(r'/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/Females_all.csv')

In [ ]:
Females2_new.to_csv(r'/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/Females2.csv')