# Import the libraries that will be used.

In [ ]:
import numpy as np
from matplotlib.pyplot import *
import pandas as pd
from scipy import stats
import glob
import os

## Read the population data in

In [23]:
#Specify files where the data is located
files = glob.glob(r'/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/?????.csv')

In [24]:
#View files
files

['/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2000.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2001.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2002.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2003.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2004.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2005.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2006.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2007.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2008.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2009.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2000.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2001.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2002.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2003.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2004.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2005.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2006.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2007.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2008.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2009.csv']

In [ ]:
# Create a dictonary with all of the different data in, indexed by the name of the csv file
# Drop the unnecessary variables
# Rename the all ages column with the name of the data
# Convert the different dictionary entries into variables


d={}
for x in files:
    d["{0}".format(os.path.basename(x)[0:5])] = pd.read_csv(x)
    d["{0}".format(os.path.basename(x)[0:5])] = d["{0}".format(os.path.basename(x)[0:5])][['Code', 'Name', 'all_ages']]
    d["{0}".format(os.path.basename(x)[0:5])] = d["{0}".format(os.path.basename(x)[0:5])].set_index('Code').rename(columns={'all_ages':"{0}".format(os.path.basename(x)[0:5])})


    
locals().update(d)

In [ ]:
#View data
m2005

## Read in the LADUA codes from the LAD2001 LU from ONS

In [ ]:
LADUA = pd.read_csv(r'/Users/annalisasheehan/Documents/Imperial-Diabetes/LAD01_codes.csv')
LADUA = LADUA.set_index('LAD01CD')

In [ ]:
LADUA

## Create the merged female dataset

In [ ]:
# Merge Data
Females1 = LADUA.merge(f2000, how= 'left', left_index=True, right_index=True)
Females1 = Females1.rename(columns={'Name':'Area_name'})
Females1 = Females1.merge(f2001, how= 'left', left_index=True, right_index=True)
Females1 = Females1.merge(f2002, how= 'left', left_index=True, right_index=True)
Females1 = Females1.merge(f2003, how= 'left', left_index=True, right_index=True)
Females1 = Females1.merge(f2004, how= 'left', left_index=True, right_index=True)

Females1 = Females1[['Area_name', 'f2000', 'f2001', 'f2002', 'f2003', 'f2004']]

In [ ]:
Females1

In [ ]:
# Merge Data
Females2 = LADUA.merge(f2005, how= 'left', left_index=True, right_index=True)
Females2 = Females2.rename(columns={'Name':'Area_name'})
Females2 = Females2.merge(f2006, how= 'left', left_index=True, right_index=True)
Females2 = Females2.merge(f2007, how= 'left', left_index=True, right_index=True)
Females2 = Females2.merge(f2008, how= 'left', left_index=True, right_index=True)
Females2 = Females2.merge(f2009, how= 'left', left_index=True, right_index=True)

Females2 = Females2[['Area_name', 'f2005', 'f2006', 'f2007', 'f2008', 'f2009']]

In [ ]:
Females2

In [ ]:
Females_all = Females1.merge(Females2, how = 'left', left_index=True, right_index=True)

In [ ]:
#View the data
Females_all

In [ ]:
Females_all = Females_all[['Area_name_x', 'f2000', 'f2001', 'f2002', 'f2003', 'f2004', 'f2005', 'f2006', 'f2007', 'f2008', 'f2009']]
Females_all.reset_index(level=0, inplace=True)
Females_all = Females_all.rename(columns={'index': 'Code01'})

In [ ]:
Females_all.to_csv(r'/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/Females_Final.csv')

## Create the males merged population dataset

In [25]:
# Merge Data
Males1 = LADUA.merge(m2000, how= 'left', left_index=True, right_index=True)
Males1 = Males1.rename(columns={'Name':'Area_name'})
Males1 = Males1.merge(m2001, how= 'left', left_index=True, right_index=True)
Males1 = Males1.merge(m2002, how= 'left', left_index=True, right_index=True)
Males1 = Males1.merge(m2003, how= 'left', left_index=True, right_index=True)
Males1 = Males1.merge(m2004, how= 'left', left_index=True, right_index=True)

Males1 = Males1[['Area_name', 'm2000', 'm2001', 'm2002', 'm2003', 'm2004']]

In [26]:
# Merge Data
Males2 = LADUA.merge(m2005, how= 'left', left_index=True, right_index=True)
Males2 = Males2.rename(columns={'Name':'Area_name'})
Males2 = Males2.merge(m2006, how= 'left', left_index=True, right_index=True)
Males2 = Males2.merge(m2007, how= 'left', left_index=True, right_index=True)
Males2 = Males2.merge(m2008, how= 'left', left_index=True, right_index=True)
Males2 = Males2.merge(m2009, how= 'left', left_index=True, right_index=True)

Males2 = Males2[['Area_name', 'm2005', 'm2006', 'm2007', 'm2008', 'm2009']]

In [27]:
Males_all = Males1.merge(Males2, how = 'left', left_index=True, right_index=True)

In [28]:
#View the data
Males_all

,Area_name_x,m2000,m2001,m2002,m2003,m2004,Area_name_y,m2005,m2006,m2007,m2008,m2009
00AA,CITY OF LONDON,"3,775","3,984","4,162","4,289","4,479",CITY OF LONDON,"4,672","5,105","5,726","6,189","6,297"
00AB,BARKING & DAGENHAM,"78,895","79,595","79,968","80,201","80,082",BARKING and DAGENHAM,"80,512","80,916","81,476","82,647","84,668"
00AC,BARNET,"151,720","154,385","155,560","156,258","157,675",BARNET,"159,528","161,688","163,314","165,074","167,939"
00AD,BEXLEY,"105,463","105,383","105,446","105,872","106,382",BEXLEY,"106,938","107,347","107,677","108,333","108,844"
00AE,BRENT,"130,829","133,942","133,058","131,162","129,693",BRENT,"129,063","128,816","127,812","127,568","128,238"
00AF,BROMLEY,"141,523","142,118","142,869","143,492","143,855",BROMLEY,"145,294","146,233","146,928","148,052","149,201"
00AG,CAMDEN,"95,208","99,453","101,372","102,613","105,190",CAMDEN,"107,802","109,173","110,536","112,223","115,180"
00AH,CROYDON,"162,368","163,163","163,223","163,129","163,658",CROYDON,"164,087","165,011","165,610","166,933","167,915"
00AJ,EALING,"151,414","153,763","154,892","154,093","154,997",EALING,"155,637","156,318","156,898","158,699","161,800"
00AK,ENFIELD,"132,878","134,112","136,848","137,666","138,002",ENFIELD,"139,081","140,144","140,810","141,699","142,927"
00AL,GREENWICH,"103,722","105,548","107,051","107,732","108,366",GREENWICH,"108,973","109,003","109,065","109,341","110,610"
00AM,HACKNEY,"99,051","101,239","102,352","102,439","102,148",HACKNEY,"102,373","102,715","103,255","104,340","105,605"
00AN,HAMMERSMITH & FULHAM,"79,437","83,127","84,540","83,965","83,809",HAMMERSMITH and FULHAM,"83,796","83,623","83,816","83,734","85,195"
00AP,HARINGEY,"107,042","108,436","110,899","111,396","112,073",HARINGEY,"112,701","113,189","113,146","113,316","114,037"
00AQ,HARROW,"101,929","102,975","104,171","104,820","106,018",HARROW,"108,120","109,526","110,622","111,833","113,189"
00AR,HAVERING,"108,478","108,200","108,441","108,545","108,829",HAVERING,"109,381","110,153","110,943","111,920","112,711"
00AS,HILLINGDON,"119,697","119,848","120,816","121,603","121,910",HILLINGDON,"123,384","124,396","125,119","126,306","128,414"
00AT,HOUNSLOW,"106,454","107,841","108,949","108,662","109,785",HOUNSLOW,"111,780","113,559","115,599","116,770","119,355"
00AU,ISLINGTON,"86,399","87,732","88,345","89,342","89,702",ISLINGTON,"91,221","91,372","92,401","93,614","95,826"
00AW,KENSINGTON & CHELSEA,"74,307","79,154","80,273","81,111","81,516",KENSINGTON and CHELSEA,"82,831","82,888","83,737","83,895","83,297"
00AX,KINGSTON UPON THAMES,"72,395","73,631","74,864","75,618","77,108",KINGSTON UPON THAMES,"78,369","79,792","80,716","82,024","83,321"
00AY,LAMBETH,"135,242","138,164","138,424","138,190","139,487",LAMBETH,"140,866","142,533","143,988","145,364","146,413"
00AZ,LEWISHAM,"122,775","124,751","124,721","124,197","124,718",LEWISHAM,"126,034","127,393","128,782","130,224","131,582"
00BA,MERTON,"92,663","94,548","95,064","95,216","95,634",MERTON,"96,830","98,147","99,405","101,174","103,091"
00BB,NEWHAM,"122,687","125,241","127,963","127,556","125,686",NEWHAM,"123,688","122,568","122,842","123,279","122,936"
00BC,REDBRIDGE,"117,526","118,869","120,451","122,179","122,907",REDBRIDGE,"124,026","125,865","128,100","130,488","132,662"
00BD,RICHMOND UPON THAMES,"83,924","85,097","86,262","87,299","88,711",RICHMOND UPON THAMES,"90,125","90,940","91,334","91,915","92,588"
00BE,SOUTHWARK,"124,937","127,875","128,875","129,473","131,225",SOUTHWARK,"134,460","138,679","142,360","144,864","146,196"
00BF,SUTTON,"87,669","88,349","88,691","89,047","89,369",SUTTON,"90,209","90,806","91,512","92,476","93,803"
00BG,TOWER HAMLETS,"100,608","102,954","106,472","107,502","108,781",TOWER HAMLETS,"109,789","111,319","113,637","116,239","120,374"
...,...,...,...,...,...,...,...,...,...,...,...,...
43UE,MOLE VALLEY,"38,725","39,004","39,073","39,387","39,483",MOLE VALLEY,"39,697","39,773","40,177","40,576","40,824"
43UF,REIGATE & BANSTEAD,"61,631","62,183","61,736","61,999","62,296",REIGATE and BANSTEAD,"62,583","63,108","64,267","65,313","66,783"
43UG,RUNNYMEDE,"37,965","37,972","38,084","38,287","38,144",RUNNYMEDE,"38,261","38,475","39,379","39,888","40,636"
43UH,SPELTHORNE,"44,450","44,368","44,303","44,211","44,109",SPELTHORNE,"44,145","44,329","44,699","45,125","45,421"
43UJ,SURREY HEATH,"39,880","39,701","39,700","39,807","39,889",SURREY HEATH,"40,208","40,555","40,942","40,910","41,214"
43UK,TANDRIDGE,"37,939","38,208","37,842","37,890","37,892",TANDRIDGE,"38,011","38,169","38,727","39,105","39,455"
43UL,WAVERLEY,"55,821","56,130","56,091","56,280","56,488",WAVERLEY,"56,459","56,641","57,145","57,570","57,737"
43UM,WOKING,"43,632","43,913","43,349","43,385","43,127",WOKING,"43,531","43,951","44,580","44,785","45,063"
44UB,NORTH WARWICKSHIRE,"30,463","30,419","30,390","30,414","30,512",NORTH WARWICKSHIRE,"30,602","30,645","30,621","30,630","30,643"
44UC,NUNEATON & BEDWORTH,"58,244","58,562","58,714","59,038","58,983",NUNEATON and BEDWORTH,"59,062","59,224","59,456","59,936","59,989"
44UD,RUGBY,"42,693","43,387","43,746","43,934","44,350",RUGBY,"44,852","45,358","45,848","46,386","46,652"
44UE,STRATFORD-ON-AVON,"53,592","53,995","54,354","54,838","55,035",STRATFORD-ON-AVON,"55,750","56,560","57,391","57,868","57,891"
44UF,WARWICK,"61,061","62,005","63,100","64,454","65,632",WARWICK,"66,944","67,615","68,397","69,104","69,438"
45UB,ADUR,"28,341","28,445","28,664","28,712","28,713",ADUR,"28,694","29,031","29,225","29,340","29,519"
45UC,ARUN,"65,923","66,356","67,312","68,088","69,120",ARUN,"69,805","70,501","71,126","71,336","71,585"
45UD,CHICHESTER,"49,983","50,331","50,496","50,742","51,619",CHICHESTER,"51,675","52,062","52,556","53,117","53,646"
45UE,CRAWLEY,"49,303","49,626","49,183","48,985","49,191",CRAWLEY,"49,527","49,918","50,510","51,484","52,092"
45UF,HORSHAM,"59,004","59,394","59,548","60,174","60,728",HORSHAM,"61,228","61,886","62,654","62,870","63,176"
45UG,MID SUSSEX,"61,394","61,756","61,685","61,893","62,095",MID SUSSEX,"62,356","62,725","63,299","63,802","64,244"
45UH,WORTHING,"45,749","45,840","46,075","46,437","46,925",WORTHING,"47,312","47,812","48,588","49,042","49,303"
46UB,KENNET,"36,409","37,623","37,432","37,868","38,319",KENNET,"38,442","38,694","39,028","39,603","39,913"
46UC,NORTH WILTSHIRE,"61,677","62,082","62,292","62,782","63,136",NORTH WILTSHIRE,"63,605","63,881","64,728","65,294","65,531"
46UD,SALISBURY,"55,600","56,126","56,196","56,493","56,561",SALISBURY,"56,272","56,141","56,509","56,928","57,059"
46UF,WEST WILTSHIRE,"56,719","57,846","58,841","59,561","60,382",WEST WILTSHIRE,"60,673","60,928","61,362","61,735","61,974"
47UB,BROMSGROVE,"42,716","43,182","43,788","44,255","44,599",BROMSGROVE,"44,982","45,223","45,640","46,035","46,193"
47UC,MALVERN HILLS,"34,985","35,043","35,334","35,534","35,806",MALVERN HILLS,"35,875","36,164","36,479","36,793","36,757"
47UD,REDDITCH,"38,722","38,821","38,738","38,805","38,708",REDDITCH,"38,637","38,752","38,768","38,939","38,898"
47UE,WORCESTER,"45,273","45,536","45,380","45,492","45,415",WORCESTER,"45,643","45,616","45,749","46,016","46,424"
47UF,WYCHAVON,"55,126","55,787","55,920","56,209","56,503",WYCHAVON,"56,737","57,004","57,431","57,499","57,707"
47UG,WYRE FOREST,"47,723","47,658","47,832","48,046","48,006",WYRE FOREST,"48,134","48,333","48,476","48,563","48,468"

In [29]:
Males_all = Males_all[['Area_name_x', 'm2000', 'm2001', 'm2002', 'm2003', 'm2004', 'm2005', 'm2006', 'm2007', 'm2008', 'm2009']]
Males_all.reset_index(level=0, inplace=True)
Males_all = Males_all.rename(columns={'index': 'Code01'})

In [30]:
Males_all.to_csv(r'/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/Males_Final.csv')