In [22]:
import numpy as np
from matplotlib.pyplot import *
import pandas as pd
from scipy import stats
import glob
import os

In [23]:
#Specify files where the data is located
files = glob.glob(r'/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/?????.csv')

In [24]:
#View files
files

['/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2000.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2001.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2002.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2003.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2004.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2005.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2006.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2007.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2008.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2009.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2000.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2001.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2002.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2003.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2004.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2005.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2006.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2007.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2008.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/m2009.csv']

In [25]:
data={}
for file in files:
    data[{file}.format(os.path.basename(file))] = pd.read_csv(file)

AttributeError: 'set' object has no attribute 'format'

In [54]:
d={}
for x in files:
    d["{0}".format(os.path.basename(x)[0:5])] = pd.read_csv(x)
    d["{0}".format(os.path.basename(x)[0:5])] = d["{0}".format(os.path.basename(x)[0:5])][['Code', 'Name', 'all_ages']]



    
locals().update(d)
# data[{file}.format(file)] = pd.read_csv(file)

In [57]:
m2004

     Code                         Name    all_ages
0       1               UNITED KINGDOM  29,273,840
1       1                GREAT BRITAIN  28,437,349
2       1              ENGLAND & WALES  25,991,101
3       1                      ENGLAND  24,560,522
4       1                        WALES   1,430,579
5       1                     SCOTLAND   2,446,248
6       1             NORTHERN IRELAND     836,491
7       A                   NORTH EAST   1,234,057
8       B                   NORTH WEST   3,328,157
9       D     YORKSHIRE AND THE HUMBER   2,475,483
10      E                EAST MIDLANDS   2,113,196
11      F                WEST MIDLANDS   2,613,366
12      G                        EAST    2,693,547
13      H                       LONDON   3,666,110
14      J                   SOUTH EAST   3,973,325
15      K                   SOUTH WEST   2,463,281
16      W                        WALES   1,430,579
17   00EB                HARTLEPOOL UA      43,653
18   00EC             MIDDLESBROUGH UA      68,293
19   00EE      REDCAR AND CLEVELAND UA      67,213
20   00EF          STOCKTON ON TEES UA      90,904
21   00EH                DARLINGTON UA      47,236
22   00ET                    HALTON UA      57,278
23   00EU                WARRINGTON UA      94,829
24   00EX     BLACKBURN WITH DARWEN UA      69,126
25   00EY                 BLACKPOOL UA      69,591
26   00FA        KINGSTON UPON HULL UA     126,967
27   00FB  EAST RIDING OF YORKSHIRE UA     159,487
28   00FC   NORTH EAST LINCOLNSHIRE UA      76,936
29   00FD        NORTH LINCOLNSHIRE UA      76,784
..    ...                          ...         ...
555   95T                       ANTRIM      25,142
556   95X                         ARDS      36,536
557   95O                       ARMAGH      26,769
558   95G                    BALLYMENA      29,313
559   95D                   BALLYMONEY      13,961
560   95Q                    BANBRIDGE      21,975
561   95Z                      BELFAST     126,162
562   95V                CARRICKFERGUS      18,847
563   95Y                  CASTLEREAGH      31,472
564   95C                    COLERAINE      27,318
565   95I                    COOKSTOWN      16,789
566   95N                    CRAIGAVON      41,082
567   95A                       DERRY       52,291
568   95R                         DOWN      33,476
569   95M                    DUNGANNON      24,564
570   95L                    FERMANAGH      29,839
571   95F                        LARNE      15,155
572   95B                     LIMAVADY      17,488
573   95S                      LISBURN      53,702
574   95H                  MAGHERAFELT      20,800
575   95E                        MOYLE       8,114
576   95P               NEWRY & MOURNE      44,591
577   95U                 NEWTOWNABBEY      38,829
578   95W                   NORTH DOWN      37,702
579   95K                        OMAGH      25,153
580   95J                     STRABANE      19,421
581   ZE0                     EASTERN      319,050
582   ZN0                    NORTHERN      214,268
583   ZS0                    SOUTHERN      158,981
584   ZW0                     WESTERN      144,192

[585 rows x 3 columns]

In [ ]:
f2000 = pd.read_csv(r"/Users/annalisasheehan/Documents/Imperial-Diabetes/Population_Est/f2000.csv")

In [ ]:
f2000

In [ ]:
f2000= f2000[['Code', 'Name', 'all_ages']]

In [ ]:
f2000

In [ ]:
files =