In [5]:
import pandas as pd
import numpy as np

In [2]:
Northumbrian = pd.read_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\Drinking_water\Northumbrian\Northumbrian_NE.csv")

In [10]:
Northumbrian

,Si Spt Ref,Company,Spt Desc,Postcode,Grid E,Grid N,Datetaken,Detdesc,Qualifier,Value,Easting
0,990015081,NWL,N133 HALTWHISTLE & FEATHERSTONE,NE49,371234,564238,02-Apr-08,Nitrate,NaN,0.95,371234
1,990015081,NWL,N133 HALTWHISTLE & FEATHERSTONE,NE49,371347,565350,07-Feb-07,Nitrate,<,0.69,371347
2,990015101,NWL,S112 EASINGTON NORTH,SR7 9,388434,593526,28-Feb-05,Nitrate,NaN,5.10,388434
3,990015069,NWL,N121 OTTERBURN,NE19,388611,593484,01-Feb-08,Nitrate,<,0.69,388611
4,990015118,NWL,T115 LARTINGTON BOWES AND MICKLETON,DL12,396877,523716,03-Apr-06,Nitrate,NaN,2.10,396877
5,990015122,NWL,W104 BISHOP AUCKLAND & WOLSINGHAM,DL15,416460,533062,11-Feb-08,Nitrate,<,0.69,416460
6,990015085,NWL,N137 MORPETH,NE61,418333,586249,02-Mar-09,Nitrate,NaN,5.00,418333
7,990015054,NWL,N106 LOW SERVICE A&B,NE4 7,423536,563411,03-Jan-08,Nitrate,NaN,8.80,423536
8,990015123,NWL,W105 SACRISTON,DH1 5,426320,544915,12-Jul-06,Nitrate,NaN,0.79,426320
9,990015112,NWL,T109 SADBERGE,DL1 2,429942,516721,06-Dec-07,Nitrate,NaN,0.77,429942
10,990015093,NWL,S104 SUNDERLAND WEST,DH4 6,433829,551390,19-Jan-06,Nitrate,NaN,1.00,433829
11,990015091,NWL,S102 TYNESIDE CENTRAL & NORTH,NE33,436467,566368,02-May-07,Nitrate,NaN,3.80,436467
12,990015094,NWL,S105 SUNDERLAND NORTH,SR4 6,438675,557569,02-Jan-09,Nitrate,NaN,3.10,438675
13,990015109,NWL,T106 NUNTHORPE,DL6 3,444750,500895,18-Nov-08,Nitrate,NaN,2.80,444750
14,990015108,NWL,T105 MIDDLESBROUGH CENTRAL,TS1 2,449659,520078,07-Oct-09,Nitrate,<,2.70,449659
15,990015113,NWL,T110 EAST CLEVELAND,TS12,465937,516854,04-Apr-05,Nitrate,NaN,3.00,465937
16,990012617,NWL,N70 HALTWHISTLE & FEATHERSTONE ZONE,CA67A,361623218,565350415,19-Jan-00,Nitrate,NaN,3.50,361623
17,990015081,NWL,N133 HALTWHISTLE & FEATHERSTONE,CA8 2,361950000,563950000,07-Nov-07,Nitrate,NaN,1.00,361950
18,990015081,NWL,N133 HALTWHISTLE & FEATHERSTONE,CA8 7,363170700,566318700,17-Dec-04,Nitrate,<,0.69,363170
19,990012617,NWL,N70 HALTWHISTLE & FEATHERSTONE ZONE,CA87A,363194300,566789000,02-Oct-01,Nitrate,NaN,2.70,363194
20,990015081,NWL,N133 HALTWHISTLE & FEATHERSTONE,CA8 7,363240791,566395561,19-Mar-04,Nitrate,<,0.69,363240
21,990012617,NWL,N70 HALTWHISTLE & FEATHERSTONE ZONE,CA67B,363392532,566435078,03-Jul-00,Nitrate,NaN,3.00,363392
22,990015081,NWL,N133 HALTWHISTLE & FEATHERSTONE,CA8 7,363487913,566472364,02-May-07,Nitrate,<,0.69,363487
23,990015081,NWL,N133 HALTWHISTLE & FEATHERSTONE,CA8 7,363559400,566202600,06-Feb-08,Nitrate,<,0.69,363559
24,990015081,NWL,N133 HALTWHISTLE & FEATHERSTONE,CA8 7,363577208,566400486,28-Apr-10,Nitrate,<,2.70,363577
25,990012617,NWL,N70 HALTWHISTLE & FEATHERSTONE ZONE,CA67E,363934945,566247429,11-Apr-00,Nitrate,NaN,3.30,363934
26,990015071,NWL,N123 HALTON-LEA-GATE,CA8 7,365058581,558739778,09-Sep-09,Nitrate,NaN,2.80,365058
27,990015071,NWL,N123 HALTON-LEA-GATE,CA8 7,365058581,558739778,08-Sep-10,Nitrate,NaN,2.70,365058
28,990015071,NWL,N123 HALTON-LEA-GATE,CA8 7,365068982,558697565,21-Nov-07,Nitrate,NaN,3.20,365068
29,990700079,NWL,N33 HALTON-LEA-GATE ZONE,CA8 7,365074211,558701597,09-Dec-03,Nitrate,NaN,2.50,365074
...,...,...,...,...,...,...,...,...,...,...,...
7647,990000808,NWL,T22 EASINGTON ZONE (AXD),TS13,474160773,518304602,11-Aug-03,Nitrate,NaN,1.61,474160
7648,990000808,NWL,T22 EASINGTON ZONE (AXD),TS13,474193303,515561708,10-Nov-03,Nitrate,NaN,2.00,474193
7649,990000808,NWL,T22 EASINGTON ZONE (AXD),TS13,474203695,517942757,10-Feb-03,Nitrate,NaN,3.70,474203
7650,990000808,NWL,T22 EASINGTON ZONE (AXD),TS13,474263064,518113780,06-Aug-01,Nitrate,NaN,1.90,474263
7651,990000808,NWL,T22 EASINGTON ZONE (AXD),TS13,474297136,517840989,11-Nov-02,Nitrate,NaN,3.80,474297
7652,990000808,NWL,T22 EASINGTON ZONE (AXD),TS134,474310063,518034771,31-Jan-00,Nitrate,NaN,4.30,474310
7653,990000808,NWL,T22 EASINGTON ZONE (AXD),TS13,474316008,517779145,05-Feb-01,Nitrate,NaN,4.90,474316
7654,990000808,NWL,T22 EASINGTON ZONE (AXD),TS13,474326161,517872108,07-May-02,Nitrate,NaN,1.90,474326
7655,990000808,NWL,T22 EASINGTON ZONE (AXD),TS134,474334099,518267485,06-Nov-00,Nitrate,NaN,4.00,474334
7656,990000808,NWL,T22 EASINGTON ZONE (AXD),TS134,474343523,517780353,08-May-00,Nitrate,NaN,8.00,474343
7657,990015113,NWL,T110 EAST CLEVELAND,TS13,474366401,518102874,23-Jun-10,Nitrate,<,2.70,474366
7658,990015113,NWL,T110 EAST CLEVELAND,TS13,474401517,518093964,14-Nov-07,Nitrate,NaN,1.00,474401
7659,990000808,NWL,T22 EASINGTON ZONE (AXD),TS134,474410600,517926400,05-Nov-01,Nitrate,NaN,2.40,474410
7660,990000808,NWL,T22 EASINGTON ZONE (AXD),TS13,474448500,517857300,05-Aug-02,Nitrate,NaN,2.00,474448
7661,990000808,NWL,T22 EASINGTON ZONE (AXD),TS134,474480229,517714750,31-Jul-00,Nitrate,NaN,2.70,474480
7662,990000808,NWL,T22 EASINGTON ZONE (AXD),TS13,474498159,517756866,11-Feb-02,Nitrate,NaN,3.60,474498
7663,990000808,NWL,T22 EASINGTON ZONE (AXD),TS134,474515274,517893443,08-May-01,Nitrate,NaN,3.00,474515
7664,990000817,NWL,T31 BOULBY ZONE (AYM),TS13,474952707,517984230,28-Apr-03,Nitrate,NaN,3.10,474952
7665,990000817,NWL,T31 BOULBY ZONE (AYM),TS13,475844356,518939156,29-Jul-02,Nitrate,NaN,1.60,475844
7666,990000817,NWL,T31 BOULBY ZONE (AYM),TS13,475994100,519114600,04-Feb-02,Nitrate,NaN,3.20,475994
7667,990000817,NWL,T31 BOULBY ZONE (AYM),TS13,476002900,519112500,04-Nov-02,Nitrate,NaN,4.50,476002
7668,990000817,NWL,T31 BOULBY ZONE (AYM),TS134,476002900,519112500,29-Jan-01,Nitrate,NaN,2.80,476002
7669,990000817,NWL,T31 BOULBY ZONE (AYM),TS13,476009600,519103400,29-Apr-02,Nitrate,NaN,2.30,476009
7670,990000817,NWL,T31 BOULBY ZONE (AYM),TS134,476009600,519103400,15-May-00,Nitrate,NaN,6.60,476009
7671,990000817,NWL,T31 BOULBY ZONE (AYM),TS13,476048307,519058659,03-Nov-03,Nitrate,NaN,1.80,476048
7672,990000817,NWL,T31 BOULBY ZONE (AYM),TS134,476048307,519058659,13-Nov-00,Nitrate,NaN,3.10,476048
7673,990000817,NWL,T31 BOULBY ZONE (AYM),TS13,476109230,518810264,07-Aug-00,Nitrate,NaN,1.90,476109
7674,990000817,NWL,T31 BOULBY ZONE (AYM),TS1 3,476116424,518952321,04-Aug-03,Nitrate,NaN,1.60,476116
7675,990000817,NWL,T31 BOULBY ZONE (AYM),TS13,476143217,518916868,03-Feb-03,Nitrate,NaN,3.60,476143
7676,990000817,NWL,T31 BOULBY ZONE (AYM),TS134,476276486,518391640,07-Feb-00,Nitrate,NaN,2.80,476276

In [7]:
Northumbrian['Grid E'] = Northumbrian['Grid E'].astype('str')

In [9]:
Northumbrian['Grid N'] = Northumbrian['Grid N'].astype('str')

In [8]:
Northumbrian['Easting']= Northumbrian['Grid E'].str[:6]

In [11]:
Northumbrian['Northing']= Northumbrian['Grid N'].str[:6]

In [12]:
Northumbrian.to_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\Drinking_water\Northumbrian\Northumbrian_NE_new.csv")