- Code to split the Zone centroid column in the Portsmouth Water 'NO3 Imperial' file into:
    - prefix
    - easting 
    - northing 
    
So that the easting and northing values incorporating the prefix can be calculated.

In [1]:
#set libraries
import pandas as pd
import numpy as np

In [4]:
# Read in the wessex water dataset 
Portsmouth = pd.read_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\Drinking_water\Portsmouth\NO3_Imperial_AS.csv")

In [8]:
Portsmouth

,Date,Zone,Prefix,E_Short,N_Short,Area,NatGridRef,Lab Ref,Determinand,Qual,Result,Unit
0,07/01/1998,ZZWND,SU,68100,07200,"Paulsgrove,",SU681072,78632,Nitrate,NaN,17.3,mg/l as NO3
1,07/01/1998,ZZHAV,SU,71700,06600,Havant.,SU717066,78631,Nitrate,NaN,19.2,mg/l as NO3
2,07/01/1998,ZZPSE,SZ,66200,99800,"Portsmouth,",SZ662998,78640,Nitrate,NaN,22.4,mg/l as NO3
3,07/01/1998,ZZFAR,SU,57600,06200,"Fareham,",SU576062,78633,Nitrate,NaN,23.5,mg/l as NO3
4,07/01/1998,ZZBMY,SU,58100,03400,"Gosport,",SU581034,78636,Nitrate,NaN,23.6,mg/l as NO3
5,07/01/1998,ZZSTU,SU,55500,03100,"Stubbington,",SU555031,78634,Nitrate,NaN,23.9,mg/l as NO3
6,08/01/1998,ZZNBK,SU,55400,17600,Bishops Waltham.,SU554176,78657,Nitrate,NaN,26.8,mg/l as NO3
7,08/01/1998,ZZLOV,SU,69200,11900,Horndean.,SU692119,78668,Nitrate,NaN,29.3,mg/l as NO3
8,12/01/1998,ZZHDN,SU,86100,12700,West Dean.,SU861127,78827,Nitrate,NaN,27.2,mg/l as NO3
9,12/01/1998,ZZCHI,SU,86100,04800,Chichester.,SU861048,78808,Nitrate,NaN,27.3,mg/l as NO3
10,12/01/1998,ZZNOR,SU,96400,08300,"Slindon,",SU964083,78822,Nitrate,NaN,29.6,mg/l as NO3
11,12/01/1998,ZZYAP,SU,97800,03100,"Yapton,",SU978031,78820,Nitrate,NaN,31.3,mg/l as NO3
12,12/01/1998,ZZBOG,SZ,93500,99500,"Elm Grove,",SZ935995,78817,Nitrate,NaN,31.4,mg/l as NO3
13,12/01/1998,ZZSEL,SZ,85400,93400,West Witterings.,SZ854934,78807,Nitrate,NaN,35.2,mg/l as NO3
14,13/01/1998,ZZWMN,SU,64000,24000,"West Meon,",SU640240,78892,Nitrate,NaN,23.5,mg/l as NO3
15,13/01/1998,ZZFDR,SU,61100,16600,School Hill,SU611166,78878,Nitrate,NaN,23.8,mg/l as NO3
16,13/01/1998,ZZNEL,SU,68200,10500,"Cowplain,",SU682105,78901,Nitrate,NaN,35.6,mg/l as NO3
17,14/01/1998,ZZGOS,SZ,61600,99800,"Gosport,",SZ616998,78921,Nitrate,NaN,25.0,mg/l as NO3
18,14/01/1998,ZZFLY,SU,56400,08100,"Fareham,",SU564081,78920,Nitrate,NaN,26.0,mg/l as NO3
19,14/01/1998,ZZPON,SU,65500,02400,"Portsmouth,",SU655024,78922,Nitrate,NaN,28.4,mg/l as NO3
20,14/01/1998,ZZPSW,SZ,64100,94400,"Portsmouth,",SZ641944,78925,Nitrate,NaN,28.5,mg/l as NO3
21,19/01/1998,ZZBOG,SZ,93500,99500,"Bognor,",SZ935995,79082,Nitrate,NaN,31.3,mg/l as NO3
22,19/01/1998,ZZYAP,SU,97800,03100,"Felpham,",SU978031,79083,Nitrate,NaN,31.7,mg/l as NO3
23,20/01/1998,ZZNEL,SU,68200,10500,"Cowplain,",SU682105,79170,Nitrate,NaN,36.7,mg/l as NO3
24,26/01/1998,ZZYAP,SU,97800,03100,"Middleton,",SU978031,79362,Nitrate,NaN,32.7,mg/l as NO3
25,26/01/1998,ZZNOR,SU,96400,08300,"Eastergate,",SU964083,79363,Nitrate,NaN,32.8,mg/l as NO3
26,26/01/1998,ZZBOG,SZ,93500,99500,"Bognor,",SZ935995,79360,Nitrate,NaN,33.5,mg/l as NO3
27,27/01/1998,ZZNEL,SU,68200,10500,"Cowplain,",SU682105,79434,Nitrate,NaN,26.7,mg/l as NO3
28,02/02/1998,ZZHAV,SU,71700,06600,Laboratory.,SU717066,79630,Nitrate,NaN,32.3,mg/l as NO3
29,02/02/1998,ZZBOG,SZ,93500,99500,"Pagham,",SZ935995,79615,Nitrate,NaN,32.4,mg/l as NO3
...,...,...,...,...,...,...,...,...,...,...,...,...
3177,15/09/2011,ZZNBK,SU,56400,06900,"ARGYLE CRESCENT, FAREHAM",SU564069,PW165308,NO3,NaN,30.3,mg/l NO3
3178,16/09/2011,ZZPOS,SU,64900,00000,"CUMBERLAND ROAD, SOUTHSEA",SU649000,PW165989,NO3,NaN,28.0,mg/l NO3
3179,16/09/2011,ZZCHI,SU,86100,08400,"STAPLE LANE, EAST LAVANT",SU861084,PW164890,NO3,NaN,31.6,mg/l NO3
3180,20/09/2011,ZZWAL,SU,70300,09200,"CALSHOT ROAD, LEIGH PARK",SU703092,PW165582,NO3,NaN,26.5,mg/l NO3
3181,20/09/2011,ZZLOV,SU,69600,13100,"HEATH CLOSE, HORNDEAN",SU696131,PW166104,NO3,NaN,32.0,mg/l NO3
3182,23/09/2011,ZZBOG,SZ,93200,99900,"HILLSBORO ROAD, BOGNOR REGIS",SZ932999,PW163017,NO3,NaN,32.8,mg/l NO3
3183,27/09/2011,ZZLOV,SU,69800,12600,"CRISSPYN CLOSE, HORNDEAN",SU698126,PW166105,NO3,NaN,31.0,mg/l NO3
3184,10/10/2011,ZZLOV,SU,65100,13400,"RUSHMERE LANE, DENMEAD",SU651134,PW166108,NO3,NaN,32.4,mg/l NO3
3185,25/10/2011,ZZPON,SU,64500,02600,"TWYFORD AVENUE, PORTSMOUTH",SU645026,PW164630,NO3,NaN,26.5,mg/l NO3
3186,25/10/2011,ZZNBK,SU,56000,15000,"BULL LANE, WALTHAM CHASE",SU560150,PW165318,NO3,NaN,30.4,mg/l NO3
3187,26/10/2011,ZZWND,SU,68300,08700,"MARALYN AVENUE, WATERLOOVILLE",SU683087,PW165143,NO3,NaN,20.7,mg/l NO3
3188,26/10/2011,ZZHAV,SU,71900,06100,"TOWN HALL ROAD, HAVANT",SU719061,PW163388,NO3,NaN,25.3,mg/l NO3
3189,26/10/2011,ZZCHI,SZ,90400,98300,"BUTCHERS LANE, EAST DEAN",SZ904983,PW164907,NO3,NaN,26.4,mg/l NO3
3190,26/10/2011,ZZNEL,SU,69800,11300,"MARJORAM CRESCENT, COWPLAIN",SU698113,PW166206,NO3,NaN,29.5,mg/l NO3
3191,27/10/2011,ZZGOS,SZ,60000,98900,"GREEN ROAD, GOSPORT",SZ600989,PW165786,NO3,NaN,32.2,mg/l NO3
3192,27/10/2011,ZZFAR,SU,55300,03500,"THE CROFT, STUBBINGTON",SU553035,PW165480,NO3,NaN,32.5,mg/l NO3
3193,03/11/2011,ZZWAL,SU,74300,07300,"GODWIN CLOSE, EMSWORTH",SU743073,PW165595,NO3,NaN,23.8,mg/l NO3
3194,04/11/2011,ZZPOS,SZ,63300,99700,"ARMORY LANE, PORTSMOUTH",SZ633997,PW166042,NO3,NaN,26.2,mg/l NO3
3195,07/11/2011,ZZBOG,SZ,92200,99800,"FRITH ROAD, BOGNOR REGIS",SZ922998,PW163039,NO3,NaN,27.8,mg/l NO3
3196,06/12/2011,ZZGOS,SU,57900,01300,"BROOMFIELD CRESCENT, GOSPORT",SU579013,PW165808,NO3,NaN,35.6,mg/l NO3
3197,08/12/2011,ZZPON,SU,66700,01600,"STANLEY AVENUE, PORTSMOUTH",SU667016,PW164648,NO3,NaN,26.9,mg/l NO3
3198,09/12/2011,ZZPOS,SU,63400,00500,"KING WILLIAM STREET, PORTSMOUTH",SU634005,PW170005,NO3,NaN,26.4,mg/l NO3
3199,09/12/2011,ZZCHI,SZ,85900,92700,"SUNNYMEAD CLOSE, SELSEY",SZ859927,PW164927,NO3,NaN,29.0,mg/l NO3
3200,09/12/2011,ZZWND,SU,72400,10300,"NIGHTINGALE CLOSE, ROWLANDS CASTLE",SU724103,PW165158,NO3,NaN,31.0,mg/l NO3
3201,12/12/2011,ZZWAL,SU,70800,09200,"INKPEN WALK, LEIGH PARK",SU708092,PW165606,NO3,NaN,22.8,mg/l NO3
3202,12/12/2011,ZZHAV,SU,68700,05900,"RECTORY AVENUE, FARLINGTON",SU687059,PW163412,NO3,NaN,23.7,mg/l NO3
3203,12/12/2011,ZZNEL,SU,69000,10800,"LONDON ROAD, COWPLAIN",SU690108,PW166219,NO3,NaN,27.2,mg/l NO3
3204,13/12/2011,ZZNBK,SU,56100,17400,"SYCAMORE ROAD, BISHOPS WALTHAM",SU561174,PW165330,NO3,NaN,30.0,mg/l NO3
3205,16/12/2011,ZZBOG,SU,91800,00100,"HOLLAND CLOSE, BERSTED",SU918001,PW163060,NO3,NaN,27.1,mg/l NO3
3206,20/12/2011,ZZFAR,SU,55700,03300,"SWANTON CLOSE, STUBBINGTON",SU557033,PW165498,NO3,NaN,30.3,mg/l NO3

In [6]:
# insert columns for the split variables
Portsmouth.insert(2, 'Prefix', 'NaN')
Portsmouth.insert(3, 'E_Short', 'NaN')
Portsmouth.insert(4, 'N_Short', 'NaN')

In [7]:
Portsmouth['Prefix']= Portsmouth['NatGridRef'].str[:2]
Portsmouth['E_Short']=Portsmouth['NatGridRef'].str[2:5]+'00'
Portsmouth['N_Short']=Portsmouth['NatGridRef'].str[5:]+'00'

In [9]:
#Specify the prefix value for both easting based on the prefix code
conditions= [ 
    (Portsmouth['Prefix'] == 'SU'), 
    (Portsmouth['Prefix'] == 'SZ')
]
choices = [4, 4]
Portsmouth['Prefix_E'] = np.select(conditions, choices, default= 'NaN')

In [11]:
#Specify the prefix value for both northing based on the prefix code
conditions= [ 
    (Portsmouth['Prefix'] == 'SU'), 
    (Portsmouth['Prefix'] == 'SZ')
]
choices = [1, 0]
Portsmouth['Prefix_N'] = np.select(conditions, choices, default= 'NaN')

In [15]:
Portsmouth

,Date,Zone,Prefix,E_Short,N_Short,Area,NatGridRef,Lab Ref,Determinand,Qual,Result,Unit,Prefix_E,Prefix_N,Easting,Northing
0,07/01/1998,ZZWND,SU,68100,07200,"Paulsgrove,",SU681072,78632,Nitrate,NaN,17.3,mg/l as NO3,4,1,468100,107200
1,07/01/1998,ZZHAV,SU,71700,06600,Havant.,SU717066,78631,Nitrate,NaN,19.2,mg/l as NO3,4,1,471700,106600
2,07/01/1998,ZZPSE,SZ,66200,99800,"Portsmouth,",SZ662998,78640,Nitrate,NaN,22.4,mg/l as NO3,4,0,466200,099800
3,07/01/1998,ZZFAR,SU,57600,06200,"Fareham,",SU576062,78633,Nitrate,NaN,23.5,mg/l as NO3,4,1,457600,106200
4,07/01/1998,ZZBMY,SU,58100,03400,"Gosport,",SU581034,78636,Nitrate,NaN,23.6,mg/l as NO3,4,1,458100,103400
5,07/01/1998,ZZSTU,SU,55500,03100,"Stubbington,",SU555031,78634,Nitrate,NaN,23.9,mg/l as NO3,4,1,455500,103100
6,08/01/1998,ZZNBK,SU,55400,17600,Bishops Waltham.,SU554176,78657,Nitrate,NaN,26.8,mg/l as NO3,4,1,455400,117600
7,08/01/1998,ZZLOV,SU,69200,11900,Horndean.,SU692119,78668,Nitrate,NaN,29.3,mg/l as NO3,4,1,469200,111900
8,12/01/1998,ZZHDN,SU,86100,12700,West Dean.,SU861127,78827,Nitrate,NaN,27.2,mg/l as NO3,4,1,486100,112700
9,12/01/1998,ZZCHI,SU,86100,04800,Chichester.,SU861048,78808,Nitrate,NaN,27.3,mg/l as NO3,4,1,486100,104800
10,12/01/1998,ZZNOR,SU,96400,08300,"Slindon,",SU964083,78822,Nitrate,NaN,29.6,mg/l as NO3,4,1,496400,108300
11,12/01/1998,ZZYAP,SU,97800,03100,"Yapton,",SU978031,78820,Nitrate,NaN,31.3,mg/l as NO3,4,1,497800,103100
12,12/01/1998,ZZBOG,SZ,93500,99500,"Elm Grove,",SZ935995,78817,Nitrate,NaN,31.4,mg/l as NO3,4,0,493500,099500
13,12/01/1998,ZZSEL,SZ,85400,93400,West Witterings.,SZ854934,78807,Nitrate,NaN,35.2,mg/l as NO3,4,0,485400,093400
14,13/01/1998,ZZWMN,SU,64000,24000,"West Meon,",SU640240,78892,Nitrate,NaN,23.5,mg/l as NO3,4,1,464000,124000
15,13/01/1998,ZZFDR,SU,61100,16600,School Hill,SU611166,78878,Nitrate,NaN,23.8,mg/l as NO3,4,1,461100,116600
16,13/01/1998,ZZNEL,SU,68200,10500,"Cowplain,",SU682105,78901,Nitrate,NaN,35.6,mg/l as NO3,4,1,468200,110500
17,14/01/1998,ZZGOS,SZ,61600,99800,"Gosport,",SZ616998,78921,Nitrate,NaN,25.0,mg/l as NO3,4,0,461600,099800
18,14/01/1998,ZZFLY,SU,56400,08100,"Fareham,",SU564081,78920,Nitrate,NaN,26.0,mg/l as NO3,4,1,456400,108100
19,14/01/1998,ZZPON,SU,65500,02400,"Portsmouth,",SU655024,78922,Nitrate,NaN,28.4,mg/l as NO3,4,1,465500,102400
20,14/01/1998,ZZPSW,SZ,64100,94400,"Portsmouth,",SZ641944,78925,Nitrate,NaN,28.5,mg/l as NO3,4,0,464100,094400
21,19/01/1998,ZZBOG,SZ,93500,99500,"Bognor,",SZ935995,79082,Nitrate,NaN,31.3,mg/l as NO3,4,0,493500,099500
22,19/01/1998,ZZYAP,SU,97800,03100,"Felpham,",SU978031,79083,Nitrate,NaN,31.7,mg/l as NO3,4,1,497800,103100
23,20/01/1998,ZZNEL,SU,68200,10500,"Cowplain,",SU682105,79170,Nitrate,NaN,36.7,mg/l as NO3,4,1,468200,110500
24,26/01/1998,ZZYAP,SU,97800,03100,"Middleton,",SU978031,79362,Nitrate,NaN,32.7,mg/l as NO3,4,1,497800,103100
25,26/01/1998,ZZNOR,SU,96400,08300,"Eastergate,",SU964083,79363,Nitrate,NaN,32.8,mg/l as NO3,4,1,496400,108300
26,26/01/1998,ZZBOG,SZ,93500,99500,"Bognor,",SZ935995,79360,Nitrate,NaN,33.5,mg/l as NO3,4,0,493500,099500
27,27/01/1998,ZZNEL,SU,68200,10500,"Cowplain,",SU682105,79434,Nitrate,NaN,26.7,mg/l as NO3,4,1,468200,110500
28,02/02/1998,ZZHAV,SU,71700,06600,Laboratory.,SU717066,79630,Nitrate,NaN,32.3,mg/l as NO3,4,1,471700,106600
29,02/02/1998,ZZBOG,SZ,93500,99500,"Pagham,",SZ935995,79615,Nitrate,NaN,32.4,mg/l as NO3,4,0,493500,099500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3177,15/09/2011,ZZNBK,SU,56400,06900,"ARGYLE CRESCENT, FAREHAM",SU564069,PW165308,NO3,NaN,30.3,mg/l NO3,4,1,456400,106900
3178,16/09/2011,ZZPOS,SU,64900,00000,"CUMBERLAND ROAD, SOUTHSEA",SU649000,PW165989,NO3,NaN,28.0,mg/l NO3,4,1,464900,100000
3179,16/09/2011,ZZCHI,SU,86100,08400,"STAPLE LANE, EAST LAVANT",SU861084,PW164890,NO3,NaN,31.6,mg/l NO3,4,1,486100,108400
3180,20/09/2011,ZZWAL,SU,70300,09200,"CALSHOT ROAD, LEIGH PARK",SU703092,PW165582,NO3,NaN,26.5,mg/l NO3,4,1,470300,109200
3181,20/09/2011,ZZLOV,SU,69600,13100,"HEATH CLOSE, HORNDEAN",SU696131,PW166104,NO3,NaN,32.0,mg/l NO3,4,1,469600,113100
3182,23/09/2011,ZZBOG,SZ,93200,99900,"HILLSBORO ROAD, BOGNOR REGIS",SZ932999,PW163017,NO3,NaN,32.8,mg/l NO3,4,0,493200,099900
3183,27/09/2011,ZZLOV,SU,69800,12600,"CRISSPYN CLOSE, HORNDEAN",SU698126,PW166105,NO3,NaN,31.0,mg/l NO3,4,1,469800,112600
3184,10/10/2011,ZZLOV,SU,65100,13400,"RUSHMERE LANE, DENMEAD",SU651134,PW166108,NO3,NaN,32.4,mg/l NO3,4,1,465100,113400
3185,25/10/2011,ZZPON,SU,64500,02600,"TWYFORD AVENUE, PORTSMOUTH",SU645026,PW164630,NO3,NaN,26.5,mg/l NO3,4,1,464500,102600
3186,25/10/2011,ZZNBK,SU,56000,15000,"BULL LANE, WALTHAM CHASE",SU560150,PW165318,NO3,NaN,30.4,mg/l NO3,4,1,456000,115000
3187,26/10/2011,ZZWND,SU,68300,08700,"MARALYN AVENUE, WATERLOOVILLE",SU683087,PW165143,NO3,NaN,20.7,mg/l NO3,4,1,468300,108700
3188,26/10/2011,ZZHAV,SU,71900,06100,"TOWN HALL ROAD, HAVANT",SU719061,PW163388,NO3,NaN,25.3,mg/l NO3,4,1,471900,106100
3189,26/10/2011,ZZCHI,SZ,90400,98300,"BUTCHERS LANE, EAST DEAN",SZ904983,PW164907,NO3,NaN,26.4,mg/l NO3,4,0,490400,098300
3190,26/10/2011,ZZNEL,SU,69800,11300,"MARJORAM CRESCENT, COWPLAIN",SU698113,PW166206,NO3,NaN,29.5,mg/l NO3,4,1,469800,111300
3191,27/10/2011,ZZGOS,SZ,60000,98900,"GREEN ROAD, GOSPORT",SZ600989,PW165786,NO3,NaN,32.2,mg/l NO3,4,0,460000,098900
3192,27/10/2011,ZZFAR,SU,55300,03500,"THE CROFT, STUBBINGTON",SU553035,PW165480,NO3,NaN,32.5,mg/l NO3,4,1,455300,103500
3193,03/11/2011,ZZWAL,SU,74300,07300,"GODWIN CLOSE, EMSWORTH",SU743073,PW165595,NO3,NaN,23.8,mg/l NO3,4,1,474300,107300
3194,04/11/2011,ZZPOS,SZ,63300,99700,"ARMORY LANE, PORTSMOUTH",SZ633997,PW166042,NO3,NaN,26.2,mg/l NO3,4,0,463300,099700
3195,07/11/2011,ZZBOG,SZ,92200,99800,"FRITH ROAD, BOGNOR REGIS",SZ922998,PW163039,NO3,NaN,27.8,mg/l NO3,4,0,492200,099800
3196,06/12/2011,ZZGOS,SU,57900,01300,"BROOMFIELD CRESCENT, GOSPORT",SU579013,PW165808,NO3,NaN,35.6,mg/l NO3,4,1,457900,101300
3197,08/12/2011,ZZPON,SU,66700,01600,"STANLEY AVENUE, PORTSMOUTH",SU667016,PW164648,NO3,NaN,26.9,mg/l NO3,4,1,466700,101600
3198,09/12/2011,ZZPOS,SU,63400,00500,"KING WILLIAM STREET, PORTSMOUTH",SU634005,PW170005,NO3,NaN,26.4,mg/l NO3,4,1,463400,100500
3199,09/12/2011,ZZCHI,SZ,85900,92700,"SUNNYMEAD CLOSE, SELSEY",SZ859927,PW164927,NO3,NaN,29.0,mg/l NO3,4,0,485900,092700
3200,09/12/2011,ZZWND,SU,72400,10300,"NIGHTINGALE CLOSE, ROWLANDS CASTLE",SU724103,PW165158,NO3,NaN,31.0,mg/l NO3,4,1,472400,110300
3201,12/12/2011,ZZWAL,SU,70800,09200,"INKPEN WALK, LEIGH PARK",SU708092,PW165606,NO3,NaN,22.8,mg/l NO3,4,1,470800,109200
3202,12/12/2011,ZZHAV,SU,68700,05900,"RECTORY AVENUE, FARLINGTON",SU687059,PW163412,NO3,NaN,23.7,mg/l NO3,4,1,468700,105900
3203,12/12/2011,ZZNEL,SU,69000,10800,"LONDON ROAD, COWPLAIN",SU690108,PW166219,NO3,NaN,27.2,mg/l NO3,4,1,469000,110800
3204,13/12/2011,ZZNBK,SU,56100,17400,"SYCAMORE ROAD, BISHOPS WALTHAM",SU561174,PW165330,NO3,NaN,30.0,mg/l NO3,4,1,456100,117400
3205,16/12/2011,ZZBOG,SU,91800,00100,"HOLLAND CLOSE, BERSTED",SU918001,PW163060,NO3,NaN,27.1,mg/l NO3,4,1,491800,100100
3206,20/12/2011,ZZFAR,SU,55700,03300,"SWANTON CLOSE, STUBBINGTON",SU557033,PW165498,NO3,NaN,30.3,mg/l NO3,4,1,455700,103300

In [14]:
# Add the prefix to the short easting and northings to create a complete easting and northing
Portsmouth['Easting']= Portsmouth['Prefix_E'] + Portsmouth['E_Short']
Portsmouth['Northing']= Portsmouth['Prefix_N'] + Portsmouth['N_Short']

In [16]:
#check the values 
Portsmouth.to_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\Drinking_water\Portsmouth\NO3_Imperial_AS_final.csv")