What i want to do: 
- read in postcode dataset
- loop through the code point files 
- join postcodes in each file 
- make sure these are saved and each time loop through a file it doesn't delete earlier merges.

In [1]:
# Set libraries
import pandas as pd
import glob
import os
import numpy as np
import datetime
import string
import re

In [2]:
# Read in postcode dataset
SWW_postcode = pd.read_csv(r'/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/SWW postcodes.csv')

- Get rid of the white space in the postcodes that have XXXX XXX to XXXXXXX characters so that they match with the OS codepoint dataset

In [3]:
dtypeCount =[SWW_postcode.iloc[:,i].apply(type).value_counts() for i in range(SWW_postcode.shape[1])]

In [4]:
dtypeCount

[<class 'str'>    11011
 Name: date, dtype: int64, <class 'str'>    11011
 Name: Postcode, dtype: int64]

In [6]:
# Change the postcode field to string
SWW_postcode['Postcode']= SWW_postcode['Postcode'].astype('str')

In [7]:
mask = (SWW_postcode['Postcode'].str.len()>7)
mask2 = (SWW_postcode['Postcode'].str.len()<8)

In [8]:
df1 = SWW_postcode.loc[mask]

In [9]:
df2 = SWW_postcode.loc[mask2]

In [10]:
df2

           date Postcode
1      04/03/03      DT6
2      14/11/08  DT7 3AB
3      05/05/11  DT7 3AD
4      15/03/10  DT7 3AD
5      02/09/04  DT7 3AD
6      16/01/13  DT7 3BB
7      07/03/08  DT7 3BB
8      21/10/11  DT7 3BH
9      08/07/16  DT7 3BJ
10     13/02/14  DT7 3BP
11     04/12/09  DT7 3DN
12     04/12/09  DT7 3DP
13     21/08/09  DT7 3DS
14     22/09/11  DT7 3DU
15     05/05/05  DT7 3DU
16     04/12/09  DT7 3DW
17     04/12/09  DT7 3EB
18     06/09/13  DT7 3EZ
19     18/07/06  DT7 3EZ
20     07/01/08  DT7 3EZ
21     24/09/10  DT7 3EZ
22     30/11/06  DT7 3HF
23     15/09/10  DT7 3HJ
24     10/04/12  DT7 3HQ
25     29/04/10  DT7 3HS
26     06/11/01  DT7 3HZ
27     10/11/03  DT7 3JF
28     27/01/03  DT7 3PE
29     30/01/14  DT7 3RA
30     22/10/15  DT7 3RH
...         ...      ...
10980  11/01/17  TR9 6PQ
10981  15/02/07  TR9 6PT
10982  16/09/02  TR9 6PX
10983  02/02/06  TR9 6QW
10984  30/06/08  TR9 6QZ
10985  17/04/01  TR9 6RH
10986  28/11/00  TR9 6RJ
10987  10/08/01  TR9 6RJ
10988  10/07/02  TR9 6RL
10989  08/08/02  TR9 6RL
10990  04/10/07  TR9 6RP
10991  19/04/02  TR9 6SA
10992  23/09/02  TR9 6SA
10993  29/10/02  TR9 6SA
10994  27/11/02  TR9 6SA
10995  26/10/09  TR9 6SB
10996  29/09/03  TR9 6SG
10997  04/03/11  TR9 6SM
10998  01/12/03  TR9 6SN
10999  10/06/03  TR9 6ST
11000  29/05/09  TR9 6TD
11001  16/05/01  TR9 6TD
11002  22/01/02  TR9 6TJ
11003  06/09/02  TR9 6TJ
11004  30/09/02  TR9 6TJ
11005  31/12/12  TR9 6TN
11006  04/01/08  TR9 6TN
11007  30/08/05  TW6 9NX
11009  14/07/05  WX7 9AY
11010  27/04/06  WX7 9ML

[4315 rows x 2 columns]

In [11]:
SWW_postcode

           date  Postcode
0      24/02/17  BH25 5LA
1      04/03/03       DT6
2      14/11/08   DT7 3AB
3      05/05/11   DT7 3AD
4      15/03/10   DT7 3AD
5      02/09/04   DT7 3AD
6      16/01/13   DT7 3BB
7      07/03/08   DT7 3BB
8      21/10/11   DT7 3BH
9      08/07/16   DT7 3BJ
10     13/02/14   DT7 3BP
11     04/12/09   DT7 3DN
12     04/12/09   DT7 3DP
13     21/08/09   DT7 3DS
14     22/09/11   DT7 3DU
15     05/05/05   DT7 3DU
16     04/12/09   DT7 3DW
17     04/12/09   DT7 3EB
18     06/09/13   DT7 3EZ
19     18/07/06   DT7 3EZ
20     07/01/08   DT7 3EZ
21     24/09/10   DT7 3EZ
22     30/11/06   DT7 3HF
23     15/09/10   DT7 3HJ
24     10/04/12   DT7 3HQ
25     29/04/10   DT7 3HS
26     06/11/01   DT7 3HZ
27     10/11/03   DT7 3JF
28     27/01/03   DT7 3PE
29     30/01/14   DT7 3RA
...         ...       ...
10981  15/02/07   TR9 6PT
10982  16/09/02   TR9 6PX
10983  02/02/06   TR9 6QW
10984  30/06/08   TR9 6QZ
10985  17/04/01   TR9 6RH
10986  28/11/00   TR9 6RJ
10987  10/08/01   TR9 6RJ
10988  10/07/02   TR9 6RL
10989  08/08/02   TR9 6RL
10990  04/10/07   TR9 6RP
10991  19/04/02   TR9 6SA
10992  23/09/02   TR9 6SA
10993  29/10/02   TR9 6SA
10994  27/11/02   TR9 6SA
10995  26/10/09   TR9 6SB
10996  29/09/03   TR9 6SG
10997  04/03/11   TR9 6SM
10998  01/12/03   TR9 6SN
10999  10/06/03   TR9 6ST
11000  29/05/09   TR9 6TD
11001  16/05/01   TR9 6TD
11002  22/01/02   TR9 6TJ
11003  06/09/02   TR9 6TJ
11004  30/09/02   TR9 6TJ
11005  31/12/12   TR9 6TN
11006  04/01/08   TR9 6TN
11007  30/08/05   TW6 9NX
11008  24/06/02  WX23 8HZ
11009  14/07/05   WX7 9AY
11010  27/04/06   WX7 9ML

[11011 rows x 2 columns]

In [12]:
df1['First']= df1['Postcode'].str[:4]

/Users/annalisasheehan/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [13]:
df1['Last']= df1['Postcode'].str[5:8]

/Users/annalisasheehan/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [14]:
df1['New_pstcd'] = df1['First'].map(str) + df1['Last']

/Users/annalisasheehan/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [15]:
df1

           date  Postcode First Last New_pstcd
0      24/02/17  BH25 5LA  BH25  5LA   BH255LA
46     06/12/02  ES37 9PP  ES37  9PP   ES379PP
50     12/04/12  EX1  3HD  EX1   3HD   EX1 3HD
165    27/02/07  EX10 0AF  EX10  0AF   EX100AF
166    01/03/07  EX10 0AF  EX10  0AF   EX100AF
167    01/02/16  EX10 0AR  EX10  0AR   EX100AR
168    28/07/06  EX10 0BB  EX10  0BB   EX100BB
169    10/10/07  EX10 0BE  EX10  0BE   EX100BE
170    03/05/06  EX10 0BJ  EX10  0BJ   EX100BJ
171    31/05/01  EX10 0BP  EX10  0BP   EX100BP
172    24/08/06  EX10 0BQ  EX10  0BQ   EX100BQ
173    30/05/08  EX10 0BQ  EX10  0BQ   EX100BQ
174    24/03/09  EX10 0BQ  EX10  0BQ   EX100BQ
175    02/06/06  EX10 0BR  EX10  0BR   EX100BR
176    11/09/06  EX10 0BR  EX10  0BR   EX100BR
177    03/12/07  EX10 0BR  EX10  0BR   EX100BR
178    22/04/10  EX10 0BS  EX10  0BS   EX100BS
179    31/05/07  EX10 0BT  EX10  0BT   EX100BT
180    18/10/06  EX10 0BW  EX10  0BW   EX100BW
181    06/06/06  EX10 0DH  EX10  0DH   EX100DH
182    14/11/06  EX10 0DH  EX10  0DH   EX100DH
183    23/04/07  EX10 0DH  EX10  0DH   EX100DH
184    27/11/08  EX10 0DJ  EX10  0DJ   EX100DJ
185    01/09/03  EX10 0DJ  EX10  0DJ   EX100DJ
186    08/11/04  EX10 0DJ  EX10  0DJ   EX100DJ
187    12/06/06  EX10 0DL  EX10  0DL   EX100DL
188    08/12/05  EX10 0DN  EX10  0DN   EX100DN
189    02/08/07  EX10 0DQ  EX10  0DQ   EX100DQ
190    17/07/06  EX10 0DR  EX10  0DR   EX100DR
191    13/11/08  EX10 0DX  EX10  0DX   EX100DX
...         ...       ...   ...  ...       ...
10638  14/11/03  TR27 5EA  TR27  5EA   TR275EA
10639  28/09/15  TR27 5ET  TR27  5ET   TR275ET
10640  08/10/01  TR27 5HH  TR27  5HH   TR275HH
10641  20/06/02  TR27 5HJ  TR27  5HJ   TR275HJ
10642  05/11/03  TR27 5HJ  TR27  5HJ   TR275HJ
10643  09/04/14  TR27 5HL  TR27  5HL   TR275HL
10644  15/12/06  TR27 5HQ  TR27  5HQ   TR275HQ
10645  04/09/08  TR27 5HQ  TR27  5HQ   TR275HQ
10646  18/05/01  TR27 5HT  TR27  5HT   TR275HT
10647  26/07/06  TR27 5JB  TR27  5JB   TR275JB
10648  01/08/13  TR27 5JF  TR27  5JF   TR275JF
10649  02/11/01  TR27 5JL  TR27  5JL   TR275JL
10650  14/10/04  TR27 6AF  TR27  6AF   TR276AF
10651  20/02/14  TR27 6AQ  TR27  6AQ   TR276AQ
10652  01/06/09  TR27 6AQ  TR27  6AQ   TR276AQ
10653  03/10/05  TR27 6DE  TR27  6DE   TR276DE
10654  23/07/12  TR27 6EJ  TR27  6EJ   TR276EJ
10655  30/05/07  TR27 6GL  TR27  6GL   TR276GL
10656  27/02/09  TR27 6HL  TR27  6HL   TR276HL
10657  01/06/06  TR27 6HY  TR27  6HY   TR276HY
10658  05/07/04  TR27 6JD  TR27  6JD   TR276JD
10659  01/12/06  TR27 6JQ  TR27  6JQ   TR276JQ
10660  14/11/07  TR27 6JR  TR27  6JR   TR276JR
10661  21/07/09  TR27 6JR  TR27  6JR   TR276JR
10662  09/12/04  TR27 6LS  TR27  6LS   TR276LS
10663  24/04/03  TR27 6ND  TR27  6ND   TR276ND
10664  06/08/09  TR27 6PF  TR27  6PF   TR276PF
10665  06/08/09  TR27 6PL  TR27  6PL   TR276PL
10751  19/09/03  TR37 7EP  TR37  7EP   TR377EP
11008  24/06/02  WX23 8HZ  WX23  8HZ   WX238HZ

[6696 rows x 5 columns]

In [16]:
df1_n = df1[['date', 'New_pstcd']]

In [17]:
df1_n

           date New_pstcd
0      24/02/17   BH255LA
46     06/12/02   ES379PP
50     12/04/12   EX1 3HD
165    27/02/07   EX100AF
166    01/03/07   EX100AF
167    01/02/16   EX100AR
168    28/07/06   EX100BB
169    10/10/07   EX100BE
170    03/05/06   EX100BJ
171    31/05/01   EX100BP
172    24/08/06   EX100BQ
173    30/05/08   EX100BQ
174    24/03/09   EX100BQ
175    02/06/06   EX100BR
176    11/09/06   EX100BR
177    03/12/07   EX100BR
178    22/04/10   EX100BS
179    31/05/07   EX100BT
180    18/10/06   EX100BW
181    06/06/06   EX100DH
182    14/11/06   EX100DH
183    23/04/07   EX100DH
184    27/11/08   EX100DJ
185    01/09/03   EX100DJ
186    08/11/04   EX100DJ
187    12/06/06   EX100DL
188    08/12/05   EX100DN
189    02/08/07   EX100DQ
190    17/07/06   EX100DR
191    13/11/08   EX100DX
...         ...       ...
10638  14/11/03   TR275EA
10639  28/09/15   TR275ET
10640  08/10/01   TR275HH
10641  20/06/02   TR275HJ
10642  05/11/03   TR275HJ
10643  09/04/14   TR275HL
10644  15/12/06   TR275HQ
10645  04/09/08   TR275HQ
10646  18/05/01   TR275HT
10647  26/07/06   TR275JB
10648  01/08/13   TR275JF
10649  02/11/01   TR275JL
10650  14/10/04   TR276AF
10651  20/02/14   TR276AQ
10652  01/06/09   TR276AQ
10653  03/10/05   TR276DE
10654  23/07/12   TR276EJ
10655  30/05/07   TR276GL
10656  27/02/09   TR276HL
10657  01/06/06   TR276HY
10658  05/07/04   TR276JD
10659  01/12/06   TR276JQ
10660  14/11/07   TR276JR
10661  21/07/09   TR276JR
10662  09/12/04   TR276LS
10663  24/04/03   TR276ND
10664  06/08/09   TR276PF
10665  06/08/09   TR276PL
10751  19/09/03   TR377EP
11008  24/06/02   WX238HZ

[6696 rows x 2 columns]

In [18]:
df1_n = df1_n.rename(columns={'New_pstcd':'Postcode'})

In [19]:
df_all = pd.concat([df1_n, df2])

In [20]:
df_all

           date Postcode
0      24/02/17  BH255LA
46     06/12/02  ES379PP
50     12/04/12  EX1 3HD
165    27/02/07  EX100AF
166    01/03/07  EX100AF
167    01/02/16  EX100AR
168    28/07/06  EX100BB
169    10/10/07  EX100BE
170    03/05/06  EX100BJ
171    31/05/01  EX100BP
172    24/08/06  EX100BQ
173    30/05/08  EX100BQ
174    24/03/09  EX100BQ
175    02/06/06  EX100BR
176    11/09/06  EX100BR
177    03/12/07  EX100BR
178    22/04/10  EX100BS
179    31/05/07  EX100BT
180    18/10/06  EX100BW
181    06/06/06  EX100DH
182    14/11/06  EX100DH
183    23/04/07  EX100DH
184    27/11/08  EX100DJ
185    01/09/03  EX100DJ
186    08/11/04  EX100DJ
187    12/06/06  EX100DL
188    08/12/05  EX100DN
189    02/08/07  EX100DQ
190    17/07/06  EX100DR
191    13/11/08  EX100DX
...         ...      ...
10980  11/01/17  TR9 6PQ
10981  15/02/07  TR9 6PT
10982  16/09/02  TR9 6PX
10983  02/02/06  TR9 6QW
10984  30/06/08  TR9 6QZ
10985  17/04/01  TR9 6RH
10986  28/11/00  TR9 6RJ
10987  10/08/01  TR9 6RJ
10988  10/07/02  TR9 6RL
10989  08/08/02  TR9 6RL
10990  04/10/07  TR9 6RP
10991  19/04/02  TR9 6SA
10992  23/09/02  TR9 6SA
10993  29/10/02  TR9 6SA
10994  27/11/02  TR9 6SA
10995  26/10/09  TR9 6SB
10996  29/09/03  TR9 6SG
10997  04/03/11  TR9 6SM
10998  01/12/03  TR9 6SN
10999  10/06/03  TR9 6ST
11000  29/05/09  TR9 6TD
11001  16/05/01  TR9 6TD
11002  22/01/02  TR9 6TJ
11003  06/09/02  TR9 6TJ
11004  30/09/02  TR9 6TJ
11005  31/12/12  TR9 6TN
11006  04/01/08  TR9 6TN
11007  30/08/05  TW6 9NX
11009  14/07/05  WX7 9AY
11010  27/04/06  WX7 9ML

[11011 rows x 2 columns]

In [21]:
df_all = df_all.set_index('Postcode')

In [53]:
df_all

,date,Positional_quality_indicator,Eastings,Northings,Country_code,NHS_regional_HA_code,NHS_HA_code,Admin_county_code,Admin_district_code,Admin_ward_code
Postcode,,,,,,,,,,
BH255LA,24/02/17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ES379PP,06/12/02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EX1 3HD,12/04/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EX100AF,27/02/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EX100AF,01/03/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EX100AR,01/02/16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EX100BB,28/07/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EX100BE,10/10/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EX100BJ,03/05/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EX100BP,31/05/01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EX100BQ,24/08/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EX100BQ,30/05/08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EX100BQ,24/03/09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EX100BR,02/06/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EX100BR,11/09/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EX100BR,03/12/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EX100BS,22/04/10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EX100BT,31/05/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EX100BW,18/10/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EX100DH,06/06/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EX100DH,14/11/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EX100DH,23/04/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EX100DJ,27/11/08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EX100DJ,01/09/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EX100DJ,08/11/04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EX100DL,12/06/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EX100DN,08/12/05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EX100DQ,02/08/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EX100DR,17/07/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EX100DX,13/11/08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
TR9 6PQ,11/01/17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TR9 6PT,15/02/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TR9 6PX,16/09/02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TR9 6QW,02/02/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TR9 6QZ,30/06/08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TR9 6RH,17/04/01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TR9 6RJ,28/11/00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TR9 6RJ,10/08/01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TR9 6RL,10/07/02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TR9 6RL,08/08/02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TR9 6RP,04/10/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TR9 6SA,19/04/02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TR9 6SA,23/09/02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TR9 6SA,29/10/02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TR9 6SA,27/11/02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TR9 6SB,26/10/09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TR9 6SG,29/09/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TR9 6SM,04/03/11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TR9 6SN,01/12/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TR9 6ST,10/06/03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TR9 6TD,29/05/09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TR9 6TD,16/05/01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TR9 6TJ,22/01/02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TR9 6TJ,06/09/02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TR9 6TJ,30/09/02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TR9 6TN,31/12/12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TR9 6TN,04/01/08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TW6 9NX,30/08/05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WX7 9AY,14/07/05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WX7 9ML,27/04/06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- Create a list of the files within the codepoint folder (containing all the different postcodes)

- read in the header file for the Code point postcode files 
- set the index to the column which says postcode

In [42]:
labels = pd.read_csv(r'/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Doc/Code-Point_Open_Column_Headers.csv', header = None)

In [26]:
labels2 = labels

In [27]:
labels2.columns = labels2.iloc[0]

In [28]:
labels2

,Postcode,Positional_quality_indicator,Eastings,Northings,Country_code,NHS_regional_HA_code,NHS_HA_code,Admin_county_code,Admin_district_code,Admin_ward_code
0,Postcode,Positional_quality_indicator,Eastings,Northings,Country_code,NHS_regional_HA_code,NHS_HA_code,Admin_county_code,Admin_district_code,Admin_ward_code

In [29]:
labels2 = labels2.set_index('Postcode')

In [30]:
labels2 = labels2.reindex(labels2.index.drop('Postcode'))

In [31]:
df_all = df_all.merge(labels2, how='left', left_index=True, right_index=True)

In [32]:
labels

,Postcode,Positional_quality_indicator,Eastings,Northings,Country_code,NHS_regional_HA_code,NHS_HA_code,Admin_county_code,Admin_district_code,Admin_ward_code
0,Postcode,Positional_quality_indicator,Eastings,Northings,Country_code,NHS_regional_HA_code,NHS_HA_code,Admin_county_code,Admin_district_code,Admin_ward_code

In [23]:
files = glob.glob(r'/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/*')

In [24]:
files

['/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/ab.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/al.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/b.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/ba.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/bb.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/bd.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/bh.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/bl.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/bn.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/br.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/bs.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/ca.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/cb.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/cf.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/ch.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/cm.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/co.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/cr.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/ct.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/cv.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/cw.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/da.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/dd.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/de.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/dg.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/dh.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/dl.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/dn.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/dt.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/dy.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/e.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/ec.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/eh.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/en.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/ex.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/fk.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/fy.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/g.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/gl.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/gu.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/ha.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/hd.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/hg.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/hp.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/hr.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/hs.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/hu.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/hx.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/ig.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/ip.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/iv.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/ka.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/kt.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/kw.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/ky.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/l.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/la.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/ld.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/le.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/ll.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/ln.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/ls.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/lu.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/m.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/me.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/mk.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/ml.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/n.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/ne.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/ng.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/nn.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/np.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/nr.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/nw.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/ol.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/ox.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/pa.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/pe.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/ph.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/pl.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/po.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/pr.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/rg.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/rh.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/rm.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/s.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/sa.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/se.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/sg.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/sk.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/sl.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/sm.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/sn.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/so.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/sp.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/sr.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/ss.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/st.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/sw.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/sy.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/ta.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/td.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/tf.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/tn.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/tq.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/tr.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/ts.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/tw.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/ub.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/w.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/wa.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/wc.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/wd.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/wf.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/wn.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/wr.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/ws.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/wv.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/yo.csv',
 '/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/ze.csv']

In [33]:
postcode = pd.read_csv(r'/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/dt.csv', header = None)

In [41]:
postcode

,0,1,2,3,4,5,6,7,8,9
0,DT1 1AA,10,368730,90722,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
1,DT1 1AB,10,369874,90687,E92000001,E19000002,E18000010,E10000009,E07000052,E05010589
2,DT1 1AD,10,369245,90319,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
3,DT1 1AE,10,369076,90500,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
4,DT1 1AF,10,369092,90468,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
5,DT1 1AG,10,369069,90409,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
6,DT1 1AH,10,368593,90782,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
7,DT1 1AL,10,370090,90402,E92000001,E19000002,E18000010,E10000009,E07000052,E05010589
8,DT1 1AN,10,369956,90295,E92000001,E19000002,E18000010,E10000009,E07000052,E05010589
9,DT1 1AP,10,369204,90495,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
10,DT1 1AQ,10,369049,90458,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
11,DT1 1AS,10,369577,90196,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
12,DT1 1AT,10,369753,90662,E92000001,E19000002,E18000010,E10000009,E07000052,E05010589
13,DT1 1AW,10,369006,90416,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
14,DT1 1AY,10,369442,90446,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
15,DT1 1AZ,10,369265,90603,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
16,DT1 1BA,10,369275,90696,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
17,DT1 1BE,10,369214,90671,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
18,DT1 1BJ,10,369249,90693,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
19,DT1 1BL,10,369265,90610,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
20,DT1 1BN,10,369300,90615,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
21,DT1 1BQ,10,369238,90661,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
22,DT1 1BS,10,369261,90506,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
23,DT1 1BT,10,369266,90567,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
24,DT1 1BW,10,369467,90728,E92000001,E19000002,E18000010,E10000009,E07000052,E05010589
25,DT1 1BY,10,369225,90394,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
26,DT1 1BZ,10,369278,90461,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
27,DT1 1DA,10,369257,90431,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
28,DT1 1DD,10,369201,90383,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
29,DT1 1DE,10,369212,90417,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
...,...,...,...,...,...,...,...,...,...,...
7709,DT9 6SB,10,358926,114519,E92000001,E19000002,E18000010,E10000009,E07000052,E05010603
7710,DT9 6SD,10,358945,114636,E92000001,E19000002,E18000010,E10000009,E07000052,E05010603
7711,DT9 6SE,10,358953,114666,E92000001,E19000002,E18000010,E10000009,E07000052,E05010603
7712,DT9 6SF,10,358939,114763,E92000001,E19000002,E18000010,E10000009,E07000052,E05010603
7713,DT9 6SG,10,358868,114741,E92000001,E19000002,E18000010,E10000009,E07000052,E05010603
7714,DT9 6SH,10,358968,114347,E92000001,E19000002,E18000010,E10000009,E07000052,E05010603
7715,DT9 6SJ,10,360042,114671,E92000001,E19000002,E18000010,E10000009,E07000052,E05010599
7716,DT9 6SL,10,360067,114644,E92000001,E19000002,E18000010,E10000009,E07000052,E05010599
7717,DT9 6SN,10,360806,115647,E92000001,E19000002,E18000010,E10000009,E07000052,E05010599
7718,DT9 6SP,10,358780,114309,E92000001,E19000002,E18000010,E10000009,E07000052,E05010603
7719,DT9 6SQ,10,358996,114607,E92000001,E19000002,E18000010,E10000009,E07000052,E05010603
7720,DT9 6SR,10,360520,113527,E92000001,E19000002,E18000010,E10000009,E07000052,E05010603
7721,DT9 6SS,10,360478,113539,E92000001,E19000002,E18000010,E10000009,E07000052,E05010603
7722,DT9 6ST,10,360419,113505,E92000001,E19000002,E18000010,E10000009,E07000052,E05010603
7723,DT9 6SU,10,360592,113553,E92000001,E19000002,E18000010,E10000009,E07000052,E05010603
7724,DT9 6SW,10,362104,115810,E92000001,E19000002,E18000010,E10000009,E07000052,E05010601
7725,DT9 6SX,10,362945,116117,E92000001,E19000002,E18000010,E10000009,E07000052,E05010601
7726,DT9 6SY,10,358458,114708,E92000001,E19000002,E18000010,E10000009,E07000052,E05010603
7727,DT9 6SZ,10,359829,110847,E92000001,E19000002,E18000010,E10000009,E07000052,E05010603
7728,DT9 6YL,10,363851,116712,E92000001,E19000002,E18000010,E10000009,E07000052,E05010600
7729,DT9 9AF,10,363851,116712,E92000001,E19000002,E18000010,E10000009,E07000052,E05010600
7730,DT9 9AP,10,363851,116712,E92000001,E19000002,E18000010,E10000009,E07000052,E05010600
7731,DT9 9BR,10,363851,116712,E92000001,E19000002,E18000010,E10000009,E07000052,E05010600
7732,DT9 9BS,10,363851,116712,E92000001,E19000002,E18000010,E10000009,E07000052,E05010600
7733,DT9 9BT,10,363851,116712,E92000001,E19000002,E18000010,E10000009,E07000052,E05010600
7734,DT9 9BX,10,363851,116712,E92000001,E19000002,E18000010,E10000009,E07000052,E05010600
7735,DT9 9DE,10,363851,116712,E92000001,E19000002,E18000010,E10000009,E07000052,E05010600
7736,DT9 9DW,10,363851,116712,E92000001,E19000002,E18000010,E10000009,E07000052,E05010600
7737,DT9 9DX,10,363851,116712,E92000001,E19000002,E18000010,E10000009,E07000052,E05010600
7738,DT9 9DY,10,363851,116712,E92000001,E19000002,E18000010,E10000009,E07000052,E05010600

In [43]:
data = pd.concat([labels,postcode])

In [49]:
data

,Positional_quality_indicator,Eastings,Northings,Country_code,NHS_regional_HA_code,NHS_HA_code,Admin_county_code,Admin_district_code,Admin_ward_code
Postcode,,,,,,,,,
DT1 1AA,10,368730,90722,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
DT1 1AB,10,369874,90687,E92000001,E19000002,E18000010,E10000009,E07000052,E05010589
DT1 1AD,10,369245,90319,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
DT1 1AE,10,369076,90500,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
DT1 1AF,10,369092,90468,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
DT1 1AG,10,369069,90409,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
DT1 1AH,10,368593,90782,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
DT1 1AL,10,370090,90402,E92000001,E19000002,E18000010,E10000009,E07000052,E05010589
DT1 1AN,10,369956,90295,E92000001,E19000002,E18000010,E10000009,E07000052,E05010589
DT1 1AP,10,369204,90495,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
DT1 1AQ,10,369049,90458,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
DT1 1AS,10,369577,90196,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
DT1 1AT,10,369753,90662,E92000001,E19000002,E18000010,E10000009,E07000052,E05010589
DT1 1AW,10,369006,90416,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
DT1 1AY,10,369442,90446,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
DT1 1AZ,10,369265,90603,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
DT1 1BA,10,369275,90696,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
DT1 1BE,10,369214,90671,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
DT1 1BJ,10,369249,90693,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
DT1 1BL,10,369265,90610,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
DT1 1BN,10,369300,90615,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
DT1 1BQ,10,369238,90661,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
DT1 1BS,10,369261,90506,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
DT1 1BT,10,369266,90567,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
DT1 1BW,10,369467,90728,E92000001,E19000002,E18000010,E10000009,E07000052,E05010589
DT1 1BY,10,369225,90394,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
DT1 1BZ,10,369278,90461,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
DT1 1DA,10,369257,90431,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
DT1 1DD,10,369201,90383,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
DT1 1DE,10,369212,90417,E92000001,E19000002,E18000010,E10000009,E07000052,E05010590
...,...,...,...,...,...,...,...,...,...
DT9 6SB,10,358926,114519,E92000001,E19000002,E18000010,E10000009,E07000052,E05010603
DT9 6SD,10,358945,114636,E92000001,E19000002,E18000010,E10000009,E07000052,E05010603
DT9 6SE,10,358953,114666,E92000001,E19000002,E18000010,E10000009,E07000052,E05010603
DT9 6SF,10,358939,114763,E92000001,E19000002,E18000010,E10000009,E07000052,E05010603
DT9 6SG,10,358868,114741,E92000001,E19000002,E18000010,E10000009,E07000052,E05010603
DT9 6SH,10,358968,114347,E92000001,E19000002,E18000010,E10000009,E07000052,E05010603
DT9 6SJ,10,360042,114671,E92000001,E19000002,E18000010,E10000009,E07000052,E05010599
DT9 6SL,10,360067,114644,E92000001,E19000002,E18000010,E10000009,E07000052,E05010599
DT9 6SN,10,360806,115647,E92000001,E19000002,E18000010,E10000009,E07000052,E05010599
DT9 6SP,10,358780,114309,E92000001,E19000002,E18000010,E10000009,E07000052,E05010603
DT9 6SQ,10,358996,114607,E92000001,E19000002,E18000010,E10000009,E07000052,E05010603
DT9 6SR,10,360520,113527,E92000001,E19000002,E18000010,E10000009,E07000052,E05010603
DT9 6SS,10,360478,113539,E92000001,E19000002,E18000010,E10000009,E07000052,E05010603
DT9 6ST,10,360419,113505,E92000001,E19000002,E18000010,E10000009,E07000052,E05010603
DT9 6SU,10,360592,113553,E92000001,E19000002,E18000010,E10000009,E07000052,E05010603
DT9 6SW,10,362104,115810,E92000001,E19000002,E18000010,E10000009,E07000052,E05010601
DT9 6SX,10,362945,116117,E92000001,E19000002,E18000010,E10000009,E07000052,E05010601
DT9 6SY,10,358458,114708,E92000001,E19000002,E18000010,E10000009,E07000052,E05010603
DT9 6SZ,10,359829,110847,E92000001,E19000002,E18000010,E10000009,E07000052,E05010603
DT9 6YL,10,363851,116712,E92000001,E19000002,E18000010,E10000009,E07000052,E05010600
DT9 9AF,10,363851,116712,E92000001,E19000002,E18000010,E10000009,E07000052,E05010600
DT9 9AP,10,363851,116712,E92000001,E19000002,E18000010,E10000009,E07000052,E05010600
DT9 9BR,10,363851,116712,E92000001,E19000002,E18000010,E10000009,E07000052,E05010600
DT9 9BS,10,363851,116712,E92000001,E19000002,E18000010,E10000009,E07000052,E05010600
DT9 9BT,10,363851,116712,E92000001,E19000002,E18000010,E10000009,E07000052,E05010600
DT9 9BX,10,363851,116712,E92000001,E19000002,E18000010,E10000009,E07000052,E05010600
DT9 9DE,10,363851,116712,E92000001,E19000002,E18000010,E10000009,E07000052,E05010600
DT9 9DW,10,363851,116712,E92000001,E19000002,E18000010,E10000009,E07000052,E05010600
DT9 9DX,10,363851,116712,E92000001,E19000002,E18000010,E10000009,E07000052,E05010600
DT9 9DY,10,363851,116712,E92000001,E19000002,E18000010,E10000009,E07000052,E05010600

In [45]:
data.columns = data.iloc[0]

In [47]:
data = data.set_index(['Postcode'])

In [48]:
data = data.reindex(data.index.drop('Postcode'))

In [50]:
data.insert(0, 'date', 'NaN')

In [51]:
data['date']= pd.to_datetime(data['date'])

In [54]:
df_all[df_all.isnull()] = data

InvalidIndexError:

In [ ]:
- create a loop to insert data into the df_all dataset

In [ ]:
for file in files:
    postcode = pd.read_csv(r'{fname}'.format(fname=file), header=None)
    postcode = postcode.set_index([0])
    data = pd.concat([labels,postcode])
    data.columns = data.iloc[0]
    data = data.reindex(data.index.drop('Postcode'))
    
    
    
    print('Processed {fname}'.format(fname=file))

In [ ]:
#postcode = postcode.set_index([0])

In [ ]:
data

In [ ]:
df_all = df_all.merge(data, how='left', left_index=True, right_index=True)

In [ ]:
df_all

In [ ]:
postcode = pd.read_csv(r'/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/dt.csv', header = None)
postcode = postcode.set_index([0])
data = pd.concat([labels,postcode])
data.columns = data.iloc[0]
data = data.reindex(data.index.drop('Postcode'))

In [ ]:
data

In [ ]:
data.insert(0, 'date', 'NaN')

In [ ]:
df_all

In [ ]:
df_all.to_csv(r'/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/test.csv')