What i want to do: 
- read in postcode dataset
- loop through the code point files 
- join postcodes in each file 
- make sure these are saved and each time loop through a file it doesn't delete earlier merges.

In [2]:
# Set libraries
import pandas as pd
import glob
import os
import numpy as np
import datetime
import string
import re

In [3]:
# Read in postcode dataset
SWW_postcode = pd.read_csv(r'/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/SWW postcodes.csv')

In [4]:
dtypeCount =[SWW_postcode.iloc[:,i].apply(type).value_counts() for i in range(SWW_postcode.shape[1])]

In [5]:
dtypeCount

[<class 'str'>    11011
 Name: date, dtype: int64, <class 'str'>    11011
 Name: postcode, dtype: int64]

In [6]:
# Change the postcode field to string
SWW_postcode['postcode']= SWW_postcode['postcode'].astype('str')

In [7]:
mask = (SWW_postcode['postcode'].str.len()>7)
mask2 = (SWW_postcode['postcode'].str.len()<8)

In [8]:
df1 = SWW_postcode.loc[mask]

In [9]:
df2 = SWW_postcode.loc[mask2]

In [ ]:
df2

In [ ]:
SWW_postcode

In [15]:
df1['First']= df1['postcode'].str[:4]

/Users/annalisasheehan/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [17]:
df1['Last']= df1['postcode'].str[5:8]

/Users/annalisasheehan/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [19]:
df1['New_pstcd'] = df1['First'].map(str) + df1['Last']

/Users/annalisasheehan/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [20]:
df1

           date  postcode First Last New_pstcd
0      24/02/17  BH25 5LA  BH25  5LA   BH255LA
46     06/12/02  ES37 9PP  ES37  9PP   ES379PP
50     12/04/12  EX1  3HD  EX1   3HD   EX1 3HD
165    27/02/07  EX10 0AF  EX10  0AF   EX100AF
166    01/03/07  EX10 0AF  EX10  0AF   EX100AF
167    01/02/16  EX10 0AR  EX10  0AR   EX100AR
168    28/07/06  EX10 0BB  EX10  0BB   EX100BB
169    10/10/07  EX10 0BE  EX10  0BE   EX100BE
170    03/05/06  EX10 0BJ  EX10  0BJ   EX100BJ
171    31/05/01  EX10 0BP  EX10  0BP   EX100BP
172    24/08/06  EX10 0BQ  EX10  0BQ   EX100BQ
173    30/05/08  EX10 0BQ  EX10  0BQ   EX100BQ
174    24/03/09  EX10 0BQ  EX10  0BQ   EX100BQ
175    02/06/06  EX10 0BR  EX10  0BR   EX100BR
176    11/09/06  EX10 0BR  EX10  0BR   EX100BR
177    03/12/07  EX10 0BR  EX10  0BR   EX100BR
178    22/04/10  EX10 0BS  EX10  0BS   EX100BS
179    31/05/07  EX10 0BT  EX10  0BT   EX100BT
180    18/10/06  EX10 0BW  EX10  0BW   EX100BW
181    06/06/06  EX10 0DH  EX10  0DH   EX100DH
182    14/11/06  EX10 0DH  EX10  0DH   EX100DH
183    23/04/07  EX10 0DH  EX10  0DH   EX100DH
184    27/11/08  EX10 0DJ  EX10  0DJ   EX100DJ
185    01/09/03  EX10 0DJ  EX10  0DJ   EX100DJ
186    08/11/04  EX10 0DJ  EX10  0DJ   EX100DJ
187    12/06/06  EX10 0DL  EX10  0DL   EX100DL
188    08/12/05  EX10 0DN  EX10  0DN   EX100DN
189    02/08/07  EX10 0DQ  EX10  0DQ   EX100DQ
190    17/07/06  EX10 0DR  EX10  0DR   EX100DR
191    13/11/08  EX10 0DX  EX10  0DX   EX100DX
...         ...       ...   ...  ...       ...
10638  14/11/03  TR27 5EA  TR27  5EA   TR275EA
10639  28/09/15  TR27 5ET  TR27  5ET   TR275ET
10640  08/10/01  TR27 5HH  TR27  5HH   TR275HH
10641  20/06/02  TR27 5HJ  TR27  5HJ   TR275HJ
10642  05/11/03  TR27 5HJ  TR27  5HJ   TR275HJ
10643  09/04/14  TR27 5HL  TR27  5HL   TR275HL
10644  15/12/06  TR27 5HQ  TR27  5HQ   TR275HQ
10645  04/09/08  TR27 5HQ  TR27  5HQ   TR275HQ
10646  18/05/01  TR27 5HT  TR27  5HT   TR275HT
10647  26/07/06  TR27 5JB  TR27  5JB   TR275JB
10648  01/08/13  TR27 5JF  TR27  5JF   TR275JF
10649  02/11/01  TR27 5JL  TR27  5JL   TR275JL
10650  14/10/04  TR27 6AF  TR27  6AF   TR276AF
10651  20/02/14  TR27 6AQ  TR27  6AQ   TR276AQ
10652  01/06/09  TR27 6AQ  TR27  6AQ   TR276AQ
10653  03/10/05  TR27 6DE  TR27  6DE   TR276DE
10654  23/07/12  TR27 6EJ  TR27  6EJ   TR276EJ
10655  30/05/07  TR27 6GL  TR27  6GL   TR276GL
10656  27/02/09  TR27 6HL  TR27  6HL   TR276HL
10657  01/06/06  TR27 6HY  TR27  6HY   TR276HY
10658  05/07/04  TR27 6JD  TR27  6JD   TR276JD
10659  01/12/06  TR27 6JQ  TR27  6JQ   TR276JQ
10660  14/11/07  TR27 6JR  TR27  6JR   TR276JR
10661  21/07/09  TR27 6JR  TR27  6JR   TR276JR
10662  09/12/04  TR27 6LS  TR27  6LS   TR276LS
10663  24/04/03  TR27 6ND  TR27  6ND   TR276ND
10664  06/08/09  TR27 6PF  TR27  6PF   TR276PF
10665  06/08/09  TR27 6PL  TR27  6PL   TR276PL
10751  19/09/03  TR37 7EP  TR37  7EP   TR377EP
11008  24/06/02  WX23 8HZ  WX23  8HZ   WX238HZ

[6696 rows x 5 columns]

In [24]:
df1_n = df1[['date', 'New_pstcd']]

In [27]:
df1_n

           date postcode
0      24/02/17  BH255LA
46     06/12/02  ES379PP
50     12/04/12  EX1 3HD
165    27/02/07  EX100AF
166    01/03/07  EX100AF
167    01/02/16  EX100AR
168    28/07/06  EX100BB
169    10/10/07  EX100BE
170    03/05/06  EX100BJ
171    31/05/01  EX100BP
172    24/08/06  EX100BQ
173    30/05/08  EX100BQ
174    24/03/09  EX100BQ
175    02/06/06  EX100BR
176    11/09/06  EX100BR
177    03/12/07  EX100BR
178    22/04/10  EX100BS
179    31/05/07  EX100BT
180    18/10/06  EX100BW
181    06/06/06  EX100DH
182    14/11/06  EX100DH
183    23/04/07  EX100DH
184    27/11/08  EX100DJ
185    01/09/03  EX100DJ
186    08/11/04  EX100DJ
187    12/06/06  EX100DL
188    08/12/05  EX100DN
189    02/08/07  EX100DQ
190    17/07/06  EX100DR
191    13/11/08  EX100DX
...         ...      ...
10638  14/11/03  TR275EA
10639  28/09/15  TR275ET
10640  08/10/01  TR275HH
10641  20/06/02  TR275HJ
10642  05/11/03  TR275HJ
10643  09/04/14  TR275HL
10644  15/12/06  TR275HQ
10645  04/09/08  TR275HQ
10646  18/05/01  TR275HT
10647  26/07/06  TR275JB
10648  01/08/13  TR275JF
10649  02/11/01  TR275JL
10650  14/10/04  TR276AF
10651  20/02/14  TR276AQ
10652  01/06/09  TR276AQ
10653  03/10/05  TR276DE
10654  23/07/12  TR276EJ
10655  30/05/07  TR276GL
10656  27/02/09  TR276HL
10657  01/06/06  TR276HY
10658  05/07/04  TR276JD
10659  01/12/06  TR276JQ
10660  14/11/07  TR276JR
10661  21/07/09  TR276JR
10662  09/12/04  TR276LS
10663  24/04/03  TR276ND
10664  06/08/09  TR276PF
10665  06/08/09  TR276PL
10751  19/09/03  TR377EP
11008  24/06/02  WX238HZ

[6696 rows x 2 columns]

In [26]:
df1_n = df1_n.rename(columns={'New_pstcd':'postcode'})

In [28]:
df_all = pd.concat([df1_n, df2])

In [29]:
df_all

           date postcode
0      24/02/17  BH255LA
46     06/12/02  ES379PP
50     12/04/12  EX1 3HD
165    27/02/07  EX100AF
166    01/03/07  EX100AF
167    01/02/16  EX100AR
168    28/07/06  EX100BB
169    10/10/07  EX100BE
170    03/05/06  EX100BJ
171    31/05/01  EX100BP
172    24/08/06  EX100BQ
173    30/05/08  EX100BQ
174    24/03/09  EX100BQ
175    02/06/06  EX100BR
176    11/09/06  EX100BR
177    03/12/07  EX100BR
178    22/04/10  EX100BS
179    31/05/07  EX100BT
180    18/10/06  EX100BW
181    06/06/06  EX100DH
182    14/11/06  EX100DH
183    23/04/07  EX100DH
184    27/11/08  EX100DJ
185    01/09/03  EX100DJ
186    08/11/04  EX100DJ
187    12/06/06  EX100DL
188    08/12/05  EX100DN
189    02/08/07  EX100DQ
190    17/07/06  EX100DR
191    13/11/08  EX100DX
...         ...      ...
10980  11/01/17  TR9 6PQ
10981  15/02/07  TR9 6PT
10982  16/09/02  TR9 6PX
10983  02/02/06  TR9 6QW
10984  30/06/08  TR9 6QZ
10985  17/04/01  TR9 6RH
10986  28/11/00  TR9 6RJ
10987  10/08/01  TR9 6RJ
10988  10/07/02  TR9 6RL
10989  08/08/02  TR9 6RL
10990  04/10/07  TR9 6RP
10991  19/04/02  TR9 6SA
10992  23/09/02  TR9 6SA
10993  29/10/02  TR9 6SA
10994  27/11/02  TR9 6SA
10995  26/10/09  TR9 6SB
10996  29/09/03  TR9 6SG
10997  04/03/11  TR9 6SM
10998  01/12/03  TR9 6SN
10999  10/06/03  TR9 6ST
11000  29/05/09  TR9 6TD
11001  16/05/01  TR9 6TD
11002  22/01/02  TR9 6TJ
11003  06/09/02  TR9 6TJ
11004  30/09/02  TR9 6TJ
11005  31/12/12  TR9 6TN
11006  04/01/08  TR9 6TN
11007  30/08/05  TW6 9NX
11009  14/07/05  WX7 9AY
11010  27/04/06  WX7 9ML

[11011 rows x 2 columns]

In [33]:
df1.loc[:,('postcode')] = df1.loc[:,('postcode')].map(lambda x: x.lstrip(' '))

/Users/annalisasheehan/anaconda/lib/python3.5/site-packages/pandas/core/indexing.py:545: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item_labels[indexer[info_axis]]] = value

In [31]:
df1['postcode'] = df1['postcode'].map(lambda x: x.lstrip(' '))

/Users/annalisasheehan/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [ ]:
SWW_postcode = SWW_postcode.set_index('postcode')

In [ ]:
SWW_postcode

In [ ]:
files = glob.glob(r'/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/*')

In [ ]:
files

In [ ]:
labels = pd.read_csv(r'/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Doc/Code-Point_Open_Column_Headers.csv', header = None)

In [ ]:
labels

In [ ]:
labels = labels.set_index([0])

In [ ]:
labels

for file in files:
    postcode = pd.read_csv(r'{fname}'.format(fname=file), header=None)
    postcode = postcode.set_index([0])
    data = pd.concat([labels,postcode])
    data.columns = data.iloc[0]
    data = data.reindex(data.index.drop('Postcode'))
    SWW_postcode.merge(data, how='left', left_index=True, right_index=True)
    
    
    print('Processed {fname}'.format(fname=file))

In [ ]:
postcode = pd.read_csv(r'/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/codepo_gb/Data/CSV/ex.csv', header = None)

In [ ]:
postcode

In [ ]:
postcode = postcode.set_index([0])

In [ ]:
data = pd.concat([labels,postcode])

In [ ]:
data

In [ ]:
data.columns = data.iloc[0]

In [ ]:
data = data.reindex(data.index.drop('Postcode'))

In [ ]:
data

In [ ]:
SWW_postcode = SWW_postcode.merge(data, how='left', left_index=True, right_index=True)

In [ ]:
SWW_postcode

In [ ]:
data

In [ ]:
data.insert(0, 'date', 'NaN')

In [ ]:
data['date']= pd.to_datetime(data['date'])

In [ ]:
SWW_postcode[SWW_postcode.isnull()] = data

In [ ]:
SWW_postcode.to_csv(r'/Users/annalisasheehan/Documents/Imperial-Diabetes/postcodes/test.csv')