In [1]:
import pandas as pd
import numpy as np
import glob
import datetime

In [3]:
Southern = pd.read_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\Drinking_water\Southern\Southern_Postcode.csv")

In [4]:
Southern

,Sample Point Name,Sample ID,Sample Date & Time,Determinand Name,Labsys Analysis ID,Qualifier,Result (Numeric),Result (Text),Unit of Measure Code,Test Status Name,Sample Postcode,Sample Reason Name,Analysis Type,Compliance
0,SUSSEX,573105,09/01/2004 12:45,NITRATE,NITRATE_N,NaN,31.18720,31.19,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 1,POTABLE - Complaint,ELIMS_UK2,F
1,SUSSEX,633645,07/04/2004 11:40,NITRATE,NITRATE_N,NaN,29.50380,29.5,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 1,POTABLE - Routine/Compliance,ELIMS_UK2,T
2,SUSSEX,678491,18/06/2004 09:20,NITRATE,NITRATE_N,NaN,34.55400,34.55,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 1,POTABLE - Routine/Compliance,ELIMS_UK2,T
3,SUSSEX,697870,16/07/2004 10:40,NITRATE,NITRATE_N,NaN,63.79200,63.79,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 1,POTABLE - Complaint,ELIMS_UK2,F
4,SUSSEX,729286,01/09/2004 12:30,NITRATE,NITRATE_N,NaN,27.95330,27.95,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 1,POTABLE - Routine/Compliance,ELIMS_UK2,T
5,SUSSEX,1084702,14/02/2006 11:05,NITRATE,NITRATE_N,NaN,29.14940,29.15,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 1,POTABLE - Complaint,ELIMS_UK2,F
6,SUSSEX,1283516,17/11/2006 09:50,NITRATE,NITRATE_N,NaN,31.01000,31.01,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 1,POTABLE - Complaint,ELIMS_UK2,F
7,SUSSEX,1358467,12/03/2007 12:20,NITRATE,NITRATE_N,NaN,36.06020,36.06,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 1,POTABLE - Non-Routine/Investigation,ELIMS_UK2,F
8,SUSSEX,1440094,16/07/2007 12:00,NITRATE,NITRATE_N,NaN,34.28820,34.29,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 1,POTABLE - Complaint,ELIMS_UK2,F
9,SUSSEX,1528007,09/11/2007 10:15,NITRATE,NITRATE_N,NaN,35.88300,35.88,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 1,POTABLE - Complaint,ELIMS_UK2,F
10,SUSSEX,1726192,09/09/2008 12:20,NITRATE,NITRATE_N,NaN,27.51030,27.51,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 1,POTABLE - Complaint,ELIMS_UK2,F
11,SUSSEX,1779965,04/12/2008 09:25,NITRATE,NITRATE_N,NaN,26.31420,26.31,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 1,POTABLE - Routine/Compliance,ELIMS_UK2,T
12,SUSSEX,1983336,22/01/2010 12:30,NITRATE,NITRATE_N,NaN,36.94620,36.95,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 1,POTABLE - Complaint,ELIMS_UK2,F
13,SUSSEX,2001764,25/02/2010 10:30,NITRATE,NITRATE_N,NaN,36.10450,36.1,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 1,POTABLE - Complaint,ELIMS_UK2,F
14,SUSSEX,2083066,19/08/2010 11:35,NITRATE,NITRATE_N,NaN,33.57940,33.58,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 1,POTABLE - Complaint,ELIMS_UK2,F
15,SUSSEX,711113,03/08/2004 11:50,NITRATE,NITRATE_N,NaN,30.38980,30.39,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 2,POTABLE - Complaint,ELIMS_UK2,F
16,SUSSEX,975315,31/08/2005 09:55,NITRATE,NITRATE_N,NaN,29.81390,29.81,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 2,POTABLE - Routine/Compliance,ELIMS_UK2,T
17,SUSSEX,1232331,07/09/2006 12:00,NITRATE,NITRATE_N,NaN,32.78200,32.78,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 2,POTABLE - Routine/Compliance,ELIMS_UK2,T
18,SUSSEX,1399709,15/05/2007 11:40,NITRATE,NITRATE_N,NaN,32.47190,32.47,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 2,POTABLE - Complaint,ELIMS_UK2,F
19,SUSSEX,1889796,15/07/2009 10:15,NITRATE,NITRATE_N,NaN,31.27580,31.28,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 2,POTABLE - Complaint,ELIMS_UK2,F
20,SUSSEX,2007461,09/03/2010 07:10,NITRATE,NITRATE_N,NaN,36.68040,36.68,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 2,POTABLE - Routine/Compliance,ELIMS_UK2,F
21,SUSSEX,2064238,25/07/2010 12:55,NITRATE,NITRATE_N,NaN,38.14230,38.14,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 2,POTABLE - Routine/Compliance,ELIMS_UK2,T
22,SUSSEX,690105,06/07/2004 11:40,NITRATE,NITRATE_N,NaN,29.54810,29.55,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 3,POTABLE - Routine/Compliance,ELIMS_UK2,T
23,SUSSEX,701212,21/07/2004 09:20,NITRATE,NITRATE_N,NaN,28.61780,28.62,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 3,POTABLE - Complaint,ELIMS_UK2,F
24,SUSSEX,709170,30/07/2004 12:30,NITRATE,NITRATE_N,NaN,30.96570,30.97,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 3,POTABLE - Complaint,ELIMS_UK2,F
25,SUSSEX,908818,01/06/2005 11:00,NITRATE,NITRATE_N,NaN,29.28230,29.28,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 3,POTABLE - Complaint,ELIMS_UK2,F
26,SUSSEX,1056128,30/12/2005 13:25,NITRATE,NITRATE_N,NaN,27.90900,27.91,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 3,POTABLE - Complaint,ELIMS_UK2,F
27,SUSSEX,1136277,26/04/2006 09:50,NITRATE,NITRATE_N,NaN,38.71820,38.72,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 3,POTABLE - Complaint,ELIMS_UK2,F
28,SUSSEX,1272726,03/11/2006 11:00,NITRATE,NITRATE_N,NaN,33.53510,33.54,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 3,POTABLE - Routine/Compliance,ELIMS_UK2,T
29,SUSSEX,1278004,10/11/2006 11:45,NITRATE,NITRATE_N,NaN,30.03540,30.04,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 3,POTABLE - Complaint,ELIMS_UK2,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7288,SUSSEX,1046350,09/12/2005 09:00,NITRATE,NITRATE_N,NaN,4.74010,4.74,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 8,POTABLE - Complaint,ELIMS_UK2,F
7289,SUSSEX,1674748,11/06/2008 10:47,NITRATE,NITRATE_N,NaN,5.09450,5.09,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 8,POTABLE - Complaint,ELIMS_UK2,F
7290,SUSSEX,585922,29/01/2004 10:15,NITRATE,NITRATE_N,NaN,7.75250,7.75,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Complaint,ELIMS_UK2,F
7291,SUSSEX,803711,07/01/2005 11:45,NITRATE,NITRATE_N,NaN,5.71470,5.71,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T
7292,SUSSEX,928565,01/07/2005 11:30,NITRATE,NITRATE_N,NaN,2.74660,2.75,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Complaint,ELIMS_UK2,F
7293,SUSSEX,962583,18/08/2005 11:15,NITRATE,NITRATE_N,<,0.86828,0.86828,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T
7294,SUSSEX,1101334,07/03/2006 10:00,NITRATE,NITRATE_N,NaN,7.70820,7.71,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Complaint,ELIMS_UK2,F
7295,SUSSEX,1146430,15/05/2006 10:00,NITRATE,NITRATE_N,NaN,6.77790,6.78,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T
7296,SUSSEX,1203380,24/07/2006 11:45,NITRATE,NITRATE_N,NaN,2.69344,2.69,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Complaint,ELIMS_UK2,F
7297,SUSSEX,1266721,24/10/2006 09:45,NITRATE,NITRATE_N,NaN,1.17838,1.18,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T
7298,SUSSEX,1432247,03/07/2007 13:15,NITRATE,NITRATE_N,NaN,2.71116,2.71,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T
7299,SUSSEX,1466363,22/08/2007 12:20,NITRATE,NITRATE_N,NaN,2.18842,2.19,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Complaint,ELIMS_UK2,F
7300,SUSSEX,1497951,05/10/2007 12:20,NITRATE,NITRATE_N,NaN,1.46633,1.47,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T
7301,SUSSEX,1770642,20/11/2008 09:58,NITRATE,NITRATE_N,NaN,3.18960,3.19,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T
7302,SUSSEX,1816335,18/02/2009 10:25,NITRATE,NITRATE_N,NaN,4.78440,4.78,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T
7303,SUSSEX,1891694,16/07/2009 10:32,NITRATE,NITRATE_N,NaN,3.98700,3.99,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Complaint,ELIMS_UK2,F
7304,SUSSEX,1909334,20/08/2009 10:45,NITRATE,NITRATE_N,<,2.64471,2.64,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T
7305,SUSSEX,1914970,01/09/2009 11:00,NITRATE,NITRATE_N,<,2.64471,2.64,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Complaint,ELIMS_UK2,F
7306,SUSSEX,1932282,05/10/2009 11:28,NITRATE,NITRATE_N,<,2.64471,2.64,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T
7307,SUSSEX,1939490,19/10/2009 11:22,NITRATE,NITRATE_N,<,2.64471,2.64,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Complaint,ELIMS_UK2,F
7308,SUSSEX,2019544,01/04/2010 09:00,NITRATE,NITRATE_N,NaN,5.62610,5.63,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Complaint,ELIMS_UK2,F
7309,SUSSEX,2039872,17/05/2010 12:24,NITRATE,NITRATE_N,NaN,4.11990,4.12,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T
7310,SUSSEX,2087421,01/09/2010 11:05,NITRATE,NITRATE_N,NaN,2.21500,2.22,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Complaint,ELIMS_UK2,F
7311,SUSSEX,2109534,25/10/2010 11:12,NITRATE,NITRATE_N,NaN,2.83520,2.84,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Complaint,ELIMS_UK2,F
7312,SUSSEX,695021,09/07/2004 10:30,NITRATE,NITRATE_N,NaN,2.92823,2.93,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 0,POTABLE - Complaint,ELIMS_UK2,F
7313,SUSSEX,2091826,09/09/2010 12:13,NITRATE,NITRATE_N,NaN,2.48080,2.48,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 0,POTABLE - Complaint,ELIMS_UK2,F
7314,SUSSEX,1840095,06/04/2009 12:10,NITRATE,NITRATE_N,NaN,6.55640,6.56,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 8,POTABLE - Routine/Compliance,ELIMS_UK2,T
7315,SUSSEX,2087791,02/09/2010 10:55,NITRATE,NITRATE_N,NaN,3.58830,3.59,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 8,POTABLE - Complaint,ELIMS_UK2,F
7316,SUSSEX,1635884,10/04/2008 13:04,NITRATE,NITRATE_N,NaN,4.87300,4.87,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T
7317,SUSSEX,1119810,31/03/2006 09:45,NITRATE,NITRATE_N,NaN,5.80330,5.8,MILLIGRAMS PER LITRE AS NITRATE,Authorised,YN34 1,POTABLE - Complaint,ELIMS_UK2,F

In [14]:
mask = (Southern['Sample Postcode'].str.len()>5)
mask2 = (Southern['Sample Postcode'].str.len()<6)

In [15]:
df1 = Southern.loc[mask]
df2 = Southern.loc[mask2]

In [16]:
df1

,Sample Point Name,Sample ID,Sample Date & Time,Determinand Name,Labsys Analysis ID,Qualifier,Result (Numeric),Result (Text),Unit of Measure Code,Test Status Name,Sample Postcode,Sample Reason Name,Analysis Type,Compliance
180,SUSSEX,694548,12/07/2004 10:30,NITRATE,NITRATE_N,NaN,25.25100,25.25,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN10 7,POTABLE - Complaint,ELIMS_UK2,F
181,SUSSEX,823159,31/01/2005 09:50,NITRATE,NITRATE_N,NaN,26.26990,26.27,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN10 7,POTABLE - Routine/Compliance,ELIMS_UK2,T
182,SUSSEX,1364444,22/03/2007 12:34,NITRATE,NITRATE_N,NaN,28.17480,28.17,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN10 7,POTABLE - Complaint,ELIMS_UK2,F
183,SUSSEX,1523092,05/11/2007 12:50,NITRATE,NITRATE_N,NaN,26.71290,26.71,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN10 7,POTABLE - Complaint,ELIMS_UK2,F
184,SUSSEX,1764656,10/11/2008 11:00,NITRATE,NITRATE_N,NaN,24.63080,24.63,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN10 7,POTABLE - Complaint,ELIMS_UK2,F
185,SUSSEX,1861985,22/05/2009 11:05,NITRATE,NITRATE_N,NaN,25.91550,25.92,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN10 7,POTABLE - Complaint,ELIMS_UK2,F
186,SUSSEX,2001129,25/02/2010 08:50,NITRATE,NITRATE_N,NaN,31.49730,31.5,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN10 7,POTABLE - Complaint,ELIMS_UK2,F
187,SUSSEX,2026059,16/04/2010 11:05,NITRATE,NITRATE_N,NaN,28.13050,28.13,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN10 7,POTABLE - Complaint,ELIMS_UK2,F
188,SUSSEX,2049430,04/06/2010 13:20,NITRATE,NITRATE_N,NaN,30.52270,30.52,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN10 7,POTABLE - Routine/Compliance,ELIMS_UK2,F
189,SUSSEX,2092318,15/09/2010 11:40,NITRATE,NITRATE_N,NaN,32.07320,32.07,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN10 7,POTABLE - Routine/Compliance,ELIMS_UK2,T
190,SUSSEX,675111,14/06/2004 09:25,NITRATE,NITRATE_N,NaN,32.29470,32.29,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 1,POTABLE - Routine/Compliance,ELIMS_UK2,T
191,SUSSEX,711947,05/08/2004 12:15,NITRATE,NITRATE_N,NaN,31.67450,31.67,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 1,POTABLE - Complaint,ELIMS_UK2,F
192,SUSSEX,875621,14/04/2005 12:00,NITRATE,NITRATE_N,NaN,32.29470,32.29,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 1,POTABLE - Complaint,ELIMS_UK2,F
193,SUSSEX,875622,14/04/2005 12:10,NITRATE,NITRATE_N,NaN,32.69340,32.69,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 1,POTABLE - Complaint,ELIMS_UK2,F
194,SUSSEX,897352,13/05/2005 10:40,NITRATE,NITRATE_N,NaN,31.94030,31.94,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 1,POTABLE - Complaint,ELIMS_UK2,F
195,SUSSEX,916726,13/06/2005 12:24,NITRATE,NITRATE_N,NaN,31.85170,31.85,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 1,POTABLE - Complaint,ELIMS_UK2,F
196,SUSSEX,986341,15/09/2005 12:10,NITRATE,NITRATE_N,NaN,29.54810,29.55,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 1,POTABLE - Routine/Compliance,ELIMS_UK2,T
197,SUSSEX,1038343,29/11/2005 11:50,NITRATE,NITRATE_N,NaN,31.58590,31.59,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 1,POTABLE - Complaint,ELIMS_UK2,F
198,SUSSEX,1177183,21/06/2006 11:20,NITRATE,NITRATE_N,NaN,31.36440,31.36,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 1,POTABLE - Routine/Compliance,ELIMS_UK2,T
199,SUSSEX,1326600,25/01/2007 12:30,NITRATE,NITRATE_N,NaN,35.44000,35.44,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 1,POTABLE - Complaint,ELIMS_UK2,F
200,SUSSEX,1782978,09/12/2008 10:00,NITRATE,NITRATE_N,NaN,27.73180,27.73,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 1,POTABLE - Complaint,ELIMS_UK2,F
201,SUSSEX,1816900,20/02/2009 11:05,NITRATE,NITRATE_N,NaN,34.06670,34.07,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 1,POTABLE - Complaint,ELIMS_UK2,F
202,SUSSEX,1840666,08/04/2009 10:45,NITRATE,NITRATE_N,NaN,32.95920,32.96,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 1,POTABLE - Complaint,ELIMS_UK2,F
203,SUSSEX,2074969,02/08/2010 09:45,NITRATE,NITRATE_N,NaN,38.67390,38.67,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 1,POTABLE - Complaint,ELIMS_UK2,F
204,SUSSEX,2078722,06/08/2010 11:45,NITRATE,NITRATE_N,NaN,35.83870,35.84,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 1,POTABLE - Complaint,ELIMS_UK2,F
205,SUSSEX,738436,16/09/2004 09:00,NITRATE,NITRATE_N,NaN,31.80740,31.81,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 2,POTABLE - Routine/Compliance,ELIMS_UK2,T
206,SUSSEX,767087,29/10/2004 10:25,NITRATE,NITRATE_N,NaN,29.50380,29.5,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 2,POTABLE - Routine/Compliance,ELIMS_UK2,T
207,SUSSEX,824843,01/02/2005 09:45,NITRATE,NITRATE_N,NaN,32.33900,32.34,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 2,POTABLE - Routine/Compliance,ELIMS_UK2,T
208,SUSSEX,949714,03/08/2005 12:10,NITRATE,NITRATE_N,NaN,31.80740,31.81,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 2,POTABLE - Routine/Compliance,ELIMS_UK2,T
209,SUSSEX,1815767,18/02/2009 11:20,NITRATE,NITRATE_N,NaN,33.66800,33.67,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 2,POTABLE - Complaint,ELIMS_UK2,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7288,SUSSEX,1046350,09/12/2005 09:00,NITRATE,NITRATE_N,NaN,4.74010,4.74,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 8,POTABLE - Complaint,ELIMS_UK2,F
7289,SUSSEX,1674748,11/06/2008 10:47,NITRATE,NITRATE_N,NaN,5.09450,5.09,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 8,POTABLE - Complaint,ELIMS_UK2,F
7290,SUSSEX,585922,29/01/2004 10:15,NITRATE,NITRATE_N,NaN,7.75250,7.75,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Complaint,ELIMS_UK2,F
7291,SUSSEX,803711,07/01/2005 11:45,NITRATE,NITRATE_N,NaN,5.71470,5.71,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T
7292,SUSSEX,928565,01/07/2005 11:30,NITRATE,NITRATE_N,NaN,2.74660,2.75,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Complaint,ELIMS_UK2,F
7293,SUSSEX,962583,18/08/2005 11:15,NITRATE,NITRATE_N,<,0.86828,0.86828,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T
7294,SUSSEX,1101334,07/03/2006 10:00,NITRATE,NITRATE_N,NaN,7.70820,7.71,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Complaint,ELIMS_UK2,F
7295,SUSSEX,1146430,15/05/2006 10:00,NITRATE,NITRATE_N,NaN,6.77790,6.78,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T
7296,SUSSEX,1203380,24/07/2006 11:45,NITRATE,NITRATE_N,NaN,2.69344,2.69,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Complaint,ELIMS_UK2,F
7297,SUSSEX,1266721,24/10/2006 09:45,NITRATE,NITRATE_N,NaN,1.17838,1.18,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T
7298,SUSSEX,1432247,03/07/2007 13:15,NITRATE,NITRATE_N,NaN,2.71116,2.71,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T
7299,SUSSEX,1466363,22/08/2007 12:20,NITRATE,NITRATE_N,NaN,2.18842,2.19,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Complaint,ELIMS_UK2,F
7300,SUSSEX,1497951,05/10/2007 12:20,NITRATE,NITRATE_N,NaN,1.46633,1.47,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T
7301,SUSSEX,1770642,20/11/2008 09:58,NITRATE,NITRATE_N,NaN,3.18960,3.19,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T
7302,SUSSEX,1816335,18/02/2009 10:25,NITRATE,NITRATE_N,NaN,4.78440,4.78,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T
7303,SUSSEX,1891694,16/07/2009 10:32,NITRATE,NITRATE_N,NaN,3.98700,3.99,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Complaint,ELIMS_UK2,F
7304,SUSSEX,1909334,20/08/2009 10:45,NITRATE,NITRATE_N,<,2.64471,2.64,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T
7305,SUSSEX,1914970,01/09/2009 11:00,NITRATE,NITRATE_N,<,2.64471,2.64,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Complaint,ELIMS_UK2,F
7306,SUSSEX,1932282,05/10/2009 11:28,NITRATE,NITRATE_N,<,2.64471,2.64,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T
7307,SUSSEX,1939490,19/10/2009 11:22,NITRATE,NITRATE_N,<,2.64471,2.64,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Complaint,ELIMS_UK2,F
7308,SUSSEX,2019544,01/04/2010 09:00,NITRATE,NITRATE_N,NaN,5.62610,5.63,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Complaint,ELIMS_UK2,F
7309,SUSSEX,2039872,17/05/2010 12:24,NITRATE,NITRATE_N,NaN,4.11990,4.12,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T
7310,SUSSEX,2087421,01/09/2010 11:05,NITRATE,NITRATE_N,NaN,2.21500,2.22,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Complaint,ELIMS_UK2,F
7311,SUSSEX,2109534,25/10/2010 11:12,NITRATE,NITRATE_N,NaN,2.83520,2.84,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Complaint,ELIMS_UK2,F
7312,SUSSEX,695021,09/07/2004 10:30,NITRATE,NITRATE_N,NaN,2.92823,2.93,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 0,POTABLE - Complaint,ELIMS_UK2,F
7313,SUSSEX,2091826,09/09/2010 12:13,NITRATE,NITRATE_N,NaN,2.48080,2.48,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 0,POTABLE - Complaint,ELIMS_UK2,F
7314,SUSSEX,1840095,06/04/2009 12:10,NITRATE,NITRATE_N,NaN,6.55640,6.56,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 8,POTABLE - Routine/Compliance,ELIMS_UK2,T
7315,SUSSEX,2087791,02/09/2010 10:55,NITRATE,NITRATE_N,NaN,3.58830,3.59,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 8,POTABLE - Complaint,ELIMS_UK2,F
7316,SUSSEX,1635884,10/04/2008 13:04,NITRATE,NITRATE_N,NaN,4.87300,4.87,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T
7317,SUSSEX,1119810,31/03/2006 09:45,NITRATE,NITRATE_N,NaN,5.80330,5.8,MILLIGRAMS PER LITRE AS NITRATE,Authorised,YN34 1,POTABLE - Complaint,ELIMS_UK2,F

In [17]:
df2

,Sample Point Name,Sample ID,Sample Date & Time,Determinand Name,Labsys Analysis ID,Qualifier,Result (Numeric),Result (Text),Unit of Measure Code,Test Status Name,Sample Postcode,Sample Reason Name,Analysis Type,Compliance
0,SUSSEX,573105,09/01/2004 12:45,NITRATE,NITRATE_N,NaN,31.1872,31.19,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 1,POTABLE - Complaint,ELIMS_UK2,F
1,SUSSEX,633645,07/04/2004 11:40,NITRATE,NITRATE_N,NaN,29.5038,29.5,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 1,POTABLE - Routine/Compliance,ELIMS_UK2,T
2,SUSSEX,678491,18/06/2004 09:20,NITRATE,NITRATE_N,NaN,34.5540,34.55,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 1,POTABLE - Routine/Compliance,ELIMS_UK2,T
3,SUSSEX,697870,16/07/2004 10:40,NITRATE,NITRATE_N,NaN,63.7920,63.79,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 1,POTABLE - Complaint,ELIMS_UK2,F
4,SUSSEX,729286,01/09/2004 12:30,NITRATE,NITRATE_N,NaN,27.9533,27.95,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 1,POTABLE - Routine/Compliance,ELIMS_UK2,T
5,SUSSEX,1084702,14/02/2006 11:05,NITRATE,NITRATE_N,NaN,29.1494,29.15,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 1,POTABLE - Complaint,ELIMS_UK2,F
6,SUSSEX,1283516,17/11/2006 09:50,NITRATE,NITRATE_N,NaN,31.0100,31.01,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 1,POTABLE - Complaint,ELIMS_UK2,F
7,SUSSEX,1358467,12/03/2007 12:20,NITRATE,NITRATE_N,NaN,36.0602,36.06,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 1,POTABLE - Non-Routine/Investigation,ELIMS_UK2,F
8,SUSSEX,1440094,16/07/2007 12:00,NITRATE,NITRATE_N,NaN,34.2882,34.29,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 1,POTABLE - Complaint,ELIMS_UK2,F
9,SUSSEX,1528007,09/11/2007 10:15,NITRATE,NITRATE_N,NaN,35.8830,35.88,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 1,POTABLE - Complaint,ELIMS_UK2,F
10,SUSSEX,1726192,09/09/2008 12:20,NITRATE,NITRATE_N,NaN,27.5103,27.51,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 1,POTABLE - Complaint,ELIMS_UK2,F
11,SUSSEX,1779965,04/12/2008 09:25,NITRATE,NITRATE_N,NaN,26.3142,26.31,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 1,POTABLE - Routine/Compliance,ELIMS_UK2,T
12,SUSSEX,1983336,22/01/2010 12:30,NITRATE,NITRATE_N,NaN,36.9462,36.95,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 1,POTABLE - Complaint,ELIMS_UK2,F
13,SUSSEX,2001764,25/02/2010 10:30,NITRATE,NITRATE_N,NaN,36.1045,36.1,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 1,POTABLE - Complaint,ELIMS_UK2,F
14,SUSSEX,2083066,19/08/2010 11:35,NITRATE,NITRATE_N,NaN,33.5794,33.58,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 1,POTABLE - Complaint,ELIMS_UK2,F
15,SUSSEX,711113,03/08/2004 11:50,NITRATE,NITRATE_N,NaN,30.3898,30.39,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 2,POTABLE - Complaint,ELIMS_UK2,F
16,SUSSEX,975315,31/08/2005 09:55,NITRATE,NITRATE_N,NaN,29.8139,29.81,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 2,POTABLE - Routine/Compliance,ELIMS_UK2,T
17,SUSSEX,1232331,07/09/2006 12:00,NITRATE,NITRATE_N,NaN,32.7820,32.78,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 2,POTABLE - Routine/Compliance,ELIMS_UK2,T
18,SUSSEX,1399709,15/05/2007 11:40,NITRATE,NITRATE_N,NaN,32.4719,32.47,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 2,POTABLE - Complaint,ELIMS_UK2,F
19,SUSSEX,1889796,15/07/2009 10:15,NITRATE,NITRATE_N,NaN,31.2758,31.28,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 2,POTABLE - Complaint,ELIMS_UK2,F
20,SUSSEX,2007461,09/03/2010 07:10,NITRATE,NITRATE_N,NaN,36.6804,36.68,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 2,POTABLE - Routine/Compliance,ELIMS_UK2,F
21,SUSSEX,2064238,25/07/2010 12:55,NITRATE,NITRATE_N,NaN,38.1423,38.14,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 2,POTABLE - Routine/Compliance,ELIMS_UK2,T
22,SUSSEX,690105,06/07/2004 11:40,NITRATE,NITRATE_N,NaN,29.5481,29.55,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 3,POTABLE - Routine/Compliance,ELIMS_UK2,T
23,SUSSEX,701212,21/07/2004 09:20,NITRATE,NITRATE_N,NaN,28.6178,28.62,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 3,POTABLE - Complaint,ELIMS_UK2,F
24,SUSSEX,709170,30/07/2004 12:30,NITRATE,NITRATE_N,NaN,30.9657,30.97,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 3,POTABLE - Complaint,ELIMS_UK2,F
25,SUSSEX,908818,01/06/2005 11:00,NITRATE,NITRATE_N,NaN,29.2823,29.28,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 3,POTABLE - Complaint,ELIMS_UK2,F
26,SUSSEX,1056128,30/12/2005 13:25,NITRATE,NITRATE_N,NaN,27.9090,27.91,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 3,POTABLE - Complaint,ELIMS_UK2,F
27,SUSSEX,1136277,26/04/2006 09:50,NITRATE,NITRATE_N,NaN,38.7182,38.72,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 3,POTABLE - Complaint,ELIMS_UK2,F
28,SUSSEX,1272726,03/11/2006 11:00,NITRATE,NITRATE_N,NaN,33.5351,33.54,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 3,POTABLE - Routine/Compliance,ELIMS_UK2,T
29,SUSSEX,1278004,10/11/2006 11:45,NITRATE,NITRATE_N,NaN,30.0354,30.04,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN1 3,POTABLE - Complaint,ELIMS_UK2,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3580,KENT,828802,08/02/2005 10:40,NITRATE,NITRATE_N,NaN,27.5989,27.6,MILLIGRAMS PER LITRE AS NITRATE,Authorised,ME9 8,POTABLE - Routine/Compliance,ELIMS_UK2,T
3581,KENT,890946,05/05/2005 12:30,NITRATE,NITRATE_N,NaN,21.5298,21.53,MILLIGRAMS PER LITRE AS NITRATE,Authorised,ME9 8,POTABLE - Complaint,ELIMS_UK2,F
3582,KENT,985247,15/09/2005 11:45,NITRATE,NITRATE_N,NaN,18.9604,18.96,MILLIGRAMS PER LITRE AS NITRATE,Authorised,ME9 8,POTABLE - Routine/Compliance,ELIMS_UK2,T
3583,KENT,1056427,30/12/2005 09:00,NITRATE,NITRATE_N,NaN,20.3780,20.38,MILLIGRAMS PER LITRE AS NITRATE,Authorised,ME9 8,POTABLE - Complaint,ELIMS_UK2,F
3584,KENT,1057524,06/01/2006 11:45,NITRATE,NITRATE_N,NaN,21.5298,21.53,MILLIGRAMS PER LITRE AS NITRATE,Authorised,ME9 8,POTABLE - Routine/Compliance,ELIMS_UK2,T
3585,KENT,1236382,11/09/2006 10:40,NITRATE,NITRATE_N,NaN,24.5422,24.54,MILLIGRAMS PER LITRE AS NITRATE,Authorised,ME9 8,POTABLE - Complaint,ELIMS_UK2,F
3586,KENT,1347998,23/02/2007 09:55,NITRATE,NITRATE_N,NaN,25.0295,25.03,MILLIGRAMS PER LITRE AS NITRATE,Authorised,ME9 8,POTABLE - Complaint,ELIMS_UK2,F
3587,KENT,1347999,23/02/2007 09:55,NITRATE,NITRATE_N,NaN,26.0041,26,MILLIGRAMS PER LITRE AS NITRATE,Authorised,ME9 8,POTABLE - Complaint,ELIMS_UK2,F
3588,KENT,1497947,05/10/2007 09:38,NITRATE,NITRATE_N,NaN,22.1500,22.15,MILLIGRAMS PER LITRE AS NITRATE,Authorised,ME9 8,POTABLE - Routine/Compliance,ELIMS_UK2,T
3589,KENT,1530802,13/11/2007 08:40,NITRATE,NITRATE_N,NaN,21.5298,21.53,MILLIGRAMS PER LITRE AS NITRATE,Authorised,ME9 8,POTABLE - Routine/Compliance,ELIMS_UK2,T
3590,KENT,1742066,06/10/2008 11:31,NITRATE,NITRATE_N,NaN,19.7135,19.71,MILLIGRAMS PER LITRE AS NITRATE,Authorised,ME9 8,POTABLE - Routine/Compliance,ELIMS_UK2,T
3591,KENT,1801773,23/01/2009 09:55,NITRATE,NITRATE_N,NaN,20.4666,20.47,MILLIGRAMS PER LITRE AS NITRATE,Authorised,ME9 8,POTABLE - Routine/Compliance,ELIMS_UK2,T
3592,KENT,1860500,18/05/2009 10:45,NITRATE,NITRATE_N,NaN,19.0933,19.09,MILLIGRAMS PER LITRE AS NITRATE,Authorised,ME9 8,POTABLE - Routine/Compliance,ELIMS_UK2,T
3593,KENT,1895472,27/07/2009 09:50,NITRATE,NITRATE_N,NaN,26.6243,26.62,MILLIGRAMS PER LITRE AS NITRATE,Authorised,ME9 8,POTABLE - Routine/Compliance,ELIMS_UK2,T
3594,KENT,2002158,26/02/2010 10:40,NITRATE,NITRATE_N,NaN,23.7005,23.7,MILLIGRAMS PER LITRE AS NITRATE,Authorised,ME9 8,POTABLE - Complaint,ELIMS_UK2,F
3595,KENT,2118031,16/11/2010 10:14,NITRATE,NITRATE_N,NaN,24.4093,24.41,MILLIGRAMS PER LITRE AS NITRATE,Authorised,ME9 8,POTABLE - Routine/Compliance,ELIMS_UK2,T
4372,HAMPSHIRE,853201,17/03/2005 09:45,NITRATE,NITRATE_N,NaN,30.1683,30.17,MILLIGRAMS PER LITRE AS NITRATE,Authorised,RG2 4,POTABLE - Routine/Compliance,ELIMS_UK2,T
4604,SUSSEX,1135165,27/04/2006 09:30,NITRATE,NITRATE_N,NaN,18.1630,18.16,MILLIGRAMS PER LITRE AS NITRATE,Authorised,RH0 7,POTABLE - Routine/Compliance,ELIMS_UK2,T
4605,SUSSEX,1309718,02/01/2007 13:05,NITRATE,NITRATE_N,NaN,12.8470,12.85,MILLIGRAMS PER LITRE AS NITRATE,Authorised,RH1 7,POTABLE - Routine/Compliance,ELIMS_UK2,T
5158,KENT,1578032,23/01/2008 12:40,NITRATE,NITRATE_N,NaN,38.2752,38.28,MILLIGRAMS PER LITRE AS NITRATE,Authorised,RT8 8,POTABLE - Routine/Compliance,ELIMS_UK2,T
5160,HAMPSHIRE,1422149,18/06/2007 10:38,NITRATE,NITRATE_N,NaN,34.2439,34.24,MILLIGRAMS PER LITRE AS NITRATE,Authorised,S10 1,POTABLE - Complaint,ELIMS_UK2,F
5161,HAMPSHIRE,2027347,19/04/2010 10:57,NITRATE,NITRATE_N,NaN,37.0791,37.08,MILLIGRAMS PER LITRE AS NITRATE,Authorised,S18 3,POTABLE - Complaint,ELIMS_UK2,F
5162,HAMPSHIRE,2096859,27/09/2010 13:33,NITRATE,NITRATE_N,NaN,36.8133,36.81,MILLIGRAMS PER LITRE AS NITRATE,Authorised,S21 1,POTABLE - Routine/Compliance,ELIMS_UK2,F
5978,HAMPSHIRE,1792301,02/01/2009 10:25,NITRATE,NITRATE_N,NaN,30.3012,30.3,MILLIGRAMS PER LITRE AS NITRATE,Authorised,SO23,POTABLE - Routine/Compliance,ELIMS_UK2,T
6430,HAMPSHIRE,1420500,15/06/2007 08:00,NITRATE,NITRATE_N,NaN,26.3142,26.31,MILLIGRAMS PER LITRE AS NITRATE,Authorised,SO437,POTABLE - Complaint,ELIMS_UK2,F
6431,HAMPSHIRE,1090289,17/02/2006 11:45,NITRATE,NITRATE_N,NaN,31.0100,31.01,MILLIGRAMS PER LITRE AS NITRATE,Authorised,SO45,POTABLE - Complaint,ELIMS_UK2,F
6626,HAMPSHIRE,688641,30/06/2004 12:40,NITRATE,NITRATE_N,NaN,33.4465,33.45,MILLIGRAMS PER LITRE AS NITRATE,Authorised,SO51,POTABLE - Complaint,ELIMS_UK2,F
7002,HAMPSHIRE,574576,21/01/2004 12:15,NITRATE,NITRATE_N,NaN,25.3839,25.38,MILLIGRAMS PER LITRE AS NITRATE,Authorised,SP5 1,POTABLE - Routine/Compliance,ELIMS_UK2,T
7003,HAMPSHIRE,1090290,17/02/2006 10:35,NITRATE,NITRATE_N,NaN,28.0419,28.04,MILLIGRAMS PER LITRE AS NITRATE,Authorised,SP5 1,POTABLE - Complaint,ELIMS_UK2,F
7004,HAMPSHIRE,1923112,15/09/2009 09:40,NITRATE,NITRATE_N,NaN,28.3963,28.4,MILLIGRAMS PER LITRE AS NITRATE,Authorised,SP5 1,POTABLE - Complaint,ELIMS_UK2,F

In [18]:
df1['First']= df1['Sample Postcode'].str[:4]

C:\Users\ansheeha\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [25]:
df1

,Sample Point Name,Sample ID,Sample Date & Time,Determinand Name,Labsys Analysis ID,Qualifier,Result (Numeric),Result (Text),Unit of Measure Code,Test Status Name,Sample Postcode,Sample Reason Name,Analysis Type,Compliance,First,Last,New_pstcd
180,SUSSEX,694548,12/07/2004 10:30,NITRATE,NITRATE_N,NaN,25.25100,25.25,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN10 7,POTABLE - Complaint,ELIMS_UK2,F,BN10,7,BN107
181,SUSSEX,823159,31/01/2005 09:50,NITRATE,NITRATE_N,NaN,26.26990,26.27,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN10 7,POTABLE - Routine/Compliance,ELIMS_UK2,T,BN10,7,BN107
182,SUSSEX,1364444,22/03/2007 12:34,NITRATE,NITRATE_N,NaN,28.17480,28.17,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN10 7,POTABLE - Complaint,ELIMS_UK2,F,BN10,7,BN107
183,SUSSEX,1523092,05/11/2007 12:50,NITRATE,NITRATE_N,NaN,26.71290,26.71,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN10 7,POTABLE - Complaint,ELIMS_UK2,F,BN10,7,BN107
184,SUSSEX,1764656,10/11/2008 11:00,NITRATE,NITRATE_N,NaN,24.63080,24.63,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN10 7,POTABLE - Complaint,ELIMS_UK2,F,BN10,7,BN107
185,SUSSEX,1861985,22/05/2009 11:05,NITRATE,NITRATE_N,NaN,25.91550,25.92,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN10 7,POTABLE - Complaint,ELIMS_UK2,F,BN10,7,BN107
186,SUSSEX,2001129,25/02/2010 08:50,NITRATE,NITRATE_N,NaN,31.49730,31.5,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN10 7,POTABLE - Complaint,ELIMS_UK2,F,BN10,7,BN107
187,SUSSEX,2026059,16/04/2010 11:05,NITRATE,NITRATE_N,NaN,28.13050,28.13,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN10 7,POTABLE - Complaint,ELIMS_UK2,F,BN10,7,BN107
188,SUSSEX,2049430,04/06/2010 13:20,NITRATE,NITRATE_N,NaN,30.52270,30.52,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN10 7,POTABLE - Routine/Compliance,ELIMS_UK2,F,BN10,7,BN107
189,SUSSEX,2092318,15/09/2010 11:40,NITRATE,NITRATE_N,NaN,32.07320,32.07,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN10 7,POTABLE - Routine/Compliance,ELIMS_UK2,T,BN10,7,BN107
190,SUSSEX,675111,14/06/2004 09:25,NITRATE,NITRATE_N,NaN,32.29470,32.29,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 1,POTABLE - Routine/Compliance,ELIMS_UK2,T,BN11,1,BN111
191,SUSSEX,711947,05/08/2004 12:15,NITRATE,NITRATE_N,NaN,31.67450,31.67,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 1,POTABLE - Complaint,ELIMS_UK2,F,BN11,1,BN111
192,SUSSEX,875621,14/04/2005 12:00,NITRATE,NITRATE_N,NaN,32.29470,32.29,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 1,POTABLE - Complaint,ELIMS_UK2,F,BN11,1,BN111
193,SUSSEX,875622,14/04/2005 12:10,NITRATE,NITRATE_N,NaN,32.69340,32.69,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 1,POTABLE - Complaint,ELIMS_UK2,F,BN11,1,BN111
194,SUSSEX,897352,13/05/2005 10:40,NITRATE,NITRATE_N,NaN,31.94030,31.94,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 1,POTABLE - Complaint,ELIMS_UK2,F,BN11,1,BN111
195,SUSSEX,916726,13/06/2005 12:24,NITRATE,NITRATE_N,NaN,31.85170,31.85,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 1,POTABLE - Complaint,ELIMS_UK2,F,BN11,1,BN111
196,SUSSEX,986341,15/09/2005 12:10,NITRATE,NITRATE_N,NaN,29.54810,29.55,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 1,POTABLE - Routine/Compliance,ELIMS_UK2,T,BN11,1,BN111
197,SUSSEX,1038343,29/11/2005 11:50,NITRATE,NITRATE_N,NaN,31.58590,31.59,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 1,POTABLE - Complaint,ELIMS_UK2,F,BN11,1,BN111
198,SUSSEX,1177183,21/06/2006 11:20,NITRATE,NITRATE_N,NaN,31.36440,31.36,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 1,POTABLE - Routine/Compliance,ELIMS_UK2,T,BN11,1,BN111
199,SUSSEX,1326600,25/01/2007 12:30,NITRATE,NITRATE_N,NaN,35.44000,35.44,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 1,POTABLE - Complaint,ELIMS_UK2,F,BN11,1,BN111
200,SUSSEX,1782978,09/12/2008 10:00,NITRATE,NITRATE_N,NaN,27.73180,27.73,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 1,POTABLE - Complaint,ELIMS_UK2,F,BN11,1,BN111
201,SUSSEX,1816900,20/02/2009 11:05,NITRATE,NITRATE_N,NaN,34.06670,34.07,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 1,POTABLE - Complaint,ELIMS_UK2,F,BN11,1,BN111
202,SUSSEX,1840666,08/04/2009 10:45,NITRATE,NITRATE_N,NaN,32.95920,32.96,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 1,POTABLE - Complaint,ELIMS_UK2,F,BN11,1,BN111
203,SUSSEX,2074969,02/08/2010 09:45,NITRATE,NITRATE_N,NaN,38.67390,38.67,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 1,POTABLE - Complaint,ELIMS_UK2,F,BN11,1,BN111
204,SUSSEX,2078722,06/08/2010 11:45,NITRATE,NITRATE_N,NaN,35.83870,35.84,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 1,POTABLE - Complaint,ELIMS_UK2,F,BN11,1,BN111
205,SUSSEX,738436,16/09/2004 09:00,NITRATE,NITRATE_N,NaN,31.80740,31.81,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 2,POTABLE - Routine/Compliance,ELIMS_UK2,T,BN11,2,BN112
206,SUSSEX,767087,29/10/2004 10:25,NITRATE,NITRATE_N,NaN,29.50380,29.5,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 2,POTABLE - Routine/Compliance,ELIMS_UK2,T,BN11,2,BN112
207,SUSSEX,824843,01/02/2005 09:45,NITRATE,NITRATE_N,NaN,32.33900,32.34,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 2,POTABLE - Routine/Compliance,ELIMS_UK2,T,BN11,2,BN112
208,SUSSEX,949714,03/08/2005 12:10,NITRATE,NITRATE_N,NaN,31.80740,31.81,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 2,POTABLE - Routine/Compliance,ELIMS_UK2,T,BN11,2,BN112
209,SUSSEX,1815767,18/02/2009 11:20,NITRATE,NITRATE_N,NaN,33.66800,33.67,MILLIGRAMS PER LITRE AS NITRATE,Authorised,BN11 2,POTABLE - Complaint,ELIMS_UK2,F,BN11,2,BN112
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7288,SUSSEX,1046350,09/12/2005 09:00,NITRATE,NITRATE_N,NaN,4.74010,4.74,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 8,POTABLE - Complaint,ELIMS_UK2,F,TN38,8,TN388
7289,SUSSEX,1674748,11/06/2008 10:47,NITRATE,NITRATE_N,NaN,5.09450,5.09,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 8,POTABLE - Complaint,ELIMS_UK2,F,TN38,8,TN388
7290,SUSSEX,585922,29/01/2004 10:15,NITRATE,NITRATE_N,NaN,7.75250,7.75,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Complaint,ELIMS_UK2,F,TN38,9,TN389
7291,SUSSEX,803711,07/01/2005 11:45,NITRATE,NITRATE_N,NaN,5.71470,5.71,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T,TN38,9,TN389
7292,SUSSEX,928565,01/07/2005 11:30,NITRATE,NITRATE_N,NaN,2.74660,2.75,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Complaint,ELIMS_UK2,F,TN38,9,TN389
7293,SUSSEX,962583,18/08/2005 11:15,NITRATE,NITRATE_N,<,0.86828,0.86828,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T,TN38,9,TN389
7294,SUSSEX,1101334,07/03/2006 10:00,NITRATE,NITRATE_N,NaN,7.70820,7.71,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Complaint,ELIMS_UK2,F,TN38,9,TN389
7295,SUSSEX,1146430,15/05/2006 10:00,NITRATE,NITRATE_N,NaN,6.77790,6.78,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T,TN38,9,TN389
7296,SUSSEX,1203380,24/07/2006 11:45,NITRATE,NITRATE_N,NaN,2.69344,2.69,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Complaint,ELIMS_UK2,F,TN38,9,TN389
7297,SUSSEX,1266721,24/10/2006 09:45,NITRATE,NITRATE_N,NaN,1.17838,1.18,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T,TN38,9,TN389
7298,SUSSEX,1432247,03/07/2007 13:15,NITRATE,NITRATE_N,NaN,2.71116,2.71,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T,TN38,9,TN389
7299,SUSSEX,1466363,22/08/2007 12:20,NITRATE,NITRATE_N,NaN,2.18842,2.19,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Complaint,ELIMS_UK2,F,TN38,9,TN389
7300,SUSSEX,1497951,05/10/2007 12:20,NITRATE,NITRATE_N,NaN,1.46633,1.47,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T,TN38,9,TN389
7301,SUSSEX,1770642,20/11/2008 09:58,NITRATE,NITRATE_N,NaN,3.18960,3.19,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T,TN38,9,TN389
7302,SUSSEX,1816335,18/02/2009 10:25,NITRATE,NITRATE_N,NaN,4.78440,4.78,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T,TN38,9,TN389
7303,SUSSEX,1891694,16/07/2009 10:32,NITRATE,NITRATE_N,NaN,3.98700,3.99,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Complaint,ELIMS_UK2,F,TN38,9,TN389
7304,SUSSEX,1909334,20/08/2009 10:45,NITRATE,NITRATE_N,<,2.64471,2.64,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T,TN38,9,TN389
7305,SUSSEX,1914970,01/09/2009 11:00,NITRATE,NITRATE_N,<,2.64471,2.64,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Complaint,ELIMS_UK2,F,TN38,9,TN389
7306,SUSSEX,1932282,05/10/2009 11:28,NITRATE,NITRATE_N,<,2.64471,2.64,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T,TN38,9,TN389
7307,SUSSEX,1939490,19/10/2009 11:22,NITRATE,NITRATE_N,<,2.64471,2.64,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Complaint,ELIMS_UK2,F,TN38,9,TN389
7308,SUSSEX,2019544,01/04/2010 09:00,NITRATE,NITRATE_N,NaN,5.62610,5.63,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Complaint,ELIMS_UK2,F,TN38,9,TN389
7309,SUSSEX,2039872,17/05/2010 12:24,NITRATE,NITRATE_N,NaN,4.11990,4.12,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T,TN38,9,TN389
7310,SUSSEX,2087421,01/09/2010 11:05,NITRATE,NITRATE_N,NaN,2.21500,2.22,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Complaint,ELIMS_UK2,F,TN38,9,TN389
7311,SUSSEX,2109534,25/10/2010 11:12,NITRATE,NITRATE_N,NaN,2.83520,2.84,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Complaint,ELIMS_UK2,F,TN38,9,TN389
7312,SUSSEX,695021,09/07/2004 10:30,NITRATE,NITRATE_N,NaN,2.92823,2.93,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 0,POTABLE - Complaint,ELIMS_UK2,F,TN38,0,TN380
7313,SUSSEX,2091826,09/09/2010 12:13,NITRATE,NITRATE_N,NaN,2.48080,2.48,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 0,POTABLE - Complaint,ELIMS_UK2,F,TN38,0,TN380
7314,SUSSEX,1840095,06/04/2009 12:10,NITRATE,NITRATE_N,NaN,6.55640,6.56,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 8,POTABLE - Routine/Compliance,ELIMS_UK2,T,TN38,8,TN388
7315,SUSSEX,2087791,02/09/2010 10:55,NITRATE,NITRATE_N,NaN,3.58830,3.59,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 8,POTABLE - Complaint,ELIMS_UK2,F,TN38,8,TN388
7316,SUSSEX,1635884,10/04/2008 13:04,NITRATE,NITRATE_N,NaN,4.87300,4.87,MILLIGRAMS PER LITRE AS NITRATE,Authorised,TN38 9,POTABLE - Routine/Compliance,ELIMS_UK2,T,TN38,9,TN389
7317,SUSSEX,1119810,31/03/2006 09:45,NITRATE,NITRATE_N,NaN,5.80330,5.8,MILLIGRAMS PER LITRE AS NITRATE,Authorised,YN34 1,POTABLE - Complaint,ELIMS_UK2,F,YN34,1,YN341

In [21]:
df1['Last']= df1['Sample Postcode'].str[5:6]

C:\Users\ansheeha\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [23]:
df1['New_pstcd'] = df1['First'].map(str) + df1['Last']

C:\Users\ansheeha\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [26]:
df1_n = df1[['Sample Point Name', 'Sample ID', 'Sample Date & Time', 'Result (Numeric)', 'Result (Text)', 'Unit of Measure Code', 'New_pstcd' ]]

In [29]:
df1_n

,Sample Point Name,Sample ID,Sample Date & Time,Result (Numeric),Result (Text),Unit of Measure Code,Sample Postcode
180,SUSSEX,694548,12/07/2004 10:30,25.25100,25.25,MILLIGRAMS PER LITRE AS NITRATE,BN107
181,SUSSEX,823159,31/01/2005 09:50,26.26990,26.27,MILLIGRAMS PER LITRE AS NITRATE,BN107
182,SUSSEX,1364444,22/03/2007 12:34,28.17480,28.17,MILLIGRAMS PER LITRE AS NITRATE,BN107
183,SUSSEX,1523092,05/11/2007 12:50,26.71290,26.71,MILLIGRAMS PER LITRE AS NITRATE,BN107
184,SUSSEX,1764656,10/11/2008 11:00,24.63080,24.63,MILLIGRAMS PER LITRE AS NITRATE,BN107
185,SUSSEX,1861985,22/05/2009 11:05,25.91550,25.92,MILLIGRAMS PER LITRE AS NITRATE,BN107
186,SUSSEX,2001129,25/02/2010 08:50,31.49730,31.5,MILLIGRAMS PER LITRE AS NITRATE,BN107
187,SUSSEX,2026059,16/04/2010 11:05,28.13050,28.13,MILLIGRAMS PER LITRE AS NITRATE,BN107
188,SUSSEX,2049430,04/06/2010 13:20,30.52270,30.52,MILLIGRAMS PER LITRE AS NITRATE,BN107
189,SUSSEX,2092318,15/09/2010 11:40,32.07320,32.07,MILLIGRAMS PER LITRE AS NITRATE,BN107
190,SUSSEX,675111,14/06/2004 09:25,32.29470,32.29,MILLIGRAMS PER LITRE AS NITRATE,BN111
191,SUSSEX,711947,05/08/2004 12:15,31.67450,31.67,MILLIGRAMS PER LITRE AS NITRATE,BN111
192,SUSSEX,875621,14/04/2005 12:00,32.29470,32.29,MILLIGRAMS PER LITRE AS NITRATE,BN111
193,SUSSEX,875622,14/04/2005 12:10,32.69340,32.69,MILLIGRAMS PER LITRE AS NITRATE,BN111
194,SUSSEX,897352,13/05/2005 10:40,31.94030,31.94,MILLIGRAMS PER LITRE AS NITRATE,BN111
195,SUSSEX,916726,13/06/2005 12:24,31.85170,31.85,MILLIGRAMS PER LITRE AS NITRATE,BN111
196,SUSSEX,986341,15/09/2005 12:10,29.54810,29.55,MILLIGRAMS PER LITRE AS NITRATE,BN111
197,SUSSEX,1038343,29/11/2005 11:50,31.58590,31.59,MILLIGRAMS PER LITRE AS NITRATE,BN111
198,SUSSEX,1177183,21/06/2006 11:20,31.36440,31.36,MILLIGRAMS PER LITRE AS NITRATE,BN111
199,SUSSEX,1326600,25/01/2007 12:30,35.44000,35.44,MILLIGRAMS PER LITRE AS NITRATE,BN111
200,SUSSEX,1782978,09/12/2008 10:00,27.73180,27.73,MILLIGRAMS PER LITRE AS NITRATE,BN111
201,SUSSEX,1816900,20/02/2009 11:05,34.06670,34.07,MILLIGRAMS PER LITRE AS NITRATE,BN111
202,SUSSEX,1840666,08/04/2009 10:45,32.95920,32.96,MILLIGRAMS PER LITRE AS NITRATE,BN111
203,SUSSEX,2074969,02/08/2010 09:45,38.67390,38.67,MILLIGRAMS PER LITRE AS NITRATE,BN111
204,SUSSEX,2078722,06/08/2010 11:45,35.83870,35.84,MILLIGRAMS PER LITRE AS NITRATE,BN111
205,SUSSEX,738436,16/09/2004 09:00,31.80740,31.81,MILLIGRAMS PER LITRE AS NITRATE,BN112
206,SUSSEX,767087,29/10/2004 10:25,29.50380,29.5,MILLIGRAMS PER LITRE AS NITRATE,BN112
207,SUSSEX,824843,01/02/2005 09:45,32.33900,32.34,MILLIGRAMS PER LITRE AS NITRATE,BN112
208,SUSSEX,949714,03/08/2005 12:10,31.80740,31.81,MILLIGRAMS PER LITRE AS NITRATE,BN112
209,SUSSEX,1815767,18/02/2009 11:20,33.66800,33.67,MILLIGRAMS PER LITRE AS NITRATE,BN112
...,...,...,...,...,...,...,...
7288,SUSSEX,1046350,09/12/2005 09:00,4.74010,4.74,MILLIGRAMS PER LITRE AS NITRATE,TN388
7289,SUSSEX,1674748,11/06/2008 10:47,5.09450,5.09,MILLIGRAMS PER LITRE AS NITRATE,TN388
7290,SUSSEX,585922,29/01/2004 10:15,7.75250,7.75,MILLIGRAMS PER LITRE AS NITRATE,TN389
7291,SUSSEX,803711,07/01/2005 11:45,5.71470,5.71,MILLIGRAMS PER LITRE AS NITRATE,TN389
7292,SUSSEX,928565,01/07/2005 11:30,2.74660,2.75,MILLIGRAMS PER LITRE AS NITRATE,TN389
7293,SUSSEX,962583,18/08/2005 11:15,0.86828,0.86828,MILLIGRAMS PER LITRE AS NITRATE,TN389
7294,SUSSEX,1101334,07/03/2006 10:00,7.70820,7.71,MILLIGRAMS PER LITRE AS NITRATE,TN389
7295,SUSSEX,1146430,15/05/2006 10:00,6.77790,6.78,MILLIGRAMS PER LITRE AS NITRATE,TN389
7296,SUSSEX,1203380,24/07/2006 11:45,2.69344,2.69,MILLIGRAMS PER LITRE AS NITRATE,TN389
7297,SUSSEX,1266721,24/10/2006 09:45,1.17838,1.18,MILLIGRAMS PER LITRE AS NITRATE,TN389
7298,SUSSEX,1432247,03/07/2007 13:15,2.71116,2.71,MILLIGRAMS PER LITRE AS NITRATE,TN389
7299,SUSSEX,1466363,22/08/2007 12:20,2.18842,2.19,MILLIGRAMS PER LITRE AS NITRATE,TN389
7300,SUSSEX,1497951,05/10/2007 12:20,1.46633,1.47,MILLIGRAMS PER LITRE AS NITRATE,TN389
7301,SUSSEX,1770642,20/11/2008 09:58,3.18960,3.19,MILLIGRAMS PER LITRE AS NITRATE,TN389
7302,SUSSEX,1816335,18/02/2009 10:25,4.78440,4.78,MILLIGRAMS PER LITRE AS NITRATE,TN389
7303,SUSSEX,1891694,16/07/2009 10:32,3.98700,3.99,MILLIGRAMS PER LITRE AS NITRATE,TN389
7304,SUSSEX,1909334,20/08/2009 10:45,2.64471,2.64,MILLIGRAMS PER LITRE AS NITRATE,TN389
7305,SUSSEX,1914970,01/09/2009 11:00,2.64471,2.64,MILLIGRAMS PER LITRE AS NITRATE,TN389
7306,SUSSEX,1932282,05/10/2009 11:28,2.64471,2.64,MILLIGRAMS PER LITRE AS NITRATE,TN389
7307,SUSSEX,1939490,19/10/2009 11:22,2.64471,2.64,MILLIGRAMS PER LITRE AS NITRATE,TN389
7308,SUSSEX,2019544,01/04/2010 09:00,5.62610,5.63,MILLIGRAMS PER LITRE AS NITRATE,TN389
7309,SUSSEX,2039872,17/05/2010 12:24,4.11990,4.12,MILLIGRAMS PER LITRE AS NITRATE,TN389
7310,SUSSEX,2087421,01/09/2010 11:05,2.21500,2.22,MILLIGRAMS PER LITRE AS NITRATE,TN389
7311,SUSSEX,2109534,25/10/2010 11:12,2.83520,2.84,MILLIGRAMS PER LITRE AS NITRATE,TN389
7312,SUSSEX,695021,09/07/2004 10:30,2.92823,2.93,MILLIGRAMS PER LITRE AS NITRATE,TN380
7313,SUSSEX,2091826,09/09/2010 12:13,2.48080,2.48,MILLIGRAMS PER LITRE AS NITRATE,TN380
7314,SUSSEX,1840095,06/04/2009 12:10,6.55640,6.56,MILLIGRAMS PER LITRE AS NITRATE,TN388
7315,SUSSEX,2087791,02/09/2010 10:55,3.58830,3.59,MILLIGRAMS PER LITRE AS NITRATE,TN388
7316,SUSSEX,1635884,10/04/2008 13:04,4.87300,4.87,MILLIGRAMS PER LITRE AS NITRATE,TN389
7317,SUSSEX,1119810,31/03/2006 09:45,5.80330,5.8,MILLIGRAMS PER LITRE AS NITRATE,YN341

In [28]:
df1_n = df1_n.rename(columns={'New_pstcd':'Sample Postcode'})

In [30]:
df2 = df2[['Sample Point Name', 'Sample ID', 'Sample Date & Time', 'Result (Numeric)', 'Result (Text)', 'Unit of Measure Code', 'Sample Postcode' ]]

In [31]:
df2

,Sample Point Name,Sample ID,Sample Date & Time,Result (Numeric),Result (Text),Unit of Measure Code,Sample Postcode
0,SUSSEX,573105,09/01/2004 12:45,31.1872,31.19,MILLIGRAMS PER LITRE AS NITRATE,BN1 1
1,SUSSEX,633645,07/04/2004 11:40,29.5038,29.5,MILLIGRAMS PER LITRE AS NITRATE,BN1 1
2,SUSSEX,678491,18/06/2004 09:20,34.5540,34.55,MILLIGRAMS PER LITRE AS NITRATE,BN1 1
3,SUSSEX,697870,16/07/2004 10:40,63.7920,63.79,MILLIGRAMS PER LITRE AS NITRATE,BN1 1
4,SUSSEX,729286,01/09/2004 12:30,27.9533,27.95,MILLIGRAMS PER LITRE AS NITRATE,BN1 1
5,SUSSEX,1084702,14/02/2006 11:05,29.1494,29.15,MILLIGRAMS PER LITRE AS NITRATE,BN1 1
6,SUSSEX,1283516,17/11/2006 09:50,31.0100,31.01,MILLIGRAMS PER LITRE AS NITRATE,BN1 1
7,SUSSEX,1358467,12/03/2007 12:20,36.0602,36.06,MILLIGRAMS PER LITRE AS NITRATE,BN1 1
8,SUSSEX,1440094,16/07/2007 12:00,34.2882,34.29,MILLIGRAMS PER LITRE AS NITRATE,BN1 1
9,SUSSEX,1528007,09/11/2007 10:15,35.8830,35.88,MILLIGRAMS PER LITRE AS NITRATE,BN1 1
10,SUSSEX,1726192,09/09/2008 12:20,27.5103,27.51,MILLIGRAMS PER LITRE AS NITRATE,BN1 1
11,SUSSEX,1779965,04/12/2008 09:25,26.3142,26.31,MILLIGRAMS PER LITRE AS NITRATE,BN1 1
12,SUSSEX,1983336,22/01/2010 12:30,36.9462,36.95,MILLIGRAMS PER LITRE AS NITRATE,BN1 1
13,SUSSEX,2001764,25/02/2010 10:30,36.1045,36.1,MILLIGRAMS PER LITRE AS NITRATE,BN1 1
14,SUSSEX,2083066,19/08/2010 11:35,33.5794,33.58,MILLIGRAMS PER LITRE AS NITRATE,BN1 1
15,SUSSEX,711113,03/08/2004 11:50,30.3898,30.39,MILLIGRAMS PER LITRE AS NITRATE,BN1 2
16,SUSSEX,975315,31/08/2005 09:55,29.8139,29.81,MILLIGRAMS PER LITRE AS NITRATE,BN1 2
17,SUSSEX,1232331,07/09/2006 12:00,32.7820,32.78,MILLIGRAMS PER LITRE AS NITRATE,BN1 2
18,SUSSEX,1399709,15/05/2007 11:40,32.4719,32.47,MILLIGRAMS PER LITRE AS NITRATE,BN1 2
19,SUSSEX,1889796,15/07/2009 10:15,31.2758,31.28,MILLIGRAMS PER LITRE AS NITRATE,BN1 2
20,SUSSEX,2007461,09/03/2010 07:10,36.6804,36.68,MILLIGRAMS PER LITRE AS NITRATE,BN1 2
21,SUSSEX,2064238,25/07/2010 12:55,38.1423,38.14,MILLIGRAMS PER LITRE AS NITRATE,BN1 2
22,SUSSEX,690105,06/07/2004 11:40,29.5481,29.55,MILLIGRAMS PER LITRE AS NITRATE,BN1 3
23,SUSSEX,701212,21/07/2004 09:20,28.6178,28.62,MILLIGRAMS PER LITRE AS NITRATE,BN1 3
24,SUSSEX,709170,30/07/2004 12:30,30.9657,30.97,MILLIGRAMS PER LITRE AS NITRATE,BN1 3
25,SUSSEX,908818,01/06/2005 11:00,29.2823,29.28,MILLIGRAMS PER LITRE AS NITRATE,BN1 3
26,SUSSEX,1056128,30/12/2005 13:25,27.9090,27.91,MILLIGRAMS PER LITRE AS NITRATE,BN1 3
27,SUSSEX,1136277,26/04/2006 09:50,38.7182,38.72,MILLIGRAMS PER LITRE AS NITRATE,BN1 3
28,SUSSEX,1272726,03/11/2006 11:00,33.5351,33.54,MILLIGRAMS PER LITRE AS NITRATE,BN1 3
29,SUSSEX,1278004,10/11/2006 11:45,30.0354,30.04,MILLIGRAMS PER LITRE AS NITRATE,BN1 3
...,...,...,...,...,...,...,...
3580,KENT,828802,08/02/2005 10:40,27.5989,27.6,MILLIGRAMS PER LITRE AS NITRATE,ME9 8
3581,KENT,890946,05/05/2005 12:30,21.5298,21.53,MILLIGRAMS PER LITRE AS NITRATE,ME9 8
3582,KENT,985247,15/09/2005 11:45,18.9604,18.96,MILLIGRAMS PER LITRE AS NITRATE,ME9 8
3583,KENT,1056427,30/12/2005 09:00,20.3780,20.38,MILLIGRAMS PER LITRE AS NITRATE,ME9 8
3584,KENT,1057524,06/01/2006 11:45,21.5298,21.53,MILLIGRAMS PER LITRE AS NITRATE,ME9 8
3585,KENT,1236382,11/09/2006 10:40,24.5422,24.54,MILLIGRAMS PER LITRE AS NITRATE,ME9 8
3586,KENT,1347998,23/02/2007 09:55,25.0295,25.03,MILLIGRAMS PER LITRE AS NITRATE,ME9 8
3587,KENT,1347999,23/02/2007 09:55,26.0041,26,MILLIGRAMS PER LITRE AS NITRATE,ME9 8
3588,KENT,1497947,05/10/2007 09:38,22.1500,22.15,MILLIGRAMS PER LITRE AS NITRATE,ME9 8
3589,KENT,1530802,13/11/2007 08:40,21.5298,21.53,MILLIGRAMS PER LITRE AS NITRATE,ME9 8
3590,KENT,1742066,06/10/2008 11:31,19.7135,19.71,MILLIGRAMS PER LITRE AS NITRATE,ME9 8
3591,KENT,1801773,23/01/2009 09:55,20.4666,20.47,MILLIGRAMS PER LITRE AS NITRATE,ME9 8
3592,KENT,1860500,18/05/2009 10:45,19.0933,19.09,MILLIGRAMS PER LITRE AS NITRATE,ME9 8
3593,KENT,1895472,27/07/2009 09:50,26.6243,26.62,MILLIGRAMS PER LITRE AS NITRATE,ME9 8
3594,KENT,2002158,26/02/2010 10:40,23.7005,23.7,MILLIGRAMS PER LITRE AS NITRATE,ME9 8
3595,KENT,2118031,16/11/2010 10:14,24.4093,24.41,MILLIGRAMS PER LITRE AS NITRATE,ME9 8
4372,HAMPSHIRE,853201,17/03/2005 09:45,30.1683,30.17,MILLIGRAMS PER LITRE AS NITRATE,RG2 4
4604,SUSSEX,1135165,27/04/2006 09:30,18.1630,18.16,MILLIGRAMS PER LITRE AS NITRATE,RH0 7
4605,SUSSEX,1309718,02/01/2007 13:05,12.8470,12.85,MILLIGRAMS PER LITRE AS NITRATE,RH1 7
5158,KENT,1578032,23/01/2008 12:40,38.2752,38.28,MILLIGRAMS PER LITRE AS NITRATE,RT8 8
5160,HAMPSHIRE,1422149,18/06/2007 10:38,34.2439,34.24,MILLIGRAMS PER LITRE AS NITRATE,S10 1
5161,HAMPSHIRE,2027347,19/04/2010 10:57,37.0791,37.08,MILLIGRAMS PER LITRE AS NITRATE,S18 3
5162,HAMPSHIRE,2096859,27/09/2010 13:33,36.8133,36.81,MILLIGRAMS PER LITRE AS NITRATE,S21 1
5978,HAMPSHIRE,1792301,02/01/2009 10:25,30.3012,30.3,MILLIGRAMS PER LITRE AS NITRATE,SO23
6430,HAMPSHIRE,1420500,15/06/2007 08:00,26.3142,26.31,MILLIGRAMS PER LITRE AS NITRATE,SO437
6431,HAMPSHIRE,1090289,17/02/2006 11:45,31.0100,31.01,MILLIGRAMS PER LITRE AS NITRATE,SO45
6626,HAMPSHIRE,688641,30/06/2004 12:40,33.4465,33.45,MILLIGRAMS PER LITRE AS NITRATE,SO51
7002,HAMPSHIRE,574576,21/01/2004 12:15,25.3839,25.38,MILLIGRAMS PER LITRE AS NITRATE,SP5 1
7003,HAMPSHIRE,1090290,17/02/2006 10:35,28.0419,28.04,MILLIGRAMS PER LITRE AS NITRATE,SP5 1
7004,HAMPSHIRE,1923112,15/09/2009 09:40,28.3963,28.4,MILLIGRAMS PER LITRE AS NITRATE,SP5 1

In [32]:
df_all = pd.concat([df1_n, df2])

In [33]:
df_all = df_all.set_index('Sample Postcode')

In [34]:
df_all

,Sample Point Name,Sample ID,Sample Date & Time,Result (Numeric),Result (Text),Unit of Measure Code
Sample Postcode,,,,,,
BN107,SUSSEX,694548,12/07/2004 10:30,25.2510,25.25,MILLIGRAMS PER LITRE AS NITRATE
BN107,SUSSEX,823159,31/01/2005 09:50,26.2699,26.27,MILLIGRAMS PER LITRE AS NITRATE
BN107,SUSSEX,1364444,22/03/2007 12:34,28.1748,28.17,MILLIGRAMS PER LITRE AS NITRATE
BN107,SUSSEX,1523092,05/11/2007 12:50,26.7129,26.71,MILLIGRAMS PER LITRE AS NITRATE
BN107,SUSSEX,1764656,10/11/2008 11:00,24.6308,24.63,MILLIGRAMS PER LITRE AS NITRATE
BN107,SUSSEX,1861985,22/05/2009 11:05,25.9155,25.92,MILLIGRAMS PER LITRE AS NITRATE
BN107,SUSSEX,2001129,25/02/2010 08:50,31.4973,31.5,MILLIGRAMS PER LITRE AS NITRATE
BN107,SUSSEX,2026059,16/04/2010 11:05,28.1305,28.13,MILLIGRAMS PER LITRE AS NITRATE
BN107,SUSSEX,2049430,04/06/2010 13:20,30.5227,30.52,MILLIGRAMS PER LITRE AS NITRATE
BN107,SUSSEX,2092318,15/09/2010 11:40,32.0732,32.07,MILLIGRAMS PER LITRE AS NITRATE
BN111,SUSSEX,675111,14/06/2004 09:25,32.2947,32.29,MILLIGRAMS PER LITRE AS NITRATE
BN111,SUSSEX,711947,05/08/2004 12:15,31.6745,31.67,MILLIGRAMS PER LITRE AS NITRATE
BN111,SUSSEX,875621,14/04/2005 12:00,32.2947,32.29,MILLIGRAMS PER LITRE AS NITRATE
BN111,SUSSEX,875622,14/04/2005 12:10,32.6934,32.69,MILLIGRAMS PER LITRE AS NITRATE
BN111,SUSSEX,897352,13/05/2005 10:40,31.9403,31.94,MILLIGRAMS PER LITRE AS NITRATE
BN111,SUSSEX,916726,13/06/2005 12:24,31.8517,31.85,MILLIGRAMS PER LITRE AS NITRATE
BN111,SUSSEX,986341,15/09/2005 12:10,29.5481,29.55,MILLIGRAMS PER LITRE AS NITRATE
BN111,SUSSEX,1038343,29/11/2005 11:50,31.5859,31.59,MILLIGRAMS PER LITRE AS NITRATE
BN111,SUSSEX,1177183,21/06/2006 11:20,31.3644,31.36,MILLIGRAMS PER LITRE AS NITRATE
BN111,SUSSEX,1326600,25/01/2007 12:30,35.4400,35.44,MILLIGRAMS PER LITRE AS NITRATE
BN111,SUSSEX,1782978,09/12/2008 10:00,27.7318,27.73,MILLIGRAMS PER LITRE AS NITRATE
BN111,SUSSEX,1816900,20/02/2009 11:05,34.0667,34.07,MILLIGRAMS PER LITRE AS NITRATE
BN111,SUSSEX,1840666,08/04/2009 10:45,32.9592,32.96,MILLIGRAMS PER LITRE AS NITRATE
BN111,SUSSEX,2074969,02/08/2010 09:45,38.6739,38.67,MILLIGRAMS PER LITRE AS NITRATE
BN111,SUSSEX,2078722,06/08/2010 11:45,35.8387,35.84,MILLIGRAMS PER LITRE AS NITRATE
BN112,SUSSEX,738436,16/09/2004 09:00,31.8074,31.81,MILLIGRAMS PER LITRE AS NITRATE
BN112,SUSSEX,767087,29/10/2004 10:25,29.5038,29.5,MILLIGRAMS PER LITRE AS NITRATE
BN112,SUSSEX,824843,01/02/2005 09:45,32.3390,32.34,MILLIGRAMS PER LITRE AS NITRATE
BN112,SUSSEX,949714,03/08/2005 12:10,31.8074,31.81,MILLIGRAMS PER LITRE AS NITRATE
BN112,SUSSEX,1815767,18/02/2009 11:20,33.6680,33.67,MILLIGRAMS PER LITRE AS NITRATE
...,...,...,...,...,...,...
ME9 8,KENT,828802,08/02/2005 10:40,27.5989,27.6,MILLIGRAMS PER LITRE AS NITRATE
ME9 8,KENT,890946,05/05/2005 12:30,21.5298,21.53,MILLIGRAMS PER LITRE AS NITRATE
ME9 8,KENT,985247,15/09/2005 11:45,18.9604,18.96,MILLIGRAMS PER LITRE AS NITRATE
ME9 8,KENT,1056427,30/12/2005 09:00,20.3780,20.38,MILLIGRAMS PER LITRE AS NITRATE
ME9 8,KENT,1057524,06/01/2006 11:45,21.5298,21.53,MILLIGRAMS PER LITRE AS NITRATE
ME9 8,KENT,1236382,11/09/2006 10:40,24.5422,24.54,MILLIGRAMS PER LITRE AS NITRATE
ME9 8,KENT,1347998,23/02/2007 09:55,25.0295,25.03,MILLIGRAMS PER LITRE AS NITRATE
ME9 8,KENT,1347999,23/02/2007 09:55,26.0041,26,MILLIGRAMS PER LITRE AS NITRATE
ME9 8,KENT,1497947,05/10/2007 09:38,22.1500,22.15,MILLIGRAMS PER LITRE AS NITRATE
ME9 8,KENT,1530802,13/11/2007 08:40,21.5298,21.53,MILLIGRAMS PER LITRE AS NITRATE
ME9 8,KENT,1742066,06/10/2008 11:31,19.7135,19.71,MILLIGRAMS PER LITRE AS NITRATE
ME9 8,KENT,1801773,23/01/2009 09:55,20.4666,20.47,MILLIGRAMS PER LITRE AS NITRATE
ME9 8,KENT,1860500,18/05/2009 10:45,19.0933,19.09,MILLIGRAMS PER LITRE AS NITRATE
ME9 8,KENT,1895472,27/07/2009 09:50,26.6243,26.62,MILLIGRAMS PER LITRE AS NITRATE
ME9 8,KENT,2002158,26/02/2010 10:40,23.7005,23.7,MILLIGRAMS PER LITRE AS NITRATE
ME9 8,KENT,2118031,16/11/2010 10:14,24.4093,24.41,MILLIGRAMS PER LITRE AS NITRATE
RG2 4,HAMPSHIRE,853201,17/03/2005 09:45,30.1683,30.17,MILLIGRAMS PER LITRE AS NITRATE
RH0 7,SUSSEX,1135165,27/04/2006 09:30,18.1630,18.16,MILLIGRAMS PER LITRE AS NITRATE
RH1 7,SUSSEX,1309718,02/01/2007 13:05,12.8470,12.85,MILLIGRAMS PER LITRE AS NITRATE
RT8 8,KENT,1578032,23/01/2008 12:40,38.2752,38.28,MILLIGRAMS PER LITRE AS NITRATE
S10 1,HAMPSHIRE,1422149,18/06/2007 10:38,34.2439,34.24,MILLIGRAMS PER LITRE AS NITRATE
S18 3,HAMPSHIRE,2027347,19/04/2010 10:57,37.0791,37.08,MILLIGRAMS PER LITRE AS NITRATE
S21 1,HAMPSHIRE,2096859,27/09/2010 13:33,36.8133,36.81,MILLIGRAMS PER LITRE AS NITRATE
SO23,HAMPSHIRE,1792301,02/01/2009 10:25,30.3012,30.3,MILLIGRAMS PER LITRE AS NITRATE
SO437,HAMPSHIRE,1420500,15/06/2007 08:00,26.3142,26.31,MILLIGRAMS PER LITRE AS NITRATE
SO45,HAMPSHIRE,1090289,17/02/2006 11:45,31.0100,31.01,MILLIGRAMS PER LITRE AS NITRATE
SO51,HAMPSHIRE,688641,30/06/2004 12:40,33.4465,33.45,MILLIGRAMS PER LITRE AS NITRATE
SP5 1,HAMPSHIRE,574576,21/01/2004 12:15,25.3839,25.38,MILLIGRAMS PER LITRE AS NITRATE
SP5 1,HAMPSHIRE,1090290,17/02/2006 10:35,28.0419,28.04,MILLIGRAMS PER LITRE AS NITRATE
SP5 1,HAMPSHIRE,1923112,15/09/2009 09:40,28.3963,28.4,MILLIGRAMS PER LITRE AS NITRATE

In [35]:
postcode = pd.read_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\Postcodes\d4_centroid_LAD.csv")

In [39]:
postcode

           x_coord      y_coord ONS_LABEL                      NAME
LABEL
AL1 1  516078.9095  205823.2402      26UG                St. Albans
AL1 2  514794.5901  205692.1886      26UG                St. Albans
AL1 3  515320.4837  207335.4693      26UG                St. Albans
AL1 4  516246.9358  208028.6234      26UG                St. Albans
AL1 5  516566.7149  206620.3647      26UG                St. Albans
AL1 9  514969.8775  207405.5734      26UG                St. Albans
AL100  522398.3240  209155.3251      26UL           Welwyn Hatfield
AL108  522547.8414  207300.6179      26UL           Welwyn Hatfield
AL109  520922.5576  209458.7795      26UL           Welwyn Hatfield
AL2 1  518033.3852  203614.0925      26UG                St. Albans
AL2 2  515020.1596  203466.0756      26UG                St. Albans
AL2 3  512801.3593  203378.2302      26UG                St. Albans
AL3 4  513285.3968  206468.5517      26UG                St. Albans
AL3 5  514411.2791  208379.8116      26UG                St. Albans
AL3 6  512560.3820  209207.0186      26UG                St. Albans
AL3 7  509787.0738  212281.2665      26UG                St. Albans
AL3 8  506510.2886  215113.1998      26UC                   Dacorum
AL4 0  519396.8105  206295.5140      26UG                St. Albans
AL4 8  517964.3878  214214.0031      26UG                St. Albans
AL4 9  517981.3336  210195.4491      26UG                St. Albans
AL5 1  515063.3988  212782.3397      26UG                St. Albans
AL5 2  512703.7955  213024.4184      26UG                St. Albans
AL5 3  510936.4879  215788.1683      26UG                St. Albans
AL5 4  513596.0717  215351.2403      26UG                St. Albans
AL5 5  514895.8869  216009.4515      26UG                St. Albans
AL5 9  517316.5002  206835.7186      26UG                St. Albans
AL6 0  525976.1062  216056.4420      26UL           Welwyn Hatfield
AL6 9  521637.0478  216546.3955      26UL           Welwyn Hatfield
AL7 1  524991.0159  213617.3597      26UL           Welwyn Hatfield
AL7 2  526442.4998  212878.8310      26UL           Welwyn Hatfield
...            ...          ...       ...                       ...
YO422  480357.0765  448601.0784      00FB  East Riding of Yorkshire
YO424  476318.1910  443082.1702      00FB  East Riding of Yorkshire
YO429  480377.9676  449123.1076      00FB  East Riding of Yorkshire
YO433  488258.1525  443766.8631      00FB  East Riding of Yorkshire
YO434  486570.5731  437203.2106      00FB  East Riding of Yorkshire
YO519  439596.4589  465739.9582      36UD                 Harrogate
YO606  465840.8524  468495.1758      36UF                   Ryedale
YO607  471622.7943  465447.8464      36UF                   Ryedale
YO611  454976.2577  465550.3829      36UC                 Hambleton
YO612  443776.6565  470266.2451      36UC                 Hambleton
YO613  452254.7297  470630.7811      36UC                 Hambleton
YO614  455696.8079  474884.8342      36UC                 Hambleton
YO624  464363.7257  476009.2287      36UF                   Ryedale
YO625  459513.2260  486647.5342      36UF                   Ryedale
YO626  471669.5839  486365.3676      36UF                   Ryedale
YO627  465575.3848  492875.9883      36UF                   Ryedale
YO7 1  442832.5098  481613.9758      36UC                 Hambleton
YO7 2  448912.1517  485292.8093      36UC                 Hambleton
YO7 3  442028.2302  476105.9010      36UC                 Hambleton
YO7 4  438360.8213  484238.6779      36UC                 Hambleton
YO7 9  443887.1331  482135.0908      36UC                 Hambleton
YO8 1  461398.2997  431900.2604      36UH                     Selby
YO8 3  458332.1850  435228.8333      36UH                     Selby
YO8 4  460351.9685  432251.7259      36UH                     Selby
YO8 5  466047.2242  436429.7992      36UH                     Selby
YO8 6  469968.1795  433732.7615      36UH                     Selby
YO8 8  463227.1766  427266.2836      36UH                     Selby
YO8 9  457022.6633  430220.9882      36UH                     Selby
YO901  459686.1655  451922.6315      00FF                   York UA
YO911  461378.3020  453989.9477      00FF                   York UA

[8570 rows x 4 columns]

In [38]:
postcode = postcode.set_index('LABEL')

In [40]:
df_all = df_all.merge(postcode, how='left', left_index=True, right_index=True)

In [41]:
df_all

,Sample Point Name,Sample ID,Sample Date & Time,Result (Numeric),Result (Text),Unit of Measure Code,x_coord,y_coord,ONS_LABEL,NAME
BN1 1,SUSSEX,573105,09/01/2004 12:45,31.18720,31.19,MILLIGRAMS PER LITRE AS NITRATE,531094.7207,104173.8060,00ML,Brighton and Hove UA
BN1 1,SUSSEX,633645,07/04/2004 11:40,29.50380,29.5,MILLIGRAMS PER LITRE AS NITRATE,531094.7207,104173.8060,00ML,Brighton and Hove UA
BN1 1,SUSSEX,678491,18/06/2004 09:20,34.55400,34.55,MILLIGRAMS PER LITRE AS NITRATE,531094.7207,104173.8060,00ML,Brighton and Hove UA
BN1 1,SUSSEX,697870,16/07/2004 10:40,63.79200,63.79,MILLIGRAMS PER LITRE AS NITRATE,531094.7207,104173.8060,00ML,Brighton and Hove UA
BN1 1,SUSSEX,729286,01/09/2004 12:30,27.95330,27.95,MILLIGRAMS PER LITRE AS NITRATE,531094.7207,104173.8060,00ML,Brighton and Hove UA
BN1 1,SUSSEX,1084702,14/02/2006 11:05,29.14940,29.15,MILLIGRAMS PER LITRE AS NITRATE,531094.7207,104173.8060,00ML,Brighton and Hove UA
BN1 1,SUSSEX,1283516,17/11/2006 09:50,31.01000,31.01,MILLIGRAMS PER LITRE AS NITRATE,531094.7207,104173.8060,00ML,Brighton and Hove UA
BN1 1,SUSSEX,1358467,12/03/2007 12:20,36.06020,36.06,MILLIGRAMS PER LITRE AS NITRATE,531094.7207,104173.8060,00ML,Brighton and Hove UA
BN1 1,SUSSEX,1440094,16/07/2007 12:00,34.28820,34.29,MILLIGRAMS PER LITRE AS NITRATE,531094.7207,104173.8060,00ML,Brighton and Hove UA
BN1 1,SUSSEX,1528007,09/11/2007 10:15,35.88300,35.88,MILLIGRAMS PER LITRE AS NITRATE,531094.7207,104173.8060,00ML,Brighton and Hove UA
BN1 1,SUSSEX,1726192,09/09/2008 12:20,27.51030,27.51,MILLIGRAMS PER LITRE AS NITRATE,531094.7207,104173.8060,00ML,Brighton and Hove UA
BN1 1,SUSSEX,1779965,04/12/2008 09:25,26.31420,26.31,MILLIGRAMS PER LITRE AS NITRATE,531094.7207,104173.8060,00ML,Brighton and Hove UA
BN1 1,SUSSEX,1983336,22/01/2010 12:30,36.94620,36.95,MILLIGRAMS PER LITRE AS NITRATE,531094.7207,104173.8060,00ML,Brighton and Hove UA
BN1 1,SUSSEX,2001764,25/02/2010 10:30,36.10450,36.1,MILLIGRAMS PER LITRE AS NITRATE,531094.7207,104173.8060,00ML,Brighton and Hove UA
BN1 1,SUSSEX,2083066,19/08/2010 11:35,33.57940,33.58,MILLIGRAMS PER LITRE AS NITRATE,531094.7207,104173.8060,00ML,Brighton and Hove UA
BN1 2,SUSSEX,711113,03/08/2004 11:50,30.38980,30.39,MILLIGRAMS PER LITRE AS NITRATE,530406.7447,104196.5506,00ML,Brighton and Hove UA
BN1 2,SUSSEX,975315,31/08/2005 09:55,29.81390,29.81,MILLIGRAMS PER LITRE AS NITRATE,530406.7447,104196.5506,00ML,Brighton and Hove UA
BN1 2,SUSSEX,1232331,07/09/2006 12:00,32.78200,32.78,MILLIGRAMS PER LITRE AS NITRATE,530406.7447,104196.5506,00ML,Brighton and Hove UA
BN1 2,SUSSEX,1399709,15/05/2007 11:40,32.47190,32.47,MILLIGRAMS PER LITRE AS NITRATE,530406.7447,104196.5506,00ML,Brighton and Hove UA
BN1 2,SUSSEX,1889796,15/07/2009 10:15,31.27580,31.28,MILLIGRAMS PER LITRE AS NITRATE,530406.7447,104196.5506,00ML,Brighton and Hove UA
BN1 2,SUSSEX,2007461,09/03/2010 07:10,36.68040,36.68,MILLIGRAMS PER LITRE AS NITRATE,530406.7447,104196.5506,00ML,Brighton and Hove UA
BN1 2,SUSSEX,2064238,25/07/2010 12:55,38.14230,38.14,MILLIGRAMS PER LITRE AS NITRATE,530406.7447,104196.5506,00ML,Brighton and Hove UA
BN1 3,SUSSEX,690105,06/07/2004 11:40,29.54810,29.55,MILLIGRAMS PER LITRE AS NITRATE,530612.2438,104843.7935,00ML,Brighton and Hove UA
BN1 3,SUSSEX,701212,21/07/2004 09:20,28.61780,28.62,MILLIGRAMS PER LITRE AS NITRATE,530612.2438,104843.7935,00ML,Brighton and Hove UA
BN1 3,SUSSEX,709170,30/07/2004 12:30,30.96570,30.97,MILLIGRAMS PER LITRE AS NITRATE,530612.2438,104843.7935,00ML,Brighton and Hove UA
BN1 3,SUSSEX,908818,01/06/2005 11:00,29.28230,29.28,MILLIGRAMS PER LITRE AS NITRATE,530612.2438,104843.7935,00ML,Brighton and Hove UA
BN1 3,SUSSEX,1056128,30/12/2005 13:25,27.90900,27.91,MILLIGRAMS PER LITRE AS NITRATE,530612.2438,104843.7935,00ML,Brighton and Hove UA
BN1 3,SUSSEX,1136277,26/04/2006 09:50,38.71820,38.72,MILLIGRAMS PER LITRE AS NITRATE,530612.2438,104843.7935,00ML,Brighton and Hove UA
BN1 3,SUSSEX,1272726,03/11/2006 11:00,33.53510,33.54,MILLIGRAMS PER LITRE AS NITRATE,530612.2438,104843.7935,00ML,Brighton and Hove UA
BN1 3,SUSSEX,1278004,10/11/2006 11:45,30.03540,30.04,MILLIGRAMS PER LITRE AS NITRATE,530612.2438,104843.7935,00ML,Brighton and Hove UA
...,...,...,...,...,...,...,...,...,...,...
TN386,SUSSEX,1260685,20/10/2006 10:05,0.86828,0.86828,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN
TN388,SUSSEX,1047125,09/12/2005 08:00,0.86828,0.86828,MILLIGRAMS PER LITRE AS NITRATE,577494.4084,110963.2088,21UD,Hastings
TN388,SUSSEX,1046350,09/12/2005 09:00,4.74010,4.74,MILLIGRAMS PER LITRE AS NITRATE,577494.4084,110963.2088,21UD,Hastings
TN388,SUSSEX,1674748,11/06/2008 10:47,5.09450,5.09,MILLIGRAMS PER LITRE AS NITRATE,577494.4084,110963.2088,21UD,Hastings
TN388,SUSSEX,1840095,06/04/2009 12:10,6.55640,6.56,MILLIGRAMS PER LITRE AS NITRATE,577494.4084,110963.2088,21UD,Hastings
TN388,SUSSEX,2087791,02/09/2010 10:55,3.58830,3.59,MILLIGRAMS PER LITRE AS NITRATE,577494.4084,110963.2088,21UD,Hastings
TN389,SUSSEX,585922,29/01/2004 10:15,7.75250,7.75,MILLIGRAMS PER LITRE AS NITRATE,578474.8053,111281.3689,21UD,Hastings
TN389,SUSSEX,803711,07/01/2005 11:45,5.71470,5.71,MILLIGRAMS PER LITRE AS NITRATE,578474.8053,111281.3689,21UD,Hastings
TN389,SUSSEX,928565,01/07/2005 11:30,2.74660,2.75,MILLIGRAMS PER LITRE AS NITRATE,578474.8053,111281.3689,21UD,Hastings
TN389,SUSSEX,962583,18/08/2005 11:15,0.86828,0.86828,MILLIGRAMS PER LITRE AS NITRATE,578474.8053,111281.3689,21UD,Hastings
TN389,SUSSEX,1101334,07/03/2006 10:00,7.70820,7.71,MILLIGRAMS PER LITRE AS NITRATE,578474.8053,111281.3689,21UD,Hastings
TN389,SUSSEX,1146430,15/05/2006 10:00,6.77790,6.78,MILLIGRAMS PER LITRE AS NITRATE,578474.8053,111281.3689,21UD,Hastings
TN389,SUSSEX,1203380,24/07/2006 11:45,2.69344,2.69,MILLIGRAMS PER LITRE AS NITRATE,578474.8053,111281.3689,21UD,Hastings
TN389,SUSSEX,1266721,24/10/2006 09:45,1.17838,1.18,MILLIGRAMS PER LITRE AS NITRATE,578474.8053,111281.3689,21UD,Hastings
TN389,SUSSEX,1432247,03/07/2007 13:15,2.71116,2.71,MILLIGRAMS PER LITRE AS NITRATE,578474.8053,111281.3689,21UD,Hastings
TN389,SUSSEX,1466363,22/08/2007 12:20,2.18842,2.19,MILLIGRAMS PER LITRE AS NITRATE,578474.8053,111281.3689,21UD,Hastings
TN389,SUSSEX,1497951,05/10/2007 12:20,1.46633,1.47,MILLIGRAMS PER LITRE AS NITRATE,578474.8053,111281.3689,21UD,Hastings
TN389,SUSSEX,1770642,20/11/2008 09:58,3.18960,3.19,MILLIGRAMS PER LITRE AS NITRATE,578474.8053,111281.3689,21UD,Hastings
TN389,SUSSEX,1816335,18/02/2009 10:25,4.78440,4.78,MILLIGRAMS PER LITRE AS NITRATE,578474.8053,111281.3689,21UD,Hastings
TN389,SUSSEX,1891694,16/07/2009 10:32,3.98700,3.99,MILLIGRAMS PER LITRE AS NITRATE,578474.8053,111281.3689,21UD,Hastings
TN389,SUSSEX,1909334,20/08/2009 10:45,2.64471,2.64,MILLIGRAMS PER LITRE AS NITRATE,578474.8053,111281.3689,21UD,Hastings
TN389,SUSSEX,1914970,01/09/2009 11:00,2.64471,2.64,MILLIGRAMS PER LITRE AS NITRATE,578474.8053,111281.3689,21UD,Hastings
TN389,SUSSEX,1932282,05/10/2009 11:28,2.64471,2.64,MILLIGRAMS PER LITRE AS NITRATE,578474.8053,111281.3689,21UD,Hastings
TN389,SUSSEX,1939490,19/10/2009 11:22,2.64471,2.64,MILLIGRAMS PER LITRE AS NITRATE,578474.8053,111281.3689,21UD,Hastings
TN389,SUSSEX,2019544,01/04/2010 09:00,5.62610,5.63,MILLIGRAMS PER LITRE AS NITRATE,578474.8053,111281.3689,21UD,Hastings
TN389,SUSSEX,2039872,17/05/2010 12:24,4.11990,4.12,MILLIGRAMS PER LITRE AS NITRATE,578474.8053,111281.3689,21UD,Hastings
TN389,SUSSEX,2087421,01/09/2010 11:05,2.21500,2.22,MILLIGRAMS PER LITRE AS NITRATE,578474.8053,111281.3689,21UD,Hastings
TN389,SUSSEX,2109534,25/10/2010 11:12,2.83520,2.84,MILLIGRAMS PER LITRE AS NITRATE,578474.8053,111281.3689,21UD,Hastings
TN389,SUSSEX,1635884,10/04/2008 13:04,4.87300,4.87,MILLIGRAMS PER LITRE AS NITRATE,578474.8053,111281.3689,21UD,Hastings
YN341,SUSSEX,1119810,31/03/2006 09:45,5.80330,5.8,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN

In [42]:
df_all.to_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\Drinking_water\Southern\Southern_Postcode_NE.csv")

# Matching unmatched records with postcode district file

In [43]:
Southern_2 = pd.read_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\Drinking_water\Southern\Southern_Postcode_Unmatch.csv")

In [52]:
Southern_2

,Sample Point Name,Sample ID,Sample Date & Time,Result (Numeric),Result (Text),Unit of Measure Code,x_coord,y_coord,ONS_LABEL,NAME,FID,X_Coord,Y_Coord
BN14,SUSSEX,638164,20/04/2004 12:10,33.35790,33.36000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,191.0,513434.2313,107659.3983
BN14,SUSSEX,1547970,04/12/2007 10:50,32.69340,32.69000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,191.0,513434.2313,107659.3983
BN14,SUSSEX,2122733,02/12/2010 11:45,32.73770,32.74000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BN15,SUSSEX,1652914,06/05/2008 07:00,32.29470,32.29000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,192.0,517661.9230,106352.3191
BN16,SUSSEX,1175346,16/06/2006 11:30,28.04190,28.04000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,193.0,506641.2696,104281.9843
BN16,SUSSEX,1431456,02/07/2007 09:00,31.63020,31.63000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,193.0,506641.2696,104281.9843
BN18,SUSSEX,778806,18/11/2004 10:35,29.10510,29.11000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,195.0,500243.7852,108286.2149
BN2,SUSSEX,1363404,20/03/2007 10:40,48.28700,48.29000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,196.0,535818.8416,104860.2213
BN23,SUSSEX,1006495,13/10/2005 09:15,27.86470,27.86000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,200.0,562834.7572,102466.8998
BN29,SUSSEX,1717864,22/08/2008 10:30,24.36500,24.37000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BN35,SUSSEX,1972346,23/12/2009 12:40,49.17300,49.17000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BN36,SUSSEX,792024,03/12/2004 13:00,27.95330,27.95000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BN4,SUSSEX,2001955,26/02/2010 07:20,45.18600,45.19000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BN7,SUSSEX,1627495,28/03/2008 09:40,24.63080,24.63000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,216.0,539004.7941,110455.6874
CT07,KENT,710443,30/07/2004 12:30,37.56640,37.57000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CT10,KENT,2128031,13/12/2010 11:00,43.67980,43.68000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,393.0,638548.6382,168539.7739
CT10,KENT,1027602,11/11/2005 13:08,34.64260,34.64000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,393.0,638548.6382,168539.7739
CT12,KENT,2087504,03/09/2010 13:33,46.07200,46.07000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,395.0,632188.8869,164820.4595
CT12,KENT,921649,20/06/2005 10:00,34.77550,34.78000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,395.0,632188.8869,164820.4595
CT13,KENT,1144541,09/05/2006 10:55,34.11100,34.11000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,396.0,632286.4204,157679.9089
CT13,KENT,1370678,02/04/2007 11:35,34.86410,34.86000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,396.0,632286.4204,157679.9089
CT17,KENT,1205997,28/07/2006 10:10,30.92140,30.92000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,400.0,630209.7629,141548.2276
CT17,KENT,666780,01/06/2004 12:10,30.52270,30.52000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,400.0,630209.7629,141548.2276
CT3,KENT,1876379,17/06/2009 11:42,36.45890,36.46000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,406.0,624017.6907,159496.5136
CT9,KENT,1337993,12/02/2007 10:10,40.80030,40.80000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CT91,KENT,1045009,07/12/2005 14:45,30.87710,30.88000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CT94,KENT,952446,02/08/2005 11:00,27.73180,27.73000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CY14,KENT,1381754,24/04/2007 11:00,36.06020,36.06000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DA11,KENT,1282367,16/11/2006 11:49,28.17480,28.17000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,453.0,562947.1235,173259.7195
DA11,KENT,803523,04/01/2005 12:20,27.68750,27.69000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,453.0,562947.1235,173259.7195
...,...,...,...,...,...,...,...,...,...,...,...,...,...
RH0,SUSSEX,1135165,27/04/2006 09:30,18.16300,18.16000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RH1,SUSSEX,1309718,02/01/2007 13:05,12.84700,12.85000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,1525.0,530504.9166,149685.7277
RH10,SUSSEX,1293610,04/12/2006 11:20,22.28290,22.28000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,1526.0,531214.9532,136766.2022
RH10,SUSSEX,1659632,19/05/2008 10:00,23.78910,23.79000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,1526.0,531214.9532,136766.2022
RH10,SUSSEX,722537,19/08/2004 12:15,28.35200,28.35000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,1526.0,531214.9532,136766.2022
RH10,SUSSEX,1821925,03/03/2009 11:10,16.16950,16.17000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,1526.0,531214.9532,136766.2022
RH12,SUSSEX,850550,08/03/2005 14:00,2.72445,2.72000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,1528.0,515484.3011,134266.2988
RH14,SUSSEX,571062,06/01/2004 12:00,22.46010,22.46000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,1530.0,505203.0314,127528.7699
RN20,SUSSEX,1658801,15/05/2008 11:30,20.90960,20.91000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RT8,KENT,1578032,23/01/2008 12:40,38.27520,38.28000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
S022,HAMPSHIRE,2004424,02/03/2010 08:01,36.90190,36.90000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SO18,HAMPSHIRE,1080880,15/02/2006 09:50,29.37090,29.37000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,1727.0,445077.3794,114738.2111
SO20,HAMPSHIRE,1882433,08/07/2009 09:00,40.66740,40.67000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,1729.0,434942.7305,134754.7947
SO23,HAMPSHIRE,1792301,02/01/2009 10:25,30.30120,30.30000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,1732.0,448570.1182,130539.6801
SO23,HAMPSHIRE,1847461,28/04/2009 10:58,30.43410,30.43000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,1732.0,448570.1182,130539.6801
SO45,HAMPSHIRE,1090289,17/02/2006 11:45,31.01000,31.01000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,1742.0,443487.4087,103628.3296
SO51,HAMPSHIRE,688641,30/06/2004 12:40,33.44650,33.45000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,1744.0,433670.7315,122848.7302
SO53,HAMPSHIRE,866374,06/04/2005 10:50,31.18720,31.19000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,1746.0,442998.0101,120867.3208
SP10,HAMPSHIRE,764978,01/11/2004 13:30,26.13700,26.14000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,1749.0,435996.0212,146114.6998
SP10,HAMPSHIRE,1005571,20/10/2005 14:20,23.61190,23.61000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,1749.0,435996.0212,146114.6998
SP10,HAMPSHIRE,2068086,19/07/2010 09:58,19.49200,19.49000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,1749.0,435996.0212,146114.6998
SP10,HAMPSHIRE,1185220,29/06/2006 10:35,33.40220,33.40000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,1749.0,435996.0212,146114.6998
SP11,HAMPSHIRE,1865771,26/05/2009 12:52,32.82630,32.83000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,1750.0,434299.3303,148752.6826
SP16,HAMPSHIRE,1183343,05/07/2006 11:00,23.30180,23.30000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SP20,HAMPSHIRE,1218854,15/08/2006 11:49,33.09210,33.09000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TH20,SUSSEX,1751864,23/10/2008 08:45,18.82750,18.83000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TN35,SUSSEX,855505,11/03/2005 09:00,6.82220,6.82000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,1922.0,584384.8414,114074.0083
TN35,SUSSEX,867967,08/04/2005 10:15,6.33490,6.33000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,1922.0,584384.8414,114074.0083
TN38,SUSSEX,1260685,20/10/2006 10:05,0.86828,0.86828,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,1925.0,578157.8554,110843.7239
YN34,SUSSEX,1119810,31/03/2006 09:45,5.80330,5.80000,MILLIGRAMS PER LITRE AS NITRATE,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
Southern_2 = Southern_2.set_index('Postcode')

In [45]:
district = pd.read_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\Postcodes\Post_d_centroids.csv")

In [50]:
district

           FID      X_Coord      Y_Coord
District
AL1          0  515793.6577  206580.6013
AL10         1  521452.3282  208961.9643
AL2          2  514957.5935  203472.4599
AL3          3  510046.4625  211670.8130
AL4          4  518476.4438  210429.3418
AL5          5  513255.0359  214574.5764
AL6          6  523634.0129  216320.9042
AL7          7  525334.4501  212247.1644
AL8          8  522453.4783  212756.3865
AL9          9  525157.0734  206752.1101
B1          10  406147.2260  286847.2784
B10         11  410225.8728  285646.9880
B11         12  409911.8110  284058.6723
B12         13  407834.0357  284779.9939
B13         14  408244.4330  282146.6562
B14         15  407618.7313  279778.3213
B15         16  405031.6619  284917.1605
B16         17  404378.7695  286697.7674
B17         18  402843.2589  284877.5224
B18         19  404964.3862  288193.7424
B19         20  406455.7339  288862.8759
B2          21  406989.8013  286814.8056
B20         22  405205.3715  291133.9845
B21         23  403641.1704  290361.7099
B23         24  409774.7370  292232.7913
B24         25  411924.8801  291090.8936
B25         26  412264.4203  285334.1682
B26         27  415324.7762  284515.9382
B27         28  412157.0565  282916.7774
B28         29  410695.0173  280998.1815
...        ...          ...          ...
YO10      2182  463144.8520  449841.6028
YO11      2183  505324.6280  482222.5727
YO12      2184  500796.1576  481680.0297
YO13      2185  495074.4378  490022.5154
YO14      2186  510786.9600  477363.2746
YO15      2187  518664.1101  468138.5490
YO16      2188  515300.2515  469511.9560
YO17      2189  484641.2250  471837.3627
YO18      2190  480421.7176  490511.4055
YO19      2191  464299.2453  444673.0350
YO21      2192  473575.3850  507584.2181
YO22      2193  487166.5637  503010.8620
YO23      2194  455380.0878  445970.6196
YO24      2195  457962.5665  449956.7904
YO25      2196  502654.7970  458671.3444
YO26      2197  448560.1648  455903.0437
YO30      2198  454302.2529  459036.2308
YO31      2199  461829.1129  453174.0396
YO32      2200  462238.4216  459007.6783
YO41      2201  473404.7721  454134.1741
YO42      2202  480314.9324  447786.6646
YO43      2203  487056.7826  439094.2686
YO51      2204  439596.4589  465739.9582
YO60      2205  470078.5114  466261.7493
YO61      2206  452784.0769  470036.2619
YO62      2207  464100.8847  486456.5779
YO7       2208  443744.5813  482474.8435
YO8       2209  463913.6180  432013.5749
YO90      2210  459686.1656  451922.6315
YO91      2211  461378.3021  453989.9477

[2212 rows x 3 columns]

In [49]:
district = district.set_index('District')

In [51]:
Southern_2 = Southern_2.merge(district, how='left', left_index=True, right_index=True)

In [53]:
Southern_2.to_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\Drinking_water\Southern\Southern_Postcode_Unmatch_match.csv")