In [1]:
import pandas as pd
import numpy as np
import glob
import os

- Read in each UV dataset and merge with postcode district files- to get Easting and Northing for each Postcode centroid

In [9]:
files = glob.glob(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Annie\Data\*")

In [10]:
files

['S:\\Projects\\SAHSU_Share\\Diabetes\\Datasets\\UVvitd0203\\Annie\\Data\\Apr03.csv',
 'S:\\Projects\\SAHSU_Share\\Diabetes\\Datasets\\UVvitd0203\\Annie\\Data\\Aug02.csv',
 'S:\\Projects\\SAHSU_Share\\Diabetes\\Datasets\\UVvitd0203\\Annie\\Data\\Dec02.csv',
 'S:\\Projects\\SAHSU_Share\\Diabetes\\Datasets\\UVvitd0203\\Annie\\Data\\Feb03.csv',
 'S:\\Projects\\SAHSU_Share\\Diabetes\\Datasets\\UVvitd0203\\Annie\\Data\\Jan03.csv',
 'S:\\Projects\\SAHSU_Share\\Diabetes\\Datasets\\UVvitd0203\\Annie\\Data\\Jul02.csv',
 'S:\\Projects\\SAHSU_Share\\Diabetes\\Datasets\\UVvitd0203\\Annie\\Data\\Jun03.csv',
 'S:\\Projects\\SAHSU_Share\\Diabetes\\Datasets\\UVvitd0203\\Annie\\Data\\Mar03.csv',
 'S:\\Projects\\SAHSU_Share\\Diabetes\\Datasets\\UVvitd0203\\Annie\\Data\\May03.csv',
 'S:\\Projects\\SAHSU_Share\\Diabetes\\Datasets\\UVvitd0203\\Annie\\Data\\new',
 'S:\\Projects\\SAHSU_Share\\Diabetes\\Datasets\\UVvitd0203\\Annie\\Data\\Nov02.csv',
 'S:\\Projects\\SAHSU_Share\\Diabetes\\Datasets\\UVvitd0203\\Annie\\Data\\Oct02.csv',
 'S:\\Projects\\SAHSU_Share\\Diabetes\\Datasets\\UVvitd0203\\Annie\\Data\\Sep02.csv',
 'S:\\Projects\\SAHSU_Share\\Diabetes\\Datasets\\UVvitd0203\\Annie\\Data\\test.csv']

In [ ]:
columns = ['FID', 'Shape', 'SECTORS', 'AREA','NAME','OTHER']

for file in files: 
    temp = pd.read_csv(r'{fname}'.format(fname=file)).drop(columns, axis=1).set_index('LABEL')
    temp = temp.merge(d4, how='left', left_index=True, right_index=True)
    temp = temp.groupby('ONS_LABEL', as_index = False).mean()
    temp['avg'] = temp.mean(axis=1)
    temp.to_csv(r'S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Annie\Data\{fname}avg.csv'.format(fname=os.path.basename(file)))
    print('Processed {fname}'.format(fname=file))

In [5]:
d={}
for file in files: 
    d['{fname}'.format(fname= os.path.basename(file))] = pd.read_csv(r'{fname}'.format(fname=file)

In [14]:
ds = [d, d4_dict]
dd = {}
for k in d.iterkeys():
    dd[k] = tuple(dd[k] for dd in ds)

AttributeError: 'dict' object has no attribute 'iterkeys'

In [8]:
d

{'Apr03.csv':        FID    Shape  SECTORS LABEL_x  AREA         NAME_x OTHER  _01_04_2002  \
 0        0  Polygon      NaN   QTC84  18.0         PH35 4    NO   589.731873
 1        1  Polygon      NaN   QTC21  18.0         IV22 2    NO   659.582581
 2        2  Polygon      NaN   QTC26  18.0         IV27 4    NO   830.182312
 3        3  Polygon      NaN   QTC60  18.0         KW14 7    NO   986.576050
 4        4  Polygon      NaN   RDC02  27.0          ZE2 9    NO   870.127991
 5        5  Polygon      NaN   QDC18   4.0         PA28 6    NO   955.893066
 6        6  Polygon      NaN   QHC26   8.0          DG8 0    NO  1013.468689
 7        7  Polygon      NaN   QHC28   8.0          DG8 7    NO  1057.328857
 8        8  Polygon      NaN   REC07  28.0  KA26 0 (part)    NO   954.994080
 9        9  Polygon      NaN   QKC24  10.0   KA6 7 (part)    NO   915.886902
 10      10  Polygon      NaN   QHC25   8.0   DG7 3 (part)    NO  1004.600281
 11      11  Polygon      NaN   QHC19   8.0          DG3 5    NO   763.349365
 12      12  Polygon      NaN   QHC11   8.0         DG13 0    NO  1057.868408
 13      13  Polygon      NaN   RFC29  29.0  ML12 6 (part)    NO   733.605591
 14      14  Polygon      NaN   QEC26   5.0   TD7 5 (part)    NO  1004.002686
 15      15  Polygon      NaN   QEC28   5.0          TD9 0    NO  1140.398804
 16      16  Polygon      NaN   QEC29   5.0          TD9 7    NO  1112.457642
 17      17  Polygon      NaN   QDC39   4.0         PA60 7    NO   992.160644
 18      18  Polygon      NaN   QTC85  18.0         PH36 4    NO   830.075500
 19      19  Polygon      NaN   QYC25  22.0         KA27 8    NO   904.309021
 20      20  Polygon      NaN   QDC19   4.0         PA29 6    NO  1031.962646
 21      21  Polygon      NaN   QDC21   4.0         PA31 8    NO   970.683350
 22      22  Polygon      NaN   RGC21  30.0   G63 0 (part)    NO   947.686585
 23      23  Polygon      NaN   RGC17  30.0          FK8 3    NO   945.811462
 24      24  Polygon      NaN   RGC04  30.0         FK17 8    NO   979.036377
 25      25  Polygon      NaN   QDC24   4.0         PA34 4    NO   752.481445
 26      26  Polygon      NaN   QDC26   4.0         PA35 1    NO   568.339416
 27      27  Polygon      NaN   QDC23   4.0         PA33 1    NO   528.443787
 28      28  Polygon      NaN   QDC28   4.0         PA37 1    NO   845.308044
 29      29  Polygon      NaN   QTC82  18.0         PH33 7    NO   617.649780
 ...    ...      ...      ...     ...   ...            ...   ...          ...
 9904  9904  Polygon      NaN   WC1A2   NaN            NaN   NaN   596.000000
 9905  9905  Polygon      NaN   EC1R5   NaN            NaN   NaN   596.000000
 9906  9906  Polygon      NaN   WC1X8   NaN            NaN   NaN   645.365234
 9907  9907  Polygon      NaN   WC1X0   NaN            NaN   NaN   651.000000
 9908  9908  Polygon      NaN   EC1V4   NaN            NaN   NaN   651.000000
 9909  9909  Polygon      NaN   SE162   NaN            NaN   NaN   591.000000
 9910  9910  Polygon      NaN   E2  6   NaN            NaN   NaN   622.096924
 9911  9911  Polygon      NaN   E3  3   NaN            NaN   NaN   629.000000
 9912  9912  Polygon      NaN   NW3 5   NaN            NaN   NaN   676.410644
 9913  9913  Polygon      NaN   EC1V4   NaN            NaN   NaN   651.000000
 9914  9914  Polygon      NaN   EC1V7   NaN            NaN   NaN   651.000000
 9915  9915  Polygon      NaN   N19 5   NaN            NaN   NaN   682.000000
 9916  9916  Polygon      NaN   E2  7   NaN            NaN   NaN   640.000000
 9917  9917  Polygon      NaN   N16 0   NaN            NaN   NaN   651.000000
 9918  9918  Polygon      NaN   E6  2   NaN            NaN   NaN   715.000000
 9919  9919  Polygon      NaN   E6  2   NaN            NaN   NaN   715.000000
 9920  9920  Polygon      NaN   N15 5   NaN            NaN   NaN   703.000000
 9921  9921  Polygon      NaN   CM2 8   NaN            NaN   NaN   792.000000
 9922  9922  Polygon      NaN   CO6 1   NaN            NaN   NaN   821.000000
 9923  9923  Polygon      NaN   M21 0   NaN            NaN   NaN   935.000000
 9924  9924  Polygon      NaN   M1  7   NaN            NaN   NaN   900.514710
 9925  9925  Polygon      NaN   NG1 3   NaN            NaN   NaN   977.000000
 9926  9926  Polygon      NaN   S13 8   NaN            NaN   NaN  1126.000000
 9927  9927  Polygon      NaN   BD5 8   NaN            NaN   NaN  1172.000000
 9928  9928  Polygon      NaN   YO241   NaN            NaN   NaN   889.000000
 9929  9929  Polygon      NaN   NE8 1   NaN            NaN   NaN   881.000000
 9930  9930  Polygon      NaN   NE1 4   NaN            NaN   NaN   881.000000
 9931  9931  Polygon      NaN   TS233   NaN            NaN   NaN  1201.000000
 9932  9932  Polygon      NaN   NE687   NaN            NaN   NaN  1276.055786
 9933  9933  Polygon      NaN   NE687   NaN            NaN   NaN  1172.142090

       _02_04_2002  _03_04_2002       ...         _25_04_2002  _26_04_2002  \
 0     1299.646729  1152.128906       ...         1475.272217  1713.073486
 1     1563.490112  1013.519775       ...         1930.409424  2336.778564
 2     1300.926514   946.220093       ...         1988.984497  2755.775635
 3     1406.580078  1017.052124       ...         1918.288574  2725.101563
 4      728.769409   888.620728       ...         1879.807007  1161.486206
 5     2306.091309  1627.470337       ...          992.138428  2601.211914
 6     1997.999512  1888.867920       ...         1056.260620  1519.446777
 7     1911.997803  1753.654175       ...         1088.169922  1203.104492
 8     1994.897583  1829.907471       ...         1135.487305  1789.841675
 9     1770.019409  1656.938599       ...         1020.905579  1796.483643
 10    1779.449463  1815.783447       ...          925.732849  1286.720825
 11    1738.331177  1703.765137       ...          976.962158  1609.665283
 12    1915.390625  1829.329224       ...         1126.098267  2085.319824
 13    1850.628540  1632.294922       ...          978.060181  1905.461670
 14    1848.987427  1756.297241       ...         1116.785400  2474.712402
 15    1860.091797  1834.000122       ...         1186.486938  2260.595703
 16    1961.510864  1954.338501       ...         1197.192261  2399.048340
 17    2143.124512  1459.086182       ...         1170.954712  2707.333008
 18    1783.548950  1137.093140       ...         1366.676392  1832.006470
 19    2140.968994  1641.005859       ...         1167.768066  2052.127686
 20    2248.281250  1541.033081       ...         1150.223877  2342.961670
 21    2149.477051  1294.007568       ...         1291.329224  1912.954346
 22    1707.943970  1893.618164       ...         1089.215088  1199.690063
 23    1698.471436  1828.106934       ...         1014.336975  1300.449829
 24    1652.521118  1886.520874       ...         1078.103882  1340.513550
 25    2057.149170  1275.198364       ...         1212.656372  1645.185791
 26    1930.187012  1298.476074       ...         1184.126831  1386.051270
 27    1857.473999  1355.824341       ...         1171.938965  1218.782593
 28    2003.987793  1239.566528       ...         1222.420166  1544.790894
 29    1681.479858  1268.531860       ...         1374.209595  1451.031006
 ...           ...          ...       ...                 ...          ...
 9904  1892.000000  2252.000000       ...         2271.000000  2225.000000
 9905  1892.000000  2252.000000       ...         2271.000000  2225.000000
 9906  1793.269531  2271.746094       ...         2221.634766  2246.541260
 9907  1782.000000  2274.000000       ...         2216.000000  2249.000000
 9908  1782.000000  2274.000000       ...         2216.000000  2249.000000
 9909  1832.000000  2199.000000       ...         2262.000000  2335.000000
 9910  1673.976807  2265.001709       ...         2174.420898  2472.080322
 9911  1799.000000  2193.000000       ...         2232.000000  2403.000000
 9912  1892.149536  2369.082275       ...         2322.781982  1932.365967
 9913  1782.000000  2274.000000       ...         2216.000000  2249.000000
 9914  1782.000000  2274.000000       ...         2216.000000  2249.000000
 9915  1920.000000  2358.000000       ...         2317.000000  1958.000000
 9916  1583.000000  2303.000000       ...         2124.000000  2551.000000
 9917  1782.000000  2274.000000       ...         2216.000000  2249.000000
 9918  1465.000000  2276.000000       ...         2152.000000  2323.000000
 9919  1465.000000  2276.000000       ...         2152.000000  2323.000000
 9920  1586.000000  2287.000000       ...         2101.000000  2585.000000
 9921  1525.000000  2045.000000       ...         2094.000000  2577.000000
 9922  1836.000000  1860.000000       ...         2056.000000  2844.000000
 9923  1733.000000  1988.000000       ...         1239.000000  2583.000000
 9924  1420.462646  1922.845215       ...         1190.163452  2395.003418
 9925  1818.000000  2532.000000       ...         1822.000000  3056.000000
 9926  1543.000000  2107.000000       ...         1254.000000  3449.000000
 9927  1494.000000  1580.000000       ...         1183.000000  3005.000000
 9928  1508.000000  2140.000000       ...         1370.000000  3353.000000
 9929  1717.000000  1213.000000       ...          958.000000  2708.000000
 9930  1717.000000  1213.000000       ...          958.000000  2708.000000
 9931  1544.000000  1400.000000       ...         1232.000000  3106.000000
 9932  1622.233765  2078.598145       ...         1032.364380  2809.832031
 9933  1659.371582  2086.185791       ...          993.535522  2836.773193

       _27_04_2002  _28_04_2002  _29_04_2002  _30_04_2002  _01_05_2002  \
 0     1437.831909  2088.596924  1641.062744  1476.506470    45.410336
 1     1806.774780  2085.781250  1091.011108  1589.714355    38.924885
 2     2004.283813  2411.018555  1545.265015  1814.099243    37.262684
 3     1862.037964  2628.881348  1566.942749  1707.565063    38.321506
 4     1635.396118  1380.626221  1207.787231  1531.714966    12.478742
 5     2374.539307  1939.671875  3182.684570  2270.777832    38.301769
 6     2224.103271  1424.116821  3006.164063  2562.487061    39.370068
 7     1958.079956  1378.250732  2597.973389  2214.749756    51.699089
 8     2261.809326  1401.343872  2962.725342  2684.916260    36.477440
 9     1697.405273  1292.268799  2732.747070  2535.453613    47.195309
 10    1678.377075  1295.983398  2272.245117  2350.397705    48.515305
 11    1810.759521  1103.586670  2376.111328  1759.444458    60.341103
 12    1885.004761  1233.328735  2362.634521  2336.960449    48.862568
 13    1833.979614  1280.753418  2712.543701  2008.762939    51.948116
 14    2263.467041  1424.420898  2929.662598  1828.005127    53.239426
 15    2145.111572  1053.658691  2484.806641  2515.930908    46.144623
 16    2318.616211  1258.337158  2792.735840  2330.492920    52.031834
 17    2489.555908  2221.251221  3145.896973  2377.281982    33.004135
 18    1665.531494  2151.975830  2108.354736  1784.046387    44.332153
 19    2432.409180  1347.539429  3102.294922  2885.008301    36.669342
 20    2410.939209  1985.163452  3105.591797  2405.656738    37.381142
 21    2056.749023  2180.864746  2897.856445  2156.424805    34.457466
 22    1970.544556  1413.925049  2593.876953  1676.064209    37.453354
 23    1845.991211  1405.131226  2525.043457  1455.853394    40.837734
 24    1865.271240  1498.728882  2551.314209  1331.546143    46.538548
 25    2226.517822  2202.434082  2645.643555  2075.164551    32.848305
 26    1852.992310  1899.277954  2143.518555  1858.808105    39.437942
 27    1624.617065  1725.273315  2218.921387  1695.046875    37.673782
 28    1976.054565  2053.630371  2347.916504  1861.232300    46.214176
 29    1608.494873  2213.114990  1955.606201  1728.097778    47.454079
 ...           ...          ...          ...          ...          ...
 9904  2790.000000  2062.000000  3438.000000  3184.000000    75.000000
 9905  2790.000000  2062.000000  3438.000000  3184.000000    75.000000
 9906  2523.427490  2094.311768  3765.605713  3280.037842    63.331848
 9907  2493.000000  2098.000000  3803.000000  3291.000000    62.000000
 9908  2493.000000  2098.000000  3803.000000  3291.000000    62.000000
 9909  2926.000000  2128.000000  3739.000000  2981.000000    71.000000
 9910  2671.512939  2147.673584  3725.038086  3130.138428    62.115166
 9911  2867.000000  2195.000000  3639.000000  2850.000000    63.000000
 9912  2491.448486  2032.843628  3521.236084  3272.289063    69.000000
 9913  2493.000000  2098.000000  3803.000000  3291.000000    62.000000
 9914  2493.000000  2098.000000  3803.000000  3291.000000    62.000000
 9915  2506.000000  2034.000000  3562.000000  3272.000000    69.000000
 9916  2525.000000  2159.000000  3717.000000  3216.000000    57.000000
 9917  2493.000000  2098.000000  3803.000000  3291.000000    62.000000
 9918  2573.000000  2067.000000  3196.000000  2986.000000    53.000000
 9919  2573.000000  2067.000000  3196.000000  2986.000000    53.000000
 9920  2259.000000  1975.000000  3764.000000  3316.000000    53.000000
 9921  2516.000000  2265.000000  3978.000000  3309.000000    66.000000
 9922  2178.000000  2444.000000  3904.000000  3110.000000    55.000000
 9923  2160.000000  3382.000000  2437.000000  2538.000000    61.000000
 9924  2279.107666  3221.871338  2104.454102  2297.968506    60.692173
 9925  2250.000000  1842.000000  3409.000000  2630.000000    57.000000
 9926  2274.000000  2213.000000  2533.000000  2509.000000    52.000000
 9927  2067.000000  2953.000000  2742.000000  2496.000000    49.000000
 9928  2518.000000  2338.000000  2897.000000  2864.000000    54.000000
 9929  1945.000000  1482.000000  2986.000000  2693.000000    38.000000
 9930  1945.000000  1482.000000  2986.000000  2693.000000    38.000000
 9931  2394.000000  2121.000000  3004.000000  2537.000000    71.000000
 9932  2583.766113  1294.476563  2982.766113  2275.523438    57.598141
 9933  2497.915283  1343.445435  2927.071045  2373.467285    59.000000

       LABEL_y  ONS_LABEL           NAME_y
 0       AL1 1       26UG       St. Albans
 1       AL1 2       26UG       St. Albans
 2       AL1 3       26UG       St. Albans
 3       AL1 4       26UG       St. Albans
 4       AL1 5       26UG       St. Albans
 5       AL1 9       26UG       St. Albans
 6       AL100       26UL  Welwyn Hatfield
 7       AL108       26UL  Welwyn Hatfield
 8       AL109       26UL  Welwyn Hatfield
 9       AL2 1       26UG       St. Albans
 10      AL2 2       26UG       St. Albans
 11      AL2 3       26UG       St. Albans
 12      AL3 4       26UG       St. Albans
 13      AL3 5       26UG       St. Albans
 14      AL3 6       26UG       St. Albans
 15      AL3 7       26UG       St. Albans
 16      AL3 8       26UC          Dacorum
 17      AL4 0       26UG       St. Albans
 18      AL4 8       26UG       St. Albans
 19      AL4 9       26UG       St. Albans
 20      AL5 1       26UG       St. Albans
 21      AL5 2       26UG       St. Albans
 22      AL5 3       26UG       St. Albans
 23      AL5 4       26UG       St. Albans
 24      AL5 5       26UG       St. Albans
 25      AL5 9       26UG       St. Albans
 26      AL6 0       26UL  Welwyn Hatfield
 27      AL6 9       26UL  Welwyn Hatfield
 28      AL7 1       26UL  Welwyn Hatfield
 29      AL7 2       26UL  Welwyn Hatfield
 ...       ...        ...              ...
 9904      NaN        NaN              NaN
 9905      NaN        NaN              NaN
 9906      NaN        NaN              NaN
 9907      NaN        NaN              NaN
 9908      NaN        NaN              NaN
 9909      NaN        NaN              NaN
 9910      NaN        NaN              NaN
 9911      NaN        NaN              NaN
 9912      NaN        NaN              NaN
 9913      NaN        NaN              NaN
 9914      NaN        NaN              NaN
 9915      NaN        NaN              NaN
 9916      NaN        NaN              NaN
 9917      NaN        NaN              NaN
 9918      NaN        NaN              NaN
 9919      NaN        NaN              NaN
 9920      NaN        NaN              NaN
 9921      NaN        NaN              NaN
 9922      NaN        NaN              NaN
 9923      NaN        NaN              NaN
 9924      NaN        NaN              NaN
 9925      NaN        NaN              NaN
 9926      NaN        NaN              NaN
 9927      NaN        NaN              NaN
 9928      NaN        NaN              NaN
 9929      NaN        NaN              NaN
 9930      NaN        NaN              NaN
 9931      NaN        NaN              NaN
 9932      NaN        NaN              NaN
 9933      NaN        NaN              NaN

 [9934 rows x 41 columns],
 'Aug02.csv':        FID    Shape  SECTORS LABEL_x  AREA         NAME_x OTHER  _01_08_2002  \
 0        0  Polygon      NaN   QTC84  18.0         PH35 4    NO  4515.326660
 1        1  Polygon      NaN   QTC21  18.0         IV22 2    NO  4691.909668
 2        2  Polygon      NaN   QTC26  18.0         IV27 4    NO  4424.958008
 3        3  Polygon      NaN   QTC60  18.0         KW14 7    NO  3866.678223
 4        4  Polygon      NaN   RDC02  27.0          ZE2 9    NO  4351.597656
 5        5  Polygon      NaN   QDC18   4.0         PA28 6    NO  4067.982910
 6        6  Polygon      NaN   QHC26   8.0          DG8 0    NO  3112.663086
 7        7  Polygon      NaN   QHC28   8.0          DG8 7    NO  3785.615967
 8        8  Polygon      NaN   REC07  28.0  KA26 0 (part)    NO  3749.135254
 9        9  Polygon      NaN   QKC24  10.0   KA6 7 (part)    NO  4200.396484
 10      10  Polygon      NaN   QHC25   8.0   DG7 3 (part)    NO  4098.173340
 11      11  Polygon      NaN   QHC19   8.0          DG3 5    NO  3934.821777
 12      12  Polygon      NaN   QHC11   8.0         DG13 0    NO  3200.841064
 13      13  Polygon      NaN   RFC29  29.0  ML12 6 (part)    NO  4193.126465
 14      14  Polygon      NaN   QEC26   5.0   TD7 5 (part)    NO  3704.497559
 15      15  Polygon      NaN   QEC28   5.0          TD9 0    NO  2870.271240
 16      16  Polygon      NaN   QEC29   5.0          TD9 7    NO  3212.582764
 17      17  Polygon      NaN   QDC39   4.0         PA60 7    NO  4851.926758
 18      18  Polygon      NaN   QTC85  18.0         PH36 4    NO  4858.510742
 19      19  Polygon      NaN   QYC25  22.0         KA27 8    NO  4285.653809
 20      20  Polygon      NaN   QDC19   4.0         PA29 6    NO  4365.122559
 21      21  Polygon      NaN   QDC21   4.0         PA31 8    NO  4838.043945
 22      22  Polygon      NaN   RGC21  30.0   G63 0 (part)    NO  3706.614990
 23      23  Polygon      NaN   RGC17  30.0          FK8 3    NO  3920.639404
 24      24  Polygon      NaN   RGC04  30.0         FK17 8    NO  4357.639160
 25      25  Polygon      NaN   QDC24   4.0         PA34 4    NO  4846.333496
 26      26  Polygon      NaN   QDC26   4.0         PA35 1    NO  4662.911621
 27      27  Polygon      NaN   QDC23   4.0         PA33 1    NO  4530.742188
 28      28  Polygon      NaN   QDC28   4.0         PA37 1    NO  4696.777832
 29      29  Polygon      NaN   QTC82  18.0         PH33 7    NO  4952.870605
 ...    ...      ...      ...     ...   ...            ...   ...          ...
 9904  9904  Polygon      NaN   WC1A2   NaN            NaN   NaN  4947.000000
 9905  9905  Polygon      NaN   EC1R5   NaN            NaN   NaN  4947.000000
 9906  9906  Polygon      NaN   WC1X8   NaN            NaN   NaN  5026.881836
 9907  9907  Polygon      NaN   WC1X0   NaN            NaN   NaN  5036.000000
 9908  9908  Polygon      NaN   EC1V4   NaN            NaN   NaN  5036.000000
 9909  9909  Polygon      NaN   SE162   NaN            NaN   NaN  4964.000000
 9910  9910  Polygon      NaN   E2  6   NaN            NaN   NaN  4988.750488
 9911  9911  Polygon      NaN   E3  3   NaN            NaN   NaN  4967.000000
 9912  9912  Polygon      NaN   NW3 5   NaN            NaN   NaN  5082.154785
 9913  9913  Polygon      NaN   EC1V4   NaN            NaN   NaN  5036.000000
 9914  9914  Polygon      NaN   EC1V7   NaN            NaN   NaN  5036.000000

In [9]:
d.keys()

dict_keys(['Apr03.csv', 'Aug02.csv', 'Dec02.csv', 'Feb03.csv', 'Jan03.csv', 'Jul02.csv', 'Jun03.csv', 'Mar03.csv', 'May03.csv', 'Nov02.csv', 'Oct02.csv', 'Sep02.csv', 'test.csv'])

In [10]:
for key in d: 
    exec('{}= pd.DataFrame().from_dict(d[key])'.format(key.replace('.csv','')))

In [13]:
whos

Variable   Type         Data/Info
---------------------------------
d          dict         n=13
d4         DataFrame          LABEL ONS_LABEL    <...>\n[8570 rows x 3 columns]
d4_dict    method       <bound method DataFrame.t<...>n[8570 rows x 3 columns]>
ds         list         n=2
file       str          S:\Projects\SAHSU_Share\D<...>d0203\Annie\Data\test.csv
files      list         n=13
glob       module       <module 'glob' from 'C:\\<...>Anaconda3\\lib\\glob.py'>
np         module       <module 'numpy' from 'C:\<...>ges\\numpy\\__init__.py'>
os         module       <module 'os' from 'C:\\Us<...>\\Anaconda3\\lib\\os.py'>
pd         module       <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>

In [11]:
Apr03

,FID,Shape,SECTORS,LABEL_x,AREA,NAME_x,OTHER,_01_04_2002,_02_04_2002,_03_04_2002,...,_25_04_2002,_26_04_2002,_27_04_2002,_28_04_2002,_29_04_2002,_30_04_2002,_01_05_2002,LABEL_y,ONS_LABEL,NAME_y
0,0,Polygon,NaN,QTC84,18.0,PH35 4,NO,589.731873,1299.646729,1152.128906,...,1475.272217,1713.073486,1437.831909,2088.596924,1641.062744,1476.506470,45.410336,AL1 1,26UG,St. Albans
1,1,Polygon,NaN,QTC21,18.0,IV22 2,NO,659.582581,1563.490112,1013.519775,...,1930.409424,2336.778564,1806.774780,2085.781250,1091.011108,1589.714355,38.924885,AL1 2,26UG,St. Albans
2,2,Polygon,NaN,QTC26,18.0,IV27 4,NO,830.182312,1300.926514,946.220093,...,1988.984497,2755.775635,2004.283813,2411.018555,1545.265015,1814.099243,37.262684,AL1 3,26UG,St. Albans
3,3,Polygon,NaN,QTC60,18.0,KW14 7,NO,986.576050,1406.580078,1017.052124,...,1918.288574,2725.101563,1862.037964,2628.881348,1566.942749,1707.565063,38.321506,AL1 4,26UG,St. Albans
4,4,Polygon,NaN,RDC02,27.0,ZE2 9,NO,870.127991,728.769409,888.620728,...,1879.807007,1161.486206,1635.396118,1380.626221,1207.787231,1531.714966,12.478742,AL1 5,26UG,St. Albans
5,5,Polygon,NaN,QDC18,4.0,PA28 6,NO,955.893066,2306.091309,1627.470337,...,992.138428,2601.211914,2374.539307,1939.671875,3182.684570,2270.777832,38.301769,AL1 9,26UG,St. Albans
6,6,Polygon,NaN,QHC26,8.0,DG8 0,NO,1013.468689,1997.999512,1888.867920,...,1056.260620,1519.446777,2224.103271,1424.116821,3006.164063,2562.487061,39.370068,AL100,26UL,Welwyn Hatfield
7,7,Polygon,NaN,QHC28,8.0,DG8 7,NO,1057.328857,1911.997803,1753.654175,...,1088.169922,1203.104492,1958.079956,1378.250732,2597.973389,2214.749756,51.699089,AL108,26UL,Welwyn Hatfield
8,8,Polygon,NaN,REC07,28.0,KA26 0 (part),NO,954.994080,1994.897583,1829.907471,...,1135.487305,1789.841675,2261.809326,1401.343872,2962.725342,2684.916260,36.477440,AL109,26UL,Welwyn Hatfield
9,9,Polygon,NaN,QKC24,10.0,KA6 7 (part),NO,915.886902,1770.019409,1656.938599,...,1020.905579,1796.483643,1697.405273,1292.268799,2732.747070,2535.453613,47.195309,AL2 1,26UG,St. Albans
10,10,Polygon,NaN,QHC25,8.0,DG7 3 (part),NO,1004.600281,1779.449463,1815.783447,...,925.732849,1286.720825,1678.377075,1295.983398,2272.245117,2350.397705,48.515305,AL2 2,26UG,St. Albans
11,11,Polygon,NaN,QHC19,8.0,DG3 5,NO,763.349365,1738.331177,1703.765137,...,976.962158,1609.665283,1810.759521,1103.586670,2376.111328,1759.444458,60.341103,AL2 3,26UG,St. Albans
12,12,Polygon,NaN,QHC11,8.0,DG13 0,NO,1057.868408,1915.390625,1829.329224,...,1126.098267,2085.319824,1885.004761,1233.328735,2362.634521,2336.960449,48.862568,AL3 4,26UG,St. Albans
13,13,Polygon,NaN,RFC29,29.0,ML12 6 (part),NO,733.605591,1850.628540,1632.294922,...,978.060181,1905.461670,1833.979614,1280.753418,2712.543701,2008.762939,51.948116,AL3 5,26UG,St. Albans
14,14,Polygon,NaN,QEC26,5.0,TD7 5 (part),NO,1004.002686,1848.987427,1756.297241,...,1116.785400,2474.712402,2263.467041,1424.420898,2929.662598,1828.005127,53.239426,AL3 6,26UG,St. Albans
15,15,Polygon,NaN,QEC28,5.0,TD9 0,NO,1140.398804,1860.091797,1834.000122,...,1186.486938,2260.595703,2145.111572,1053.658691,2484.806641,2515.930908,46.144623,AL3 7,26UG,St. Albans
16,16,Polygon,NaN,QEC29,5.0,TD9 7,NO,1112.457642,1961.510864,1954.338501,...,1197.192261,2399.048340,2318.616211,1258.337158,2792.735840,2330.492920,52.031834,AL3 8,26UC,Dacorum
17,17,Polygon,NaN,QDC39,4.0,PA60 7,NO,992.160644,2143.124512,1459.086182,...,1170.954712,2707.333008,2489.555908,2221.251221,3145.896973,2377.281982,33.004135,AL4 0,26UG,St. Albans
18,18,Polygon,NaN,QTC85,18.0,PH36 4,NO,830.075500,1783.548950,1137.093140,...,1366.676392,1832.006470,1665.531494,2151.975830,2108.354736,1784.046387,44.332153,AL4 8,26UG,St. Albans
19,19,Polygon,NaN,QYC25,22.0,KA27 8,NO,904.309021,2140.968994,1641.005859,...,1167.768066,2052.127686,2432.409180,1347.539429,3102.294922,2885.008301,36.669342,AL4 9,26UG,St. Albans
20,20,Polygon,NaN,QDC19,4.0,PA29 6,NO,1031.962646,2248.281250,1541.033081,...,1150.223877,2342.961670,2410.939209,1985.163452,3105.591797,2405.656738,37.381142,AL5 1,26UG,St. Albans
21,21,Polygon,NaN,QDC21,4.0,PA31 8,NO,970.683350,2149.477051,1294.007568,...,1291.329224,1912.954346,2056.749023,2180.864746,2897.856445,2156.424805,34.457466,AL5 2,26UG,St. Albans
22,22,Polygon,NaN,RGC21,30.0,G63 0 (part),NO,947.686585,1707.943970,1893.618164,...,1089.215088,1199.690063,1970.544556,1413.925049,2593.876953,1676.064209,37.453354,AL5 3,26UG,St. Albans
23,23,Polygon,NaN,RGC17,30.0,FK8 3,NO,945.811462,1698.471436,1828.106934,...,1014.336975,1300.449829,1845.991211,1405.131226,2525.043457,1455.853394,40.837734,AL5 4,26UG,St. Albans
24,24,Polygon,NaN,RGC04,30.0,FK17 8,NO,979.036377,1652.521118,1886.520874,...,1078.103882,1340.513550,1865.271240,1498.728882,2551.314209,1331.546143,46.538548,AL5 5,26UG,St. Albans
25,25,Polygon,NaN,QDC24,4.0,PA34 4,NO,752.481445,2057.149170,1275.198364,...,1212.656372,1645.185791,2226.517822,2202.434082,2645.643555,2075.164551,32.848305,AL5 9,26UG,St. Albans
26,26,Polygon,NaN,QDC26,4.0,PA35 1,NO,568.339416,1930.187012,1298.476074,...,1184.126831,1386.051270,1852.992310,1899.277954,2143.518555,1858.808105,39.437942,AL6 0,26UL,Welwyn Hatfield
27,27,Polygon,NaN,QDC23,4.0,PA33 1,NO,528.443787,1857.473999,1355.824341,...,1171.938965,1218.782593,1624.617065,1725.273315,2218.921387,1695.046875,37.673782,AL6 9,26UL,Welwyn Hatfield
28,28,Polygon,NaN,QDC28,4.0,PA37 1,NO,845.308044,2003.987793,1239.566528,...,1222.420166,1544.790894,1976.054565,2053.630371,2347.916504,1861.232300,46.214176,AL7 1,26UL,Welwyn Hatfield
29,29,Polygon,NaN,QTC82,18.0,PH33 7,NO,617.649780,1681.479858,1268.531860,...,1374.209595,1451.031006,1608.494873,2213.114990,1955.606201,1728.097778,47.454079,AL7 2,26UL,Welwyn Hatfield
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9904,9904,Polygon,NaN,WC1A2,NaN,NaN,NaN,596.000000,1892.000000,2252.000000,...,2271.000000,2225.000000,2790.000000,2062.000000,3438.000000,3184.000000,75.000000,NaN,NaN,NaN
9905,9905,Polygon,NaN,EC1R5,NaN,NaN,NaN,596.000000,1892.000000,2252.000000,...,2271.000000,2225.000000,2790.000000,2062.000000,3438.000000,3184.000000,75.000000,NaN,NaN,NaN
9906,9906,Polygon,NaN,WC1X8,NaN,NaN,NaN,645.365234,1793.269531,2271.746094,...,2221.634766,2246.541260,2523.427490,2094.311768,3765.605713,3280.037842,63.331848,NaN,NaN,NaN
9907,9907,Polygon,NaN,WC1X0,NaN,NaN,NaN,651.000000,1782.000000,2274.000000,...,2216.000000,2249.000000,2493.000000,2098.000000,3803.000000,3291.000000,62.000000,NaN,NaN,NaN
9908,9908,Polygon,NaN,EC1V4,NaN,NaN,NaN,651.000000,1782.000000,2274.000000,...,2216.000000,2249.000000,2493.000000,2098.000000,3803.000000,3291.000000,62.000000,NaN,NaN,NaN
9909,9909,Polygon,NaN,SE162,NaN,NaN,NaN,591.000000,1832.000000,2199.000000,...,2262.000000,2335.000000,2926.000000,2128.000000,3739.000000,2981.000000,71.000000,NaN,NaN,NaN
9910,9910,Polygon,NaN,E2 6,NaN,NaN,NaN,622.096924,1673.976807,2265.001709,...,2174.420898,2472.080322,2671.512939,2147.673584,3725.038086,3130.138428,62.115166,NaN,NaN,NaN
9911,9911,Polygon,NaN,E3 3,NaN,NaN,NaN,629.000000,1799.000000,2193.000000,...,2232.000000,2403.000000,2867.000000,2195.000000,3639.000000,2850.000000,63.000000,NaN,NaN,NaN
9912,9912,Polygon,NaN,NW3 5,NaN,NaN,NaN,676.410644,1892.149536,2369.082275,...,2322.781982,1932.365967,2491.448486,2032.843628,3521.236084,3272.289063,69.000000,NaN,NaN,NaN
9913,9913,Polygon,NaN,EC1V4,NaN,NaN,NaN,651.000000,1782.000000,2274.000000,...,2216.000000,2249.000000,2493.000000,2098.000000,3803.000000,3291.000000,62.000000,NaN,NaN,NaN
9914,9914,Polygon,NaN,EC1V7,NaN,NaN,NaN,651.000000,1782.000000,2274.000000,...,2216.000000,2249.000000,2493.000000,2098.000000,3803.000000,3291.000000,62.000000,NaN,NaN,NaN
9915,9915,Polygon,NaN,N19 5,NaN,NaN,NaN,682.000000,1920.000000,2358.000000,...,2317.000000,1958.000000,2506.000000,2034.000000,3562.000000,3272.000000,69.000000,NaN,NaN,NaN
9916,9916,Polygon,NaN,E2 7,NaN,NaN,NaN,640.000000,1583.000000,2303.000000,...,2124.000000,2551.000000,2525.000000,2159.000000,3717.000000,3216.000000,57.000000,NaN,NaN,NaN
9917,9917,Polygon,NaN,N16 0,NaN,NaN,NaN,651.000000,1782.000000,2274.000000,...,2216.000000,2249.000000,2493.000000,2098.000000,3803.000000,3291.000000,62.000000,NaN,NaN,NaN
9918,9918,Polygon,NaN,E6 2,NaN,NaN,NaN,715.000000,1465.000000,2276.000000,...,2152.000000,2323.000000,2573.000000,2067.000000,3196.000000,2986.000000,53.000000,NaN,NaN,NaN
9919,9919,Polygon,NaN,E6 2,NaN,NaN,NaN,715.000000,1465.000000,2276.000000,...,2152.000000,2323.000000,2573.000000,2067.000000,3196.000000,2986.000000,53.000000,NaN,NaN,NaN
9920,9920,Polygon,NaN,N15 5,NaN,NaN,NaN,703.000000,1586.000000,2287.000000,...,2101.000000,2585.000000,2259.000000,1975.000000,3764.000000,3316.000000,53.000000,NaN,NaN,NaN
9921,9921,Polygon,NaN,CM2 8,NaN,NaN,NaN,792.000000,1525.000000,2045.000000,...,2094.000000,2577.000000,2516.000000,2265.000000,3978.000000,3309.000000,66.000000,NaN,NaN,NaN
9922,9922,Polygon,NaN,CO6 1,NaN,NaN,NaN,821.000000,1836.000000,1860.000000,...,2056.000000,2844.000000,2178.000000,2444.000000,3904.000000,3110.000000,55.000000,NaN,NaN,NaN
9923,9923,Polygon,NaN,M21 0,NaN,NaN,NaN,935.000000,1733.000000,1988.000000,...,1239.000000,2583.000000,2160.000000,3382.000000,2437.000000,2538.000000,61.000000,NaN,NaN,NaN
9924,9924,Polygon,NaN,M1 7,NaN,NaN,NaN,900.514710,1420.462646,1922.845215,...,1190.163452,2395.003418,2279.107666,3221.871338,2104.454102,2297.968506,60.692173,NaN,NaN,NaN
9925,9925,Polygon,NaN,NG1 3,NaN,NaN,NaN,977.000000,1818.000000,2532.000000,...,1822.000000,3056.000000,2250.000000,1842.000000,3409.000000,2630.000000,57.000000,NaN,NaN,NaN
9926,9926,Polygon,NaN,S13 8,NaN,NaN,NaN,1126.000000,1543.000000,2107.000000,...,1254.000000,3449.000000,2274.000000,2213.000000,2533.000000,2509.000000,52.000000,NaN,NaN,NaN
9927,9927,Polygon,NaN,BD5 8,NaN,NaN,NaN,1172.000000,1494.000000,1580.000000,...,1183.000000,3005.000000,2067.000000,2953.000000,2742.000000,2496.000000,49.000000,NaN,NaN,NaN
9928,9928,Polygon,NaN,YO241,NaN,NaN,NaN,889.000000,1508.000000,2140.000000,...,1370.000000,3353.000000,2518.000000,2338.000000,2897.000000,2864.000000,54.000000,NaN,NaN,NaN
9929,9929,Polygon,NaN,NE8 1,NaN,NaN,NaN,881.000000,1717.000000,1213.000000,...,958.000000,2708.000000,1945.000000,1482.000000,2986.000000,2693.000000,38.000000,NaN,NaN,NaN
9930,9930,Polygon,NaN,NE1 4,NaN,NaN,NaN,881.000000,1717.000000,1213.000000,...,958.000000,2708.000000,1945.000000,1482.000000,2986.000000,2693.000000,38.000000,NaN,NaN,NaN
9931,9931,Polygon,NaN,TS233,NaN,NaN,NaN,1201.000000,1544.000000,1400.000000,...,1232.000000,3106.000000,2394.000000,2121.000000,3004.000000,2537.000000,71.000000,NaN,NaN,NaN
9932,9932,Polygon,NaN,NE687,NaN,NaN,NaN,1276.055786,1622.233765,2078.598145,...,1032.364380,2809.832031,2583.766113,1294.476563,2982.766113,2275.523438,57.598141,NaN,NaN,NaN
9933,9933,Polygon,NaN,NE687,NaN,NaN,NaN,1172.142090,1659.371582,2086.185791,...,993.535522,2836.773193,2497.915283,1343.445435,2927.071045,2373.467285,59.000000,NaN,NaN,NaN

In [35]:
Apr03.to_csv(r'S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Annie\Data\test.csv')

In [9]:
# info got from: https://stackoverflow.com/questions/41113663/pandas-get-a-list-of-all-data-frames-loaded-into-memory
alldfs = [var for var in dir() if isinstance(eval(var), pd.core.frame.DataFrame)]

In [10]:
alldfs

['Apr03',
 'Aug02',
 'Dec02',
 'Feb03',
 'Jan03',
 'Jul02',
 'Jun03',
 'Mar03',
 'May03',
 'Nov02',
 'Oct02',
 'Sep02']

In [11]:
#info: https://stackoverflow.com/questions/13411544/delete-column-from-pandas-dataframe-using-python-del
columns = ['FID', 'Shape', 'SECTORS', 'AREA','NAME','OTHER']

for df_name in alldfs: 
    temp = eval(df_name).set_index(['LABEL'], inplace = True)
    temp = eval(df_name).drop(columns, inplace=True, axis=1)
    temp = eval(df_name).merge(d4, how='left', left_index=True, right_index=True)

In [19]:
Apr03

,_01_04_2002,_02_04_2002,_03_04_2002,_04_04_2002,_05_04_2002,_06_04_2002,_07_04_2002,_08_04_2002,_09_04_2002,_10_04_2002,...,_22_04_2002,_23_04_2002,_24_04_2002,_25_04_2002,_26_04_2002,_27_04_2002,_28_04_2002,_29_04_2002,_30_04_2002,_01_05_2002
LABEL,,,,,,,,,,,,,,,,,,,,,
QTC84,589.731873,1299.646729,1152.128906,1716.383057,2368.872559,2242.370850,1742.609131,2020.623901,1762.859497,2078.916016,...,1541.653076,2326.869385,2212.880371,1475.272217,1713.073486,1437.831909,2088.596924,1641.062744,1476.506470,45.410336
QTC21,659.582581,1563.490112,1013.519775,1484.350098,1932.697388,2394.400391,1694.291626,1629.645142,1775.800659,1570.860596,...,1431.011230,1902.911865,2541.055664,1930.409424,2336.778564,1806.774780,2085.781250,1091.011108,1589.714355,38.924885
QTC26,830.182312,1300.926514,946.220093,1129.505615,1154.136597,2452.818604,1729.341553,1110.825684,1655.387451,1622.180786,...,1257.326050,1705.865601,2200.920410,1988.984497,2755.775635,2004.283813,2411.018555,1545.265015,1814.099243,37.262684
QTC60,986.576050,1406.580078,1017.052124,1359.804077,1358.752197,2222.633301,1663.828735,1325.903809,1492.335938,2015.175537,...,1192.143555,1782.721802,1647.267090,1918.288574,2725.101563,1862.037964,2628.881348,1566.942749,1707.565063,38.321506
RDC02,870.127991,728.769409,888.620728,1817.661865,1000.724060,2234.751465,1518.420654,906.415161,973.332947,1842.947998,...,2174.534912,1138.251343,1785.897461,1879.807007,1161.486206,1635.396118,1380.626221,1207.787231,1531.714966,12.478742
QDC18,955.893066,2306.091309,1627.470337,1584.405273,2216.103516,1707.126953,1017.491760,2241.300049,1543.249634,2505.692871,...,1808.314331,2758.731689,2560.621582,992.138428,2601.211914,2374.539307,1939.671875,3182.684570,2270.777832,38.301769
QHC26,1013.468689,1997.999512,1888.867920,1738.271851,1961.058960,1863.899780,969.488220,2417.833496,1580.599854,2109.894775,...,1703.289307,2460.337158,2014.725952,1056.260620,1519.446777,2224.103271,1424.116821,3006.164063,2562.487061,39.370068
QHC28,1057.328857,1911.997803,1753.654175,1749.936035,1957.050293,1917.977661,1052.798584,2421.468750,1794.451050,2227.093262,...,1284.985840,2642.245117,2144.265381,1088.169922,1203.104492,1958.079956,1378.250732,2597.973389,2214.749756,51.699089
REC07,954.994080,1994.897583,1829.907471,1775.077759,1675.979248,1961.924805,1081.856689,2357.908447,1517.467163,2127.397949,...,1970.238037,2281.529053,2220.093750,1135.487305,1789.841675,2261.809326,1401.343872,2962.725342,2684.916260,36.477440
QKC24,915.886902,1770.019409,1656.938599,1687.371826,1510.055420,2186.890625,1218.579956,2258.296143,1767.597168,2108.529297,...,1172.808716,2534.032227,2093.552002,1020.905579,1796.483643,1697.405273,1292.268799,2732.747070,2535.453613,47.195309
QHC25,1004.600281,1779.449463,1815.783447,1853.275757,1916.888794,1723.444580,1260.322144,2364.060547,2021.670532,2273.173828,...,1316.484497,2704.648926,2066.542236,925.732849,1286.720825,1678.377075,1295.983398,2272.245117,2350.397705,48.515305
QHC19,763.349365,1738.331177,1703.765137,1779.074585,1633.108154,1521.148804,1443.318115,2331.821533,2147.827148,2222.003174,...,1062.447632,2610.248047,1964.414917,976.962158,1609.665283,1810.759521,1103.586670,2376.111328,1759.444458,60.341103
QHC11,1057.868408,1915.390625,1829.329224,2251.018555,1840.530518,1437.093628,1741.215210,2363.543945,2249.723145,1888.396606,...,1474.033569,2364.474121,2107.838623,1126.098267,2085.319824,1885.004761,1233.328735,2362.634521,2336.960449,48.862568
RFC29,733.605591,1850.628540,1632.294922,1742.322388,1414.044678,1641.085938,1373.427490,2249.184570,2124.915283,2330.949219,...,1066.447021,2628.715576,2121.841309,978.060181,1905.461670,1833.979614,1280.753418,2712.543701,2008.762939,51.948116
QEC26,1004.002686,1848.987427,1756.297241,1956.003662,2118.919678,1295.507935,1477.481689,2267.722656,2187.404297,2036.085327,...,1294.859741,2191.396729,1879.869263,1116.785400,2474.712402,2263.467041,1424.420898,2929.662598,1828.005127,53.239426
QEC28,1140.398804,1860.091797,1834.000122,2192.456787,2013.038696,1489.583984,2204.788818,2318.350342,2219.509277,1772.435913,...,1450.119995,2437.552490,1783.255981,1186.486938,2260.595703,2145.111572,1053.658691,2484.806641,2515.930908,46.144623
QEC29,1112.457642,1961.510864,1954.338501,2203.908691,2029.967163,1351.656250,1873.816895,2295.153320,2174.356689,1883.708496,...,1495.942139,2315.529541,1806.856323,1197.192261,2399.048340,2318.616211,1258.337158,2792.735840,2330.492920,52.031834
QDC39,992.160644,2143.124512,1459.086182,1536.813965,2453.842773,2261.240723,1124.310425,2331.867188,1818.960693,2502.981445,...,1836.500732,2892.138428,2759.803467,1170.954712,2707.333008,2489.555908,2221.251221,3145.896973,2377.281982,33.004135
QTC85,830.075500,1783.548950,1137.093140,1436.939453,2410.588379,2330.907715,1612.986938,2130.515137,1609.119263,2258.106201,...,1575.187012,2549.538818,2337.507080,1366.676392,1832.006470,1665.531494,2151.975830,2108.354736,1784.046387,44.332153
QYC25,904.309021,2140.968994,1641.005859,1598.200439,2260.098145,1847.553467,870.261780,2229.530518,1652.520020,2488.782959,...,1857.863647,2505.875244,2251.301758,1167.768066,2052.127686,2432.409180,1347.539429,3102.294922,2885.008301,36.669342
QDC19,1031.962646,2248.281250,1541.033081,1503.866333,2369.256104,1837.317627,1035.186279,2201.609131,1629.510620,2486.152588,...,1851.316162,2774.345459,2653.261475,1150.223877,2342.961670,2410.939209,1985.163452,3105.591797,2405.656738,37.381142
QDC21,970.683350,2149.477051,1294.007568,1421.620972,2454.233154,2184.766846,1054.221069,2224.928467,1685.665039,2460.200928,...,1753.728516,2776.148682,2760.068848,1291.329224,1912.954346,2056.749023,2180.864746,2897.856445,2156.424805,34.457466
RGC21,947.686585,1707.943970,1893.618164,2025.807007,2210.291016,1464.964478,1106.716309,2186.542725,1496.469849,2288.087646,...,911.552795,2618.735352,1401.796997,1089.215088,1199.690063,1970.544556,1413.925049,2593.876953,1676.064209,37.453354
RGC17,945.811462,1698.471436,1828.106934,1996.298218,2214.157715,1503.991821,1151.473267,2165.769531,1337.504028,2314.446533,...,1267.028076,2445.400879,1433.474243,1014.336975,1300.449829,1845.991211,1405.131226,2525.043457,1455.853394,40.837734
RGC04,979.036377,1652.521118,1886.520874,2059.048584,2301.580322,1449.314819,1151.923828,2160.603516,1230.425903,2321.520020,...,1437.332397,2253.990723,1400.483398,1078.103882,1340.513550,1865.271240,1498.728882,2551.314209,1331.546143,46.538548
QDC24,752.481445,2057.149170,1275.198364,1388.798706,2456.499756,2104.893555,1204.424438,2244.467041,1808.918823,2389.599854,...,1477.937134,2626.826172,2751.685303,1212.656372,1645.185791,2226.517822,2202.434082,2645.643555,2075.164551,32.848305
QDC26,568.339416,1930.187012,1298.476074,1425.718506,2429.091064,2099.280273,1288.719727,2204.185547,1734.777710,2358.166260,...,1247.223389,2503.636230,2637.833496,1184.126831,1386.051270,1852.992310,1899.277954,2143.518555,1858.808105,39.437942
QDC23,528.443787,1857.473999,1355.824341,1492.767944,2379.698486,2119.359619,1197.876099,2182.237305,1597.126587,2371.098633,...,1321.248047,2533.735107,2610.112305,1171.938965,1218.782593,1624.617065,1725.273315,2218.921387,1695.046875,37.673782
QDC28,845.308044,2003.987793,1239.566528,1450.797729,2452.536865,2069.020996,1374.493042,2201.797119,1723.047241,2355.148438,...,1187.779663,2635.635986,2653.674072,1222.420166,1544.790894,1976.054565,2053.630371,2347.916504,1861.232300,46.214176
QTC82,617.649780,1681.479858,1268.531860,1484.730469,2458.362061,2146.686523,1610.088257,2132.446777,1715.903442,2245.903809,...,1408.573975,2369.671143,2368.501953,1374.209595,1451.031006,1608.494873,2213.114990,1955.606201,1728.097778,47.454079
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WC1A2,596.000000,1892.000000,2252.000000,2685.000000,3235.000000,1244.000000,3059.000000,2720.000000,1387.000000,1260.000000,...,3940.000000,3819.000000,2417.000000,2271.000000,2225.000000,2790.000000,2062.000000,3438.000000,3184.000000,75.000000
EC1R5,596.000000,1892.000000,2252.000000,2685.000000,3235.000000,1244.000000,3059.000000,2720.000000,1387.000000,1260.000000,...,3940.000000,3819.000000,2417.000000,2271.000000,2225.000000,2790.000000,2062.000000,3438.000000,3184.000000,75.000000
WC1X8,645.365234,1793.269531,2271.746094,2674.229492,3241.282959,1286.184814,3052.717041,2699.356445,1443.545654,1299.492188,...,3892.429932,3817.204834,2179.149170,2221.634766,2246.541260,2523.427490,2094.311768,3765.605713,3280.037842,63.331848
WC1X0,651.000000,1782.000000,2274.000000,2673.000000,3242.000000,1291.000000,3052.000000,2697.000000,1450.000000,1304.000000,...,3887.000000,3817.000000,2152.000000,2216.000000,2249.000000,2493.000000,2098.000000,3803.000000,3291.000000,62.000000
EC1V4,651.000000,1782.000000,2274.000000,2673.000000,3242.000000,1291.000000,3052.000000,2697.000000,1450.000000,1304.000000,...,3887.000000,3817.000000,2152.000000,2216.000000,2249.000000,2493.000000,2098.000000,3803.000000,3291.000000,62.000000
SE162,591.000000,1832.000000,2199.000000,2670.000000,3233.000000,1307.000000,3067.000000,2659.000000,1301.000000,1319.000000,...,3961.000000,3814.000000,2085.000000,2262.000000,2335.000000,2926.000000,2128.000000,3739.000000,2981.000000,71.000000
E2 6,622.096924,1673.976807,2265.001709,2666.826904,3232.365479,1323.500366,3075.884766,2660.903809,1387.944458,1340.577515,...,3948.941895,3814.000000,1834.320679,2174.420898,2472.080322,2671.512939,2147.673584,3725.038086,3130.138428,62.115166
E3 3,629.000000,1799.000000,2193.000000,2671.000000,3231.000000,1325.000000,3034.000000,2626.000000,1264.000000,1384.000000,...,3979.000000,3804.000000,1495.000000,2232.000000,2403.000000,2867.000000,2195.000000,3639.000000,2850.000000,63.000000
NW3 5,676.410644,1892.149536,2369.082275,2672.023682,3244.229004,1282.818359,3039.891113,2751.927246,1508.254272,1393.780640,...,3758.784912,3810.783447,2435.575439,2322.781982,1932.365967,2491.448486,2032.843628,3521.236084,3272.289063,69.000000
EC1V4,651.000000,1782.000000,2274.000000,2673.000000,3242.000000,1291.000000,3052.000000,2697.000000,1450.000000,1304.000000,...,3887.000000,3817.000000,2152.000000,2216.000000,2249.000000,2493.000000,2098.000000,3803.000000,3291.000000,62.000000
EC1V7,651.000000,1782.000000,2274.000000,2673.000000,3242.000000,1291.000000,3052.000000,2697.000000,1450.000000,1304.000000,...,3887.000000,3817.000000,2152.000000,2216.000000,2249.000000,2493.000000,2098.000000,3803.000000,3291.000000,62.000000
N19 5,682.000000,1920.000000,2358.000000,2670.000000,3245.000000,1278.000000,3037.000000,2750.000000,1515.000000,1380.000000,...,3769.000000,3813.000000,2419.000000,2317.000000,1958.000000,2506.000000,2034.000000,3562.000000,3272.000000,69.000000
E2 7,640.000000,1583.000000,2303.000000,2665.000000,3232.000000,1333.000000,3081.000000,2662.000000,1438.000000,1353.000000,...,3942.000000,3814.000000,1690.000000,2124.000000,2551.000000,2525.000000,2159.000000,3717.000000,3216.000000,57.000000
N16 0,651.000000,1782.000000,2274.000000,2673.000000,3242.000000,1291.000000,3052.000000,2697.000000,1450.000000,1304.000000,...,3887.000000,3817.000000,2152.000000,2216.000000,2249.000000,2493.000000,2098.000000,3803.000000,3291.000000,62.000000
E6 2,715.000000,1465.000000,2276.000000,2654.000000,3230.000000,1430.000000,2869.000000,2584.000000,1422.000000,1406.000000,...,3942.000000,3791.000000,1443.000000,2152.000000,2323.000000,2573.000000,2067.000000,3196.000000,2986.000000,53.000000
E6 2,715.000000,1465.000000,2276.000000,2654.000000,3230.000000,1430.000000,2869.000000,2584.000000,1422.000000,1406.000000,...,3942.000000,3791.000000,1443.000000,2152.000000,2323.000000,2573.000000,2067.000000,3196.000000,2986.000000,53.000000
N15 5,703.000000,1586.000000,2287.000000,2663.000000,3227.000000,1329.000000,2987.000000,2741.000000,1566.000000,1430.000000,...,3855.000000,3805.000000,1583.000000,2101.000000,2585.000000,2259.000000,1975.000000,3764.000000,3316.000000,53.000000
CM2 8,792.000000,1525.000000,2045.000000,2524.000000,3170.000000,1545.000000,2867.000000,2338.000000,1827.000000,1341.000000,...,3783.000000,3732.000000,1846.000000,2094.000000,2577.000000,2516.000000,2265.000000,3978.000000,3309.000000,66.000000
CO6 1,821.000000,1836.000000,1860.000000,2417.000000,3131.000000,1990.000000,2664.000000,2082.000000,1881.000000,1228.000000,...,3643.000000,3636.000000,2373.000000,2056.000000,2844.000000,2178.000000,2444.000000,3904.000000,3110.000000,55.000000
M21 0,935.000000,1733.000000,1988.000000,1274.000000,1771.000000,1214.000000,3178.000000,3075.000000,2173.000000,1245.000000,...,1484.000000,2422.000000,1576.000000,1239.000000,2583.000000,2160.000000,3382.000000,2437.000000,2538.000000,61.000000
M1 7,900.514710,1420.462646,1922.845215,1478.671265,1768.079956,1231.539185,3186.078369,3069.385986,2206.297363,1306.297363,...,1837.272949,2440.443359,1607.146118,1190.163452,2395.003418,2279.107666,3221.871338,2104.454102,2297.968506,60.692173
NG1 3,977.000000,1818.000000,2532.000000,2571.000000,1512.000000,1087.000000,3256.000000,3026.000000,2118.000000,991.000000,...,2524.000000,2789.000000,1508.000000,1822.000000,3056.000000,2250.000000,1842.000000,3409.000000,2630.000000,57.000000
S13 8,1126.000000,1543.000000,2107.000000,2161.000000,1390.000000,984.000000,3227.000000,3067.000000,1644.000000,801.000000,...,2361.000000,2940.000000,1663.000000,1254.000000,3449.000000,2274.000000,2213.000000,2533.000000,2509.000000,52.000000
BD5 8,1172.000000,1494.000000,1580.000000,2103.000000,1580.000000,1131.000000,3205.000000,3098.000000,2046.000000,963.000000,...,2020.000000,3118.000000,1956.000000,1183.000000,3005.000000,2067.000000,2953.000000,2742.000000,2496.000000,49.000000
YO241,889.000000,1508.000000,2140.000000,2196.000000,1317.000000,1289.000000,3087.000000,3040.000000,2126.000000,964.000000,...,2181.000000,2973.000000,2050.000000,1370.000000,3353.000000,2518.000000,2338.000000,2897.000000,2864.000000,54.000000
NE8 1,881.000000,1717.000000,1213.000000,2007.000000,1387.000000,1453.000000,2796.000000,2479.000000,2367.000000,1019.000000,...,1966.000000,3119.000000,1294.000000,958.000000,2708.000000,1945.000000,1482.000000,2986.000000,2693.000000,38.000000
NE1 4,881.000000,1717.000000,1213.000000,2007.000000,1387.000000,1453.000000,2796.000000,2479.000000,2367.000000,1019.000000,...,1966.000000,3119.000000,1294.000000,958.000000,2708.000000,1945.000000,1482.000000,2986.000000,2693.000000,38.000000
TS233,1201.000000,1544.000000,1400.000000,1929.000000,1357.000000,1620.000000,2885.000000,2819.000000,2194.000000,1065.000000,...,2522.000000,3220.000000,1664.000000,1232.000000,3106.000000,2394.000000,2121.000000,3004.000000,2537.000000,71.000000
NE687,1276.055786,1622.233765,2078.598145,1941.476563,1231.625977,1847.411133,2547.130859,2149.065430,2289.878418,1505.551025,...,2378.476807,2936.532715,1317.327148,1032.364380,2809.832031,2583.766113,1294.476563,2982.766113,2275.523438,57.598141
NE687,1172.142090,1659.371582,2086.185791,1882.193970,1190.349731,1758.584717,2554.412598,2149.226807,2267.082031,1411.071045,...,2322.800537,2937.000000,1315.041016,993.535522,2836.773193,2497.915283,1343.445435,2927.071045,2373.467285,59.000000

In [4]:
d4 = pd.read_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\Postcodes\d4_centroid_LAD.csv")

In [6]:
d4 = d4[['District', 'ONS_LABEL', 'NAME']]
#d4 = d4.rename(columns={'District':'LABEL'})

KeyError: "['District'] not in index"

In [15]:
d4 = d4.rename(columns={'District':'LABEL'})
d4 = d4.set_index('LABEL')

In [7]:
d4_dict = d4.to_dict

In [8]:
d4_dict

<bound method DataFrame.to_dict of       LABEL      x_coord      y_coord ONS_LABEL                      NAME
0     AL1 1  516078.9095  205823.2402      26UG                St. Albans
1     AL1 2  514794.5901  205692.1886      26UG                St. Albans
2     AL1 3  515320.4837  207335.4693      26UG                St. Albans
3     AL1 4  516246.9358  208028.6234      26UG                St. Albans
4     AL1 5  516566.7149  206620.3647      26UG                St. Albans
5     AL1 9  514969.8775  207405.5734      26UG                St. Albans
6     AL100  522398.3240  209155.3251      26UL           Welwyn Hatfield
7     AL108  522547.8414  207300.6179      26UL           Welwyn Hatfield
8     AL109  520922.5576  209458.7795      26UL           Welwyn Hatfield
9     AL2 1  518033.3852  203614.0925      26UG                St. Albans
10    AL2 2  515020.1596  203466.0756      26UG                St. Albans
11    AL2 3  512801.3593  203378.2302      26UG                St. Albans
12    AL3 4  513285.3968  206468.5517      26UG                St. Albans
13    AL3 5  514411.2791  208379.8116      26UG                St. Albans
14    AL3 6  512560.3820  209207.0186      26UG                St. Albans
15    AL3 7  509787.0738  212281.2665      26UG                St. Albans
16    AL3 8  506510.2886  215113.1998      26UC                   Dacorum
17    AL4 0  519396.8105  206295.5140      26UG                St. Albans
18    AL4 8  517964.3878  214214.0031      26UG                St. Albans
19    AL4 9  517981.3336  210195.4491      26UG                St. Albans
20    AL5 1  515063.3988  212782.3397      26UG                St. Albans
21    AL5 2  512703.7955  213024.4184      26UG                St. Albans
22    AL5 3  510936.4879  215788.1683      26UG                St. Albans
23    AL5 4  513596.0717  215351.2403      26UG                St. Albans
24    AL5 5  514895.8869  216009.4515      26UG                St. Albans
25    AL5 9  517316.5002  206835.7186      26UG                St. Albans
26    AL6 0  525976.1062  216056.4420      26UL           Welwyn Hatfield
27    AL6 9  521637.0478  216546.3955      26UL           Welwyn Hatfield
28    AL7 1  524991.0159  213617.3597      26UL           Welwyn Hatfield
29    AL7 2  526442.4998  212878.8310      26UL           Welwyn Hatfield
...     ...          ...          ...       ...                       ...
8540  YO422  480357.0765  448601.0784      00FB  East Riding of Yorkshire
8541  YO424  476318.1910  443082.1702      00FB  East Riding of Yorkshire
8542  YO429  480377.9676  449123.1076      00FB  East Riding of Yorkshire
8543  YO433  488258.1525  443766.8631      00FB  East Riding of Yorkshire
8544  YO434  486570.5731  437203.2106      00FB  East Riding of Yorkshire
8545  YO519  439596.4589  465739.9582      36UD                 Harrogate
8546  YO606  465840.8524  468495.1758      36UF                   Ryedale
8547  YO607  471622.7943  465447.8464      36UF                   Ryedale
8548  YO611  454976.2577  465550.3829      36UC                 Hambleton
8549  YO612  443776.6565  470266.2451      36UC                 Hambleton
8550  YO613  452254.7297  470630.7811      36UC                 Hambleton
8551  YO614  455696.8079  474884.8342      36UC                 Hambleton
8552  YO624  464363.7257  476009.2287      36UF                   Ryedale
8553  YO625  459513.2260  486647.5342      36UF                   Ryedale
8554  YO626  471669.5839  486365.3676      36UF                   Ryedale
8555  YO627  465575.3848  492875.9883      36UF                   Ryedale
8556  YO7 1  442832.5098  481613.9758      36UC                 Hambleton
8557  YO7 2  448912.1517  485292.8093      36UC                 Hambleton
8558  YO7 3  442028.2302  476105.9010      36UC                 Hambleton
8559  YO7 4  438360.8213  484238.6779      36UC                 Hambleton
8560  YO7 9  443887.1331  482135.0908      36UC                 Hambleton
8561  YO8 1  461398.2997  431900.2604      36UH                     Selby
8562  YO8 3  458332.1850  435228.8333      36UH                     Selby
8563  YO8 4  460351.9685  432251.7259      36UH                     Selby
8564  YO8 5  466047.2242  436429.7992      36UH                     Selby
8565  YO8 6  469968.1795  433732.7615      36UH                     Selby
8566  YO8 8  463227.1766  427266.2836      36UH                     Selby
8567  YO8 9  457022.6633  430220.9882      36UH                     Selby
8568  YO901  459686.1655  451922.6315      00FF                   York UA
8569  YO911  461378.3020  453989.9477      00FF                   York UA

[8570 rows x 5 columns]>

In [4]:
for df_name in alldfs:
    exec(df_name) = eval(df_name).merge(d4, how='left', left_index=True, right_index=True)

SyntaxError: can't assign to function call (<ipython-input-4-d714fa08399d>, line 2)

In [ ]:
Apr03_LAD = Apr03.merge(d4, how='left', left_index=True, right_index=True)
Sep02_LAD = Sep02.merge(d4, how='left', left_index=True, right_index=True)
Oct02_LAD = Oct02.merge(d4, how='left', left_index=True, right_index=True)
Nov02_LAD = Nov02.merge(d4, how='left', left_index=True, right_index=True)
May03_LAD = May03.merge(d4, how='left', left_index=True, right_index=True)
Mar03_LAD = Mar03.merge(d4, how='left', left_index=True, right_index=True)
Jun03_LAD = Jun03.merge(d4, how='left', left_index=True, right_index=True)
Jul02_LAD = Jul02.merge(d4, how='left', left_index=True, right_index=True)
Jan03_LAD = Jan03.merge(d4, how='left', left_index=True, right_index=True)
Feb03_LAD = Feb03.merge(d4, how='left', left_index=True, right_index=True)
Dec02_LAD = Dec02.merge(d4, how='left', left_index=True, right_index=True)
Aug02_LAD = Aug02.merge(d4, how='left', left_index=True, right_index=True)

In [ ]:
Apr03_LAD

In [ ]:
Apr03_av = Apr03_LAD.groupby('ONS_LABEL', as_index=False)['_01_04_2002','_02_04_2002','_03_04_2002','_04_04_2002','_05_04_2002',
                                                          '_06_04_2002','_07_04_2002','_08_04_2002','_09_04_2002','_10_04_2002',
                                                          '_11_04_2002','_12_04_2002','_13_04_2002','_14_04_2002','_15_04_2002',
                                                          '_16_04_2002','_17_04_2002','_18_04_2002','_19_04_2002','_20_04_2002',
                                                          '_21_04_2002','_22_04_2002','_23_04_2002','_24_04_2002','_25_04_2002',
                                                          '_26_04_2002','_27_04_2002','_28_04_2002','_29_04_2002','_30_04_2002',
                                                          '_01_05_2002'].mean()

In [ ]:
Apr03_av

In [ ]:
Apr03_LAD.loc[Apr03_LAD['ONS_LABEL']== '47UG']

In [ ]:
Apr03_av['avg'] = Apr03_av[['_01_04_2002','_02_04_2002','_03_04_2002','_04_04_2002','_05_04_2002',
                            '_06_04_2002','_07_04_2002','_08_04_2002','_09_04_2002','_10_04_2002',
                            '_11_04_2002','_12_04_2002','_13_04_2002','_14_04_2002','_15_04_2002',
                            '_16_04_2002','_17_04_2002','_18_04_2002','_19_04_2002','_20_04_2002',
                            '_21_04_2002','_22_04_2002','_23_04_2002','_24_04_2002','_25_04_2002',
                            '_26_04_2002','_27_04_2002','_28_04_2002','_29_04_2002','_30_04_2002',
                            '_01_05_2002']].mean(axis=1)

In [ ]:
Sep02_LAD

In [ ]:
Sep02_av = Sep02_LAD.groupby('ONS_LABEL', as_index=False)['_01_09_2002','_02_09_2002','_03_09_2002','_04_09_2002','_05_09_2002',
                                                         '_06_09_2002','_07_09_2002','_08_09_2002','_09_09_2002','_10_09_2002',
                                                         '_11_09_2002','_12_09_2002','_13_09_2002','_14_09_2002','_15_09_2002',
                                                         '_16_09_2002','_17_09_2002','_18_09_2002','_19_09_2002','_20_09_2002',
                                                         '_21_09_2002','_22_09_2002','_23_09_2002','_24_09_2002','_25_09_2002',
                                                         '_26_09_2002','_27_09_2002','_28_09_2002','_29_09_2002','_30_09_2002'].mean()

In [ ]:
Sep02_av['avg'] = Sep02_av[['_01_09_2002','_02_09_2002','_03_09_2002','_04_09_2002','_05_09_2002',
                            '_06_09_2002','_07_09_2002','_08_09_2002','_09_09_2002','_10_09_2002',
                            '_11_09_2002','_12_09_2002','_13_09_2002','_14_09_2002','_15_09_2002',
                            '_16_09_2002','_17_09_2002','_18_09_2002','_19_09_2002','_20_09_2002',
                            '_21_09_2002','_22_09_2002','_23_09_2002','_24_09_2002','_25_09_2002',
                            '_26_09_2002','_27_09_2002','_28_09_2002','_29_09_2002','_30_09_2002']].mean(axis=1)

In [ ]:
Sep02_av

In [ ]:
Oct02_LAD

In [ ]:
Oct02_av = Oct02_LAD.groupby('ONS_LABEL', as_index=False)['_01_10_2002','_02_10_2002','_03_10_2002','_04_10_2002','_05_10_2002',
                                                         '_06_10_2002','_07_10_2002','_08_10_2002','_09_10_2002','_10_10_2002',
                                                         '_11_10_2002','_12_10_2002','_13_10_2002','_14_10_2002','_15_10_2002',
                                                          '_16_10_2002','_17_10_2002','_18_10_2002','_19_10_2002','_20_10_2002',
                                                         '_21_10_2002','_22_10_2002','_23_10_2002','_24_10_2002','_25_10_2002',
                                                         '_26_10_2002','_27_10_2002','_28_10_2002','_29_10_2002','_30_10_2002',
                                                         '_31_10_2002'].mean()

In [ ]:
Oct02_av['avg'] = Oct02_av[['_01_10_2002','_02_10_2002','_03_10_2002','_04_10_2002','_05_10_2002','_06_10_2002','_07_10_2002',
                            '_08_10_2002','_09_10_2002','_10_10_2002','_11_10_2002','_12_10_2002','_13_10_2002','_14_10_2002',
                            '_15_10_2002','_16_10_2002','_17_10_2002','_18_10_2002','_19_10_2002','_20_10_2002','_21_10_2002',
                            '_22_10_2002','_23_10_2002','_24_10_2002','_25_10_2002','_26_10_2002','_27_10_2002','_28_10_2002',
                            '_29_10_2002','_30_10_2002','_31_10_2002']].mean(axis=1)

In [ ]:
Oct02_av

In [ ]:
Sep02_av = Sep02_LAD.groupby('ONS_LABEL', as_index=False)[].mean()

In [ ]:
UV = Apr03.merge(Sep02, how='left', left_index=True, right_index=True)
UV = UV.merge(Oct02, how='left', left_index=True, right_index=True)
UV = UV.merge(Nov02, how='left', left_index=True, right_index=True)
UV = UV.merge(May03, how='left', left_index=True, right_index=True)
UV = UV.merge(Mar03, how='left', left_index=True, right_index=True)
UV = UV.merge(Jun03, how='left', left_index=True, right_index=True)
UV = UV.merge(Jul02, how='left', left_index=True, right_index=True)
UV = UV.merge(Jan03, how='left', left_index=True, right_index=True)
UV = UV.merge(Feb03, how='left', left_index=True, right_index=True)
UV = UV.merge(Dec02, how='left', left_index=True, right_index=True)
UV = UV.merge(Aug02, how='left', left_index=True, right_index=True)

In [ ]:
UV = Apr03.merge(Sep02, how='left', left_index=True, right_index=True )
Apr03.to_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Apr03_district.csv")

In [ ]:
Apr03

In [ ]:
Sep02 = Sep02.set_index('LABEL')
Sep02 = Sep02.merge(postcode, how='left', left_index=True, right_index=True )
Sep02.to_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Sep02_district.csv")

In [ ]:
Oct02 = Oct02.set_index('LABEL')
Oct02 = Oct02.merge(postcode, how='left', left_index=True, right_index=True )
Oct02.to_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Oct02_district.csv")

In [ ]:
Nov02 = Nov02.set_index('LABEL')
Nov02 = Nov02.merge(postcode, how='left', left_index=True, right_index=True )
Nov02.to_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Nov02_district.csv")

In [ ]:
May03 = May03.set_index('LABEL')
May03 = May03.merge(postcode, how='left', left_index=True, right_index=True )
May03.to_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\May03_district.csv")

In [ ]:
Mar03 = Mar03.set_index('LABEL')
Mar03 = Mar03.merge(postcode, how='left', left_index=True, right_index=True )
Mar03.to_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Mar03_district.csv")

In [ ]:
Jun03 = Jun03.set_index('LABEL')
Jun03 = Jun03.merge(postcode, how='left', left_index=True, right_index=True )
Jun03.to_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Jun03_district.csv")

In [ ]:
Jul02 = Jul02.set_index('LABEL')
Jul02 = Jul02.merge(postcode, how='left', left_index=True, right_index=True )
Jul02.to_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Jul02_district.csv")

In [ ]:
Jan03 = Jan03.set_index('LABEL')
Jan03 = Jan03.merge(postcode, how='left', left_index=True, right_index=True )
Jan03.to_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Jan03_district.csv")

In [ ]:
Feb03 = Feb03.set_index('LABEL')
Feb03 = Feb03.merge(postcode, how='left', left_index=True, right_index=True )
Feb03.to_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Feb03_district.csv")

In [ ]:
Dec02 = Dec02.set_index('LABEL')
Dec02 = Dec02.merge(postcode, how='left', left_index=True, right_index=True )
Dec02.to_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Dec02_district.csv")

In [ ]:
Aug02 = Aug02.set_index('LABEL')
Aug02 = Aug02.merge(postcode, how='left', left_index=True, right_index=True )
Aug02.to_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Aug02_district.csv")

In [ ]:
files = glob.glob(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\*.csv")

In [ ]:
files

In [ ]:
postcode = pd.read_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\Postcodes\postcode_district_4.csv")

In [ ]:
postcode

In [ ]:
postcode = postcode.rename(columns={'District':'LABEL'})
postcode = postcode.set_index('LABEL')

In [ ]:
for file in files: 
    UV = pd.read_csv(r'{fname}'.format(fname=file), header=None)
    UV = UV.set_index('LABEL')
    UV = pd.merge(postcode, how='left', left_index=True, right_index=True)
    UV.to_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\{fname}_district_d.csv".format(fname=os.path.basename(file)[0:5]))