In [1]:
import pandas as pd
import numpy as np
import glob
import os

- Read in each UV dataset and merge with postcode district files- to get Easting and Northing for each Postcode centroid

In [27]:
d4 = pd.read_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\Postcodes\d4_centroid_LAD.csv")

In [28]:
d4 = d4[['District', 'ONS_LABEL', 'NAME']]

In [30]:
d4 = d4.rename(columns={'District':'LABEL'})
d4 = d4.set_index('LABEL')

In [31]:
d4

      ONS_LABEL                      NAME
LABEL
AL1 1      26UG                St. Albans
AL1 2      26UG                St. Albans
AL1 3      26UG                St. Albans
AL1 4      26UG                St. Albans
AL1 5      26UG                St. Albans
AL1 9      26UG                St. Albans
AL100      26UL           Welwyn Hatfield
AL108      26UL           Welwyn Hatfield
AL109      26UL           Welwyn Hatfield
AL2 1      26UG                St. Albans
AL2 2      26UG                St. Albans
AL2 3      26UG                St. Albans
AL3 4      26UG                St. Albans
AL3 5      26UG                St. Albans
AL3 6      26UG                St. Albans
AL3 7      26UG                St. Albans
AL3 8      26UC                   Dacorum
AL4 0      26UG                St. Albans
AL4 8      26UG                St. Albans
AL4 9      26UG                St. Albans
AL5 1      26UG                St. Albans
AL5 2      26UG                St. Albans
AL5 3      26UG                St. Albans
AL5 4      26UG                St. Albans
AL5 5      26UG                St. Albans
AL5 9      26UG                St. Albans
AL6 0      26UL           Welwyn Hatfield
AL6 9      26UL           Welwyn Hatfield
AL7 1      26UL           Welwyn Hatfield
AL7 2      26UL           Welwyn Hatfield
...         ...                       ...
YO422      00FB  East Riding of Yorkshire
YO424      00FB  East Riding of Yorkshire
YO429      00FB  East Riding of Yorkshire
YO433      00FB  East Riding of Yorkshire
YO434      00FB  East Riding of Yorkshire
YO519      36UD                 Harrogate
YO606      36UF                   Ryedale
YO607      36UF                   Ryedale
YO611      36UC                 Hambleton
YO612      36UC                 Hambleton
YO613      36UC                 Hambleton
YO614      36UC                 Hambleton
YO624      36UF                   Ryedale
YO625      36UF                   Ryedale
YO626      36UF                   Ryedale
YO627      36UF                   Ryedale
YO7 1      36UC                 Hambleton
YO7 2      36UC                 Hambleton
YO7 3      36UC                 Hambleton
YO7 4      36UC                 Hambleton
YO7 9      36UC                 Hambleton
YO8 1      36UH                     Selby
YO8 3      36UH                     Selby
YO8 4      36UH                     Selby
YO8 5      36UH                     Selby
YO8 6      36UH                     Selby
YO8 8      36UH                     Selby
YO8 9      36UH                     Selby
YO901      00FF                   York UA
YO911      00FF                   York UA

[8570 rows x 2 columns]

In [32]:
Apr03 = pd.read_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Apr03.csv")
Sep02 = pd.read_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Sep02.csv")
Oct02 = pd.read_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Oct02.csv")
Nov02 = pd.read_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Nov02.csv")
May03 = pd.read_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\May03.csv")
Mar03 = pd.read_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Mar03.csv")
Jun03 = pd.read_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Jun03.csv")
Jul02 = pd.read_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Jul02.csv")
Jan03 = pd.read_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Jan03.csv")
Feb03 = pd.read_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Feb03.csv")
Dec02 = pd.read_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Dec02.csv")
Aug02 = pd.read_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Aug02.csv")

In [33]:
Apr03 = Apr03.set_index('LABEL')
Sep02 = Sep02.set_index('LABEL')
Oct02 = Oct02.set_index('LABEL')
Nov02 = Nov02.set_index('LABEL')
May03 = May03.set_index('LABEL')
Mar03 = Mar03.set_index('LABEL')
Jun03 = Jun03.set_index('LABEL')
Jul02 = Jul02.set_index('LABEL')
Jan03 = Jan03.set_index('LABEL')
Feb03 = Feb03.set_index('LABEL')
Dec02 = Dec02.set_index('LABEL')
Aug02 = Aug02.set_index('LABEL')

In [34]:
Apr03_LAD = Apr03.merge(d4, how='left', left_index=True, right_index=True)
Sep02_LAD = Sep02.merge(d4, how='left', left_index=True, right_index=True)
Oct02_LAD = Oct02.merge(d4, how='left', left_index=True, right_index=True)
Nov02_LAD = Nov02.merge(d4, how='left', left_index=True, right_index=True)
May03_LAD = May03.merge(d4, how='left', left_index=True, right_index=True)
Mar03_LAD = Mar03.merge(d4, how='left', left_index=True, right_index=True)
Jun03_LAD = Jun03.merge(d4, how='left', left_index=True, right_index=True)
Jul02_LAD = Jul02.merge(d4, how='left', left_index=True, right_index=True)
Jan03_LAD = Jan03.merge(d4, how='left', left_index=True, right_index=True)
Feb03_LAD = Feb03.merge(d4, how='left', left_index=True, right_index=True)
Dec02_LAD = Dec02.merge(d4, how='left', left_index=True, right_index=True)
Aug02_LAD = Aug02.merge(d4, how='left', left_index=True, right_index=True)

In [35]:
Apr03_LAD

,FID,Shape,SECTORS,AREA,NAME_x,OTHER,_01_04_2002,_02_04_2002,_03_04_2002,_04_04_2002,...,_24_04_2002,_25_04_2002,_26_04_2002,_27_04_2002,_28_04_2002,_29_04_2002,_30_04_2002,_01_05_2002,ONS_LABEL,NAME_y
LABEL,,,,,,,,,,,,,,,,,,,,,
AL1 1,7020,Polygon,NaN,NaN,NaN,NaN,680.421936,1808.570801,2375.839355,2686.432129,...,1240.404419,2256.449707,2587.559082,2608.122559,1696.477417,3392.354736,3500.801514,61.891972,26UG,St. Albans
AL1 2,7019,Polygon,NaN,NaN,NaN,NaN,711.289551,1743.109985,2343.907227,2692.818604,...,1261.160278,2272.947998,2393.837891,2678.905518,1698.606201,3323.700684,3507.719971,60.295368,26UG,St. Albans
AL1 3,8933,Polygon,NaN,NaN,NaN,NaN,709.855225,1746.151733,2345.391113,2692.521729,...,1260.195801,2272.181152,2402.839355,2675.616455,1698.507202,3326.890869,3507.398682,60.369556,26UG,St. Albans
AL1 4,8934,Polygon,NaN,NaN,NaN,NaN,666.508728,1838.076294,2390.232422,2683.553467,...,1231.048950,2249.013184,2674.876221,2576.218262,1695.517822,3423.299561,3497.683105,62.611618,26UG,St. Albans
AL1 5,7021,Polygon,NaN,NaN,NaN,NaN,662.054382,1847.522583,2394.840332,2682.631836,...,1228.053833,2246.632568,2702.831299,2566.003906,1695.210693,3433.206787,3496.684570,62.842014,26UG,St. Albans
AL100,4564,Polygon,NaN,NaN,NaN,NaN,602.842224,1906.113403,2158.146240,2671.475098,...,1151.165039,2218.596924,2608.911865,2450.935791,1759.276489,3511.788574,3428.916260,65.239655,26UL,Welwyn Hatfield
AL108,7026,Polygon,NaN,NaN,NaN,NaN,571.465454,1935.074585,2200.611328,2678.534668,...,1115.390869,2227.239258,2635.725830,2405.154297,1810.989502,3515.859619,3437.013184,66.000000,26UL,Welwyn Hatfield
AL109,7024,Polygon,NaN,NaN,NaN,NaN,573.969177,1846.938721,2281.615234,2682.931396,...,1164.806030,2223.695801,2714.468994,2441.397949,1742.491577,3361.770996,3448.209473,65.406021,26UL,Welwyn Hatfield
AL2 1,7022,Polygon,NaN,NaN,NaN,NaN,626.809387,2039.657471,2283.461182,2689.486084,...,1431.870239,2278.687744,2538.588379,2587.447510,1824.511108,3428.770752,3414.400635,62.251381,26UG,St. Albans
AL2 2,4556,Polygon,NaN,NaN,NaN,NaN,666.906555,1999.354370,2271.137939,2697.100098,...,1448.261353,2296.010254,2332.578857,2631.947998,1816.701660,3314.991699,3453.510986,61.720463,26UG,St. Albans
AL2 3,2965,Polygon,NaN,NaN,NaN,NaN,690.475403,1735.054932,2221.262451,2710.637207,...,1350.936523,2295.483398,2305.296631,2665.763184,1731.979004,3100.045166,3405.414795,60.038033,26UG,St. Albans
AL3 4,7018,Polygon,NaN,NaN,NaN,NaN,716.999207,1730.957886,2337.973877,2694.002441,...,1264.998657,2276.002930,2358.008789,2692.002441,1698.999756,3310.969482,3508.978516,59.999866,26UG,St. Albans
AL3 5,7023,Polygon,NaN,NaN,NaN,NaN,716.462769,1732.139282,2338.555664,2693.888916,...,1264.638794,2275.712891,2361.371582,2690.768066,1698.962891,3312.194824,3508.879639,60.027786,26UG,St. Albans
AL3 6,4558,Polygon,NaN,NaN,NaN,NaN,700.164368,1591.711670,2269.324951,2695.525879,...,1256.049683,2273.203125,2489.762695,2767.131348,1615.500977,3290.313965,3459.253662,59.112045,26UG,St. Albans
AL3 7,4566,Polygon,NaN,NaN,NaN,NaN,753.970398,1465.800537,2180.625000,2709.270508,...,1191.485474,2285.671875,2687.229736,2964.160156,1543.541138,3493.028076,3333.960938,58.369961,26UG,St. Albans
AL3 8,2790,Polygon,NaN,NaN,NaN,NaN,786.273804,1775.852417,2279.989502,2719.365723,...,1046.316040,2251.742676,2963.183350,3047.558350,1526.805786,3748.363037,2908.574707,61.295498,26UC,Dacorum
AL4 0,4559,Polygon,NaN,NaN,NaN,NaN,612.975891,1873.584717,2341.204346,2683.468750,...,1188.789063,2236.676514,2711.228516,2487.026123,1734.659058,3407.685303,3471.029541,64.468857,26UG,St. Albans
AL4 8,4570,Polygon,NaN,NaN,NaN,NaN,642.918762,1496.605957,2299.910400,2642.643555,...,1270.020874,2203.647461,2955.381104,2873.505371,1431.702271,3206.468018,3493.878418,57.809124,26UG,St. Albans
AL4 9,4560,Polygon,NaN,NaN,NaN,NaN,649.792236,1610.187866,2364.641846,2668.456055,...,1245.605591,2225.511963,2918.352051,2720.153076,1496.659912,3374.046143,3516.794189,60.284367,26UG,St. Albans
AL5 1,7028,Polygon,NaN,NaN,NaN,NaN,664.828125,1581.140625,2324.605469,2675.697266,...,1248.738281,2239.611328,2772.884766,2905.316406,1416.828125,3459.708984,3518.433594,58.173828,26UG,St. Albans
AL5 2,4567,Polygon,NaN,NaN,NaN,NaN,670.813416,1599.140381,2315.645996,2679.523193,...,1245.849243,2245.662598,2715.366211,2932.109863,1422.551880,3489.632813,3513.367188,58.000000,26UG,St. Albans
AL5 3,4568,Polygon,NaN,NaN,NaN,NaN,743.274414,1568.053345,2227.920898,2689.487549,...,1131.281738,2244.195313,2825.328125,3096.675781,1511.614258,3639.095947,3326.656982,57.312180,26UG,St. Albans
AL5 4,7029,Polygon,NaN,NaN,NaN,NaN,635.987366,1567.153320,2286.821289,2638.039795,...,1168.747803,2214.432861,2898.403564,3041.876221,1447.287842,3266.304443,3436.525146,56.165966,26UG,St. Albans
AL5 5,4569,Polygon,NaN,NaN,NaN,NaN,653.530884,1585.671509,2303.390381,2659.806885,...,1210.332520,2230.676758,2800.939453,2982.423096,1433.317993,3383.586182,3478.759521,57.140606,26UG,St. Albans
AL6 0,2968,Polygon,NaN,NaN,NaN,NaN,781.678040,1859.452026,2033.578857,2633.631592,...,1409.865967,2143.852295,2578.498779,2683.615967,1573.656494,3472.852051,3392.235107,62.066498,26UL,Welwyn Hatfield
AL6 9,4573,Polygon,NaN,NaN,NaN,NaN,724.656006,1647.610840,2139.799561,2626.234863,...,1505.479492,2174.950684,2739.972168,2815.092529,1481.610840,3022.771240,3431.315918,59.495968,26UL,Welwyn Hatfield
AL7 1,7032,Polygon,NaN,NaN,NaN,NaN,700.065796,1829.933594,2036.351685,2650.450684,...,1261.054932,2190.582520,2528.934326,2586.780273,1607.175659,3517.273438,3403.406738,62.945057,26UL,Welwyn Hatfield
AL7 1,9822,Polygon,NaN,NaN,NaN,NaN,761.844421,1996.068115,2011.306274,2642.102051,...,1261.889771,2153.849365,2467.155518,2583.440918,1670.624023,3977.274170,3379.196045,62.110210,26UL,Welwyn Hatfield
AL7 2,7033,Polygon,NaN,NaN,NaN,NaN,761.514587,1995.181152,2011.440063,2642.146729,...,1261.885376,2154.045410,2467.485352,2583.458740,1670.285278,3974.818115,3379.325439,62.114670,26UL,Welwyn Hatfield
AL7 3,7031,Polygon,NaN,NaN,NaN,NaN,699.029968,1827.148193,2036.771606,2650.590576,...,1261.040894,2191.198486,2529.969971,2586.836182,1606.111938,3509.561035,3403.812500,62.959053,26UL,Welwyn Hatfield
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YO421,2123,Polygon,NaN,NaN,NaN,NaN,992.520142,1726.048584,1720.411743,2158.256592,...,2083.708740,1370.131592,3243.965088,2245.126953,2010.889282,2635.657227,2794.662598,45.436722,00FB,East Riding of Yorkshire
YO422,5209,Polygon,NaN,NaN,NaN,NaN,1112.874023,1642.750244,1910.250366,2234.467773,...,2093.248291,1396.248291,3292.526123,2087.669922,1996.269531,2789.266357,2809.896484,45.760593,00FB,East Riding of Yorkshire
YO424,2121,Polygon,NaN,NaN,NaN,NaN,1174.477905,1649.289185,1907.142700,2109.402344,...,1977.677979,1393.087036,3307.826416,1847.724731,2088.545898,2840.948242,2543.701416,45.757137,00FB,East Riding of Yorkshire
YO433,3402,Polygon,NaN,NaN,NaN,NaN,1166.890869,1784.150391,1928.738647,2236.624512,...,2027.652588,1406.423096,3236.972900,2289.691162,2094.867188,3023.681396,2698.083008,44.645313,00FB,East Riding of Yorkshire
YO434,2114,Polygon,NaN,NaN,NaN,NaN,1195.108765,1563.583130,2110.390137,2235.143066,...,1953.048340,1391.511108,3287.463867,2289.989990,2156.000977,3038.408691,2597.428467,45.844147,00FB,East Riding of Yorkshire
YO519,3394,Polygon,NaN,NaN,NaN,NaN,810.678650,1770.304199,1695.204346,2074.480957,...,2214.608398,1310.578125,3289.151367,2692.358643,2235.975098,2771.766357,2897.645996,60.683678,36UD,Harrogate
YO606,3400,Polygon,NaN,NaN,NaN,NaN,647.932739,1496.419189,1668.086060,2095.948242,...,2135.210205,1334.131714,3108.512939,2520.468018,1977.035278,3024.155762,3167.852539,52.329853,36UF,Ryedale
YO607,3403,Polygon,NaN,NaN,NaN,NaN,763.760193,1463.258545,1487.739136,1969.873047,...,2142.479492,1326.153320,3104.349854,2542.795898,2138.088135,2852.335938,3053.081299,46.818047,36UF,Ryedale
YO611,3397,Polygon,NaN,NaN,NaN,NaN,812.604187,1746.763428,1567.296265,2198.809082,...,2178.676025,1346.935425,2849.065186,2420.296143,2223.766846,2834.211914,2564.516846,50.062027,36UC,Hambleton
YO611,3399,Polygon,NaN,NaN,NaN,NaN,708.962707,1388.956665,1765.855225,2204.868652,...,2168.257813,1370.182983,2728.026123,2467.111572,2090.983398,3219.332764,3072.973633,52.570652,36UC,Hambleton
YO612,3395,Polygon,NaN,NaN,NaN,NaN,809.790466,1801.458252,1574.613281,2232.989258,...,2168.017334,1298.965942,3217.977051,2547.320557,2267.807617,2778.757568,2740.236816,52.438282,36UC,Hambleton
YO613,3398,Polygon,NaN,NaN,NaN,NaN,816.315369,1628.687622,1589.301514,2165.622559,...,2207.858154,1324.357544,2846.703613,2123.531006,2205.752441,3114.531494,2746.814453,50.186047,36UC,Hambleton
YO614,2120,Polygon,NaN,NaN,NaN,NaN,846.138489,1535.744141,1615.609497,2125.919922,...,2269.676270,1253.184570,2798.077881,2201.594238,2019.343018,3184.850830,2755.168945,51.110344,36UC,Hambleton
YO624,2126,Polygon,NaN,NaN,NaN,NaN,765.458435,1549.544434,1581.939331,2011.864868,...,2186.700195,1279.998291,2957.486572,2362.955322,1859.119873,2979.059814,2936.589600,50.095642,36UF,Ryedale
YO625,1758,Polygon,NaN,NaN,NaN,NaN,1052.173218,1471.530273,1543.159668,1945.932007,...,2440.080811,1302.970581,2984.128906,2344.977783,1957.339355,3022.506592,2510.511475,49.780945,36UF,Ryedale
YO626,2209,Polygon,NaN,NaN,NaN,NaN,943.247437,1790.443604,1656.878052,1863.345093,...,2279.156738,1271.227051,3038.549316,2274.490723,2012.353882,3194.200684,2748.044922,48.424824,36UF,Ryedale
YO627,2204,Polygon,NaN,NaN,NaN,NaN,1009.906006,1512.005371,1510.715942,1854.824219,...,2547.245361,1295.931152,2649.344971,2145.621338,2117.947021,3153.085693,2658.811523,51.186359,36UF,Ryedale
YO7 1,5207,Polygon,NaN,NaN,NaN,NaN,1089.351563,1567.387939,1501.328857,2202.559814,...,2256.997314,1107.177490,3195.213623,2254.770264,2218.604492,2960.886963,2672.323486,49.789074,36UC,Hambleton
YO7 2,2203,Polygon,NaN,NaN,NaN,NaN,1100.465210,1594.012085,1515.686890,2160.423584,...,2402.406982,1102.424683,2930.879883,2150.352051,2176.384521,3051.273682,2409.503418,50.638550,36UC,Hambleton
YO7 3,3396,Polygon,NaN,NaN,NaN,NaN,881.854797,1679.904541,1550.466431,2234.790283,...,2196.215088,1236.917480,3213.854736,2372.898438,2242.513916,2820.374268,2737.167480,56.519405,36UC,Hambleton
YO7 3,9662,Polygon,NaN,NaN,NaN,NaN,1041.000000,1607.000000,1560.000000,2261.000000,...,2186.000000,1163.000000,3217.000000,2353.000000,2223.000000,2842.000000,2727.000000,51.000000,36UC,Hambleton
YO7 4,2202,Polygon,NaN,NaN,NaN,NaN,1077.782471,1632.273315,1403.202515,2263.358887,...,2183.791016,1159.360962,3169.581299,2410.679199,2203.344238,2858.623047,2531.334473,47.525455,36UC,Hambleton
YO7 4,5274,Polygon,NaN,NaN,NaN,NaN,1157.752563,1584.250000,1421.626221,2183.824707,...,2333.897705,1103.887573,3062.651611,2217.732910,2332.140869,3277.032715,2552.970459,48.349487,36UC,Hambleton
YO8 3,3367,Polygon,NaN,NaN,NaN,NaN,1006.907471,1577.294800,2153.194336,1854.123413,...,1892.401001,1320.574341,3232.520264,2444.250244,2078.581787,2671.128174,3041.064453,50.341747,36UH,Selby
YO8 4,5164,Polygon,NaN,NaN,NaN,NaN,1004.214722,1524.188965,2098.960449,1855.390747,...,1863.575073,1312.725342,3287.541016,2515.669189,2081.673828,2716.682861,3033.034180,49.424885,36UH,Selby
YO8 5,5165,Polygon,NaN,NaN,NaN,NaN,1059.489624,1650.745728,1884.042236,1902.468140,...,1867.829834,1325.085205,3360.915283,2256.232422,2105.213135,2855.425781,2884.275635,49.212776,36UH,Selby
YO8 5,5166,Polygon,NaN,NaN,NaN,NaN,1142.246460,1861.993408,1795.438843,1961.502319,...,1896.603638,1382.850342,3377.289063,1720.902222,2219.341797,2949.553467,2683.780518,49.051998,36UH,Selby
YO8 6,3377,Polygon,NaN,NaN,NaN,NaN,1093.347778,1722.173218,1972.270630,2028.721558,...,1866.182129,1352.797607,3430.662598,1917.206665,2357.329346,2815.969238,2589.294922,51.726284,36UH,Selby
YO8 8,2111,Polygon,NaN,NaN,NaN,NaN,1174.145020,1728.530273,2143.779541,1992.573120,...,1830.774780,1263.359253,3417.653809,2336.922852,2304.234863,2781.250977,2803.943115,54.229054,36UH,Selby
YO8 9,3366,Polygon,NaN,NaN,NaN,NaN,1081.773682,1719.020020,2213.600830,2039.145508,...,1830.957275,1252.559570,3252.537109,2372.434326,2144.197998,2725.471680,3071.333740,54.643517,36UH,Selby

In [36]:
Apr03_av = Apr03_LAD.groupby('ONS_LABEL', as_index=False)['_01_04_2002','_02_04_2002','_03_04_2002','_04_04_2002','_05_04_2002',
                                                          '_06_04_2002','_07_04_2002','_08_04_2002','_09_04_2002','_10_04_2002',
                                                          '_11_04_2002','_12_04_2002','_13_04_2002','_14_04_2002','_15_04_2002',
                                                          '_16_04_2002','_17_04_2002','_18_04_2002','_19_04_2002','_20_04_2002',
                                                          '_21_04_2002','_22_04_2002','_23_04_2002','_24_04_2002','_25_04_2002',
                                                          '_26_04_2002','_27_04_2002','_28_04_2002','_29_04_2002','_30_04_2002',
                                                          '_01_05_2002'].mean()

In [44]:
Apr03_av

,ONS_LABEL,_01_04_2002,_02_04_2002,_03_04_2002,_04_04_2002,_05_04_2002,_06_04_2002,_07_04_2002,_08_04_2002,_09_04_2002,...,_23_04_2002,_24_04_2002,_25_04_2002,_26_04_2002,_27_04_2002,_28_04_2002,_29_04_2002,_30_04_2002,_01_05_2002,avg
0,,1065.984311,2362.741647,2311.974867,2298.621981,2536.113568,1766.923706,3009.509179,3064.688409,2400.587838,...,3422.728027,2283.234049,1828.087643,2489.679666,2862.052069,2740.736218,3204.785671,2869.044900,63.634233,2424.491699
1,00AA,596.000000,1892.000000,2252.000000,2685.000000,3235.000000,1244.000000,3059.000000,2720.000000,1387.000000,...,3819.000000,2417.000000,2271.000000,2225.000000,2790.000000,2062.000000,3438.000000,3184.000000,75.000000,2419.064516
2,00AB,693.241142,1571.699569,2304.741016,2632.691650,3217.870768,1419.716309,2902.816358,2608.049447,1261.008358,...,3758.640283,1643.447135,2161.682975,2736.897054,2503.785579,2009.845581,3463.384782,3087.432926,54.447125,2394.010360
3,00AC,659.245331,1636.291287,2282.635129,2685.373555,3224.637596,1389.312495,3067.675208,2805.928143,1654.003455,...,3785.940445,2181.805425,2317.395074,2088.494554,2301.176673,1946.611958,3566.973125,3234.212671,60.327252,2399.463055
4,00AD,797.797558,1725.464925,2256.495814,2630.935140,3226.474202,1391.609194,2950.259142,2561.345269,1326.092697,...,3785.530952,1441.310628,2296.114746,2547.794732,2681.270625,2162.238254,3716.492603,3115.305519,60.671922,2403.300297
5,00AE,591.095586,1653.649525,2460.320765,2688.405180,3215.183249,1330.898215,3099.597620,2824.697452,1700.764699,...,3790.190322,2618.214470,2371.067038,1768.645116,2370.898402,1973.107436,3060.441708,3221.058917,67.645276,2403.526947
6,00AF,689.452016,1655.082345,2266.937807,2675.107792,3228.799561,1232.612151,3044.638644,2690.191588,1442.549874,...,3758.438218,1792.409051,2308.281557,2785.600586,2753.761754,2160.996296,3937.692725,3093.163498,65.876585,2418.116417
7,00AG,632.986395,1862.949978,2354.309239,2681.427722,3239.175955,1262.377290,3055.735323,2748.379904,1492.558509,...,3807.915023,2449.292720,2302.054675,2048.258886,2599.543122,2054.986502,3360.874210,3243.071438,71.425525,2414.660766
8,00AH,512.934068,1911.932225,2234.037664,2691.985611,3228.071496,1126.721620,3098.012333,2825.069336,1297.843931,...,3767.287368,2544.977450,2221.727443,2672.892771,2857.481460,2093.995846,3742.395648,3008.537228,66.862072,2422.873193
9,00AJ,649.744271,1750.142125,2407.200942,2710.417578,3221.368541,1270.016127,3111.910847,2839.639551,1870.815489,...,3740.138609,2759.670661,2293.947886,2154.638634,2524.721177,1874.082017,3075.836614,3162.928418,71.621233,2424.372262
10,00AK,698.667874,1560.535105,2157.840474,2664.961481,3218.428199,1321.840745,3007.147524,2654.014263,1525.438658,...,3777.037078,1367.004532,1985.128883,2670.255206,2376.779557,1856.262916,3825.498779,3264.252741,58.397456,2374.386177
11,00AL,719.105933,1717.566560,2304.626666,2656.270062,3232.806216,1328.038659,2994.660061,2568.522100,1169.071698,...,3793.149807,1366.535984,2293.973686,2579.907057,2729.205800,2106.083273,3388.641304,3035.337530,60.272931,2384.060243
12,00AM,641.825538,1688.564448,2287.298697,2669.594313,3236.327543,1309.558622,3065.691312,2680.546021,1440.819374,...,3815.508329,1931.774672,2172.019916,2401.853253,2530.182861,2125.377385,3727.618061,3243.611713,60.338204,2407.338547
13,00AN,519.993546,1753.092360,2340.410143,2691.172255,3221.870266,1240.418348,3087.213555,2782.572781,1769.040663,...,3791.874349,2702.673584,2341.449056,2126.199571,2538.050456,2078.622091,2771.847968,3189.668104,74.689381,2401.084802
14,00AP,704.283501,1613.348309,2285.013437,2662.741774,3229.216994,1339.233361,3005.297260,2715.288471,1570.811509,...,3805.850830,1734.999620,2137.799767,2527.472872,2296.062256,1979.977736,3739.099638,3299.579966,54.789627,2396.253975
15,00AQ,658.828127,1443.360175,2301.194354,2709.848750,3219.147515,1470.174665,3123.352973,2871.956371,1695.761258,...,3756.138039,2388.059860,2341.628237,2168.496225,2454.983136,1850.729800,3351.060447,3147.587447,63.085271,2405.937203
16,00AR,724.898867,1593.829193,2116.781773,2592.580610,3216.206892,1424.959120,2827.337193,2479.321115,1411.135184,...,3757.920619,2100.610552,2131.972704,2719.484532,2521.679784,2035.422424,3646.020386,3039.095494,61.626123,2409.340135
17,00AS,532.852278,1571.727085,2294.032908,2723.850274,3228.755380,1390.088387,3182.374680,2872.491388,1442.492011,...,3719.400542,2385.398880,2173.611509,2678.483971,2585.412724,1688.507758,3864.242718,2941.442837,67.410886,2409.538979
18,00AT,686.139635,1985.303249,2273.667820,2714.266052,3224.928476,1246.173157,3114.273891,2876.792568,1719.049962,...,3763.778835,2845.141357,2243.399833,2406.720651,2638.761884,1694.017683,3416.638672,3262.094474,68.736336,2439.049854
19,00AU,641.570146,1823.752802,2278.423779,2675.488222,3240.691612,1278.421417,3051.934804,2708.493951,1442.574221,...,3817.014084,2245.094010,2240.539301,2210.027300,2564.570779,2082.179332,3689.285210,3263.576492,65.868853,2416.446320
20,00AW,546.821083,1747.702224,2355.244814,2690.617221,3228.810496,1229.770845,3075.078883,2775.363273,1683.744806,...,3790.879420,2615.661369,2325.021686,2098.873535,2617.155332,2087.880497,2812.760986,3226.230654,75.881638,2398.533176
21,00AX,714.366388,1762.685779,2111.851392,2698.346179,3227.175671,1293.517755,3134.014856,2893.778394,1559.757269,...,3738.291968,2944.221265,2409.468652,2406.644958,2942.206470,2016.975061,3458.444800,3137.747498,59.949477,2441.301310
22,00AY,563.143818,1947.834577,2234.212388,2682.778746,3224.113218,1171.693401,3106.866392,2751.833684,1505.757143,...,3811.163686,2541.306417,2264.595696,2298.048521,2847.910310,2079.534891,3102.391064,3136.885937,69.583063,2418.879516
23,00AZ,593.780943,1841.139677,2274.950448,2674.191382,3232.397542,1213.860291,3077.295182,2673.289404,1238.259497,...,3804.353564,1905.811556,2285.478605,2523.003263,2847.678735,2074.776440,3489.692472,3010.409375,65.521424,2406.615429
24,00BA,553.042796,1740.209438,2300.322126,2696.795492,3229.665353,1110.119286,3163.691616,2802.918806,1684.958019,...,3767.079439,2827.426572,2263.189709,2499.491234,2861.991757,2133.969750,3083.334670,3064.248582,64.202552,2421.250692
25,00BB,695.633014,1595.019170,2265.147079,2656.478696,3230.432660,1397.257866,2931.787024,2605.790878,1369.671074,...,3797.280008,1411.176779,2173.695068,2409.936831,2637.020858,2114.358611,3288.184337,2980.434114,55.080799,2372.685520
26,00BC,650.848596,1501.437765,2243.824516,2638.919253,3226.366126,1377.273894,2930.583401,2543.741073,1334.272456,...,3767.983802,1623.609524,2025.212259,2553.152301,2482.696130,1938.134697,3444.508768,3080.703666,56.641179,2367.666066
27,00BD,682.714500,1947.183621,2162.935348,2705.130742,3221.136239,1252.641294,3116.944137,2860.952754,1688.555230,...,3778.299985,2914.274613,2342.944336,2401.960024,2734.770264,1844.517176,3356.012180,3229.099790,66.506649,2441.884093
28,00BE,581.328677,1900.729486,2217.962628,2679.573712,3230.922169,1243.491383,3071.476224,2704.796412,1353.117691,...,3816.754952,2317.754138,2267.467949,2312.387276,2859.454327,2076.954724,3435.100167,3082.587916,71.494829,2415.682868
29,00BF,585.227707,1739.259599,2230.873380,2705.417514,3234.336614,1070.574302,3146.843872,2859.865046,1520.091020,...,3719.055653,2688.242432,2193.981778,2519.662564,2840.672497,2041.683227,3550.370805,3147.023804,63.461016,2411.975110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,43UE,672.857012,1659.015469,2067.065457,2712.753649,3239.950629,1194.406338,2996.410509,3087.122654,1671.091553,...,3593.596666,2813.167481,2689.591933,3155.757189,2949.279921,2130.446065,3820.834853,3278.903876,59.290936,2477.022977
326,43UF,744.323264,1824.542007,2095.768447,2712.076158,3247.810935,1187.968657,3027.464083,3030.538502,1465.056131,...,3649.150678,2711.838135,2326.312543,3061.119816,2847.079992,1773.959214,3954.024744,3075.814468,58.724200,2444.925472
327,43UG,697.142212,1390.899123,2044.434814,2730.621056,3230.508169,1226.890259,3108.980863,3105.257719,1515.156297,...,3749.792030,2365.060697,2341.278734,2933.053748,2733.386062,2254.061411,3371.302002,2991.124831,57.839740,2402.931253
328,43UH,655.857976,1674.426932,2079.900757,2711.185948,3223.596784,1253.406093,3088.451817,2998.440726,1590.901106,...,3768.104300,2590.531093,2283.267282,2672.094291,2618.307704,1887.247707,3629.463362,3135.101318,61.306222,2412.680670
329,43UJ,694.778805,1495.879471,2280.663544,2738.764755,3228.982407,1166.508919,3296.006561,3193.456558,1414.549049,...,3745.174851,1755.012375,2172.605522,3023.587204,2767.307465,2050.879112,3500.944672,3156.267593,58.969933,2409.609307
330,43UK,647.112366,1545.183881,2057.572082,2691.124076,3241.010202,1197.601519,3006.585746,3034.719796,1645.373797,...,3695.913260,2658.973842,2248.989676,2897.113717,2902.105957,2040.640834,4224.307356,3121.320121,68.867445,2451.582607
331,43UL,740.015747,1592.463303,2298.963409,2747.894104,3233.874603,1249.809830,3206.176254,3215.787247,1694.701935,...,3494.297577,2358.305473,2126.935524,2950.963150,2994.943527,2109.615105,3459.913010,3239.941086,58.191324,2435.935643
332,43UM,638.093384,1558.526355,1834.800195,2738.930469,3233.989795,1182.589172,3128.205860,3177.657641,1497.307446,...,3691.336060,2334.433105,2556.828247,2751.492212,2991.765186,2251.031177,3391.034326,3232.827149,55.528235,2411.897824
333,44UB,1077.522780,1597.284987,2158.512808,2525.700101,2286.535710,1214.290668,3362.922739,3118.793326,1843.324106,...,3244.805758,1352.133000,1901.851628,3180.781813,2704.340370,1389.890954,3463.787297,2495.622258,70.496007,2206.891569
334,44UC,1099.333903,1462.661675,2063.398397,2559.861925,2463.999105,1201.366753,3406.489800,3136.922499,1726.155708,...,3301.345785,1695.095622,2028.320475,3781.251248,2409.234484,1454.943088,3298.764920,2177.575670,72.037653,2231.645267
335,44UD,1084.429570,1686.547293,2551.011910,2649.599278,2792.069475,1280.303423,3453.245937,3103.211251,1675.564314,...,3417.803589,1173.319846,1682.175877,3308.578247,2701.709298,1669.407087,2683.538766,2456.711269,68.615501,2245.948242
336,44UE,931.990058,1864.442585,2120.117319,2628.647912,2774.770808,1314.103023,3374.424223,3144.150062,1820.671011,...,3504.975041,867.498927,1608.803688,3160.802753,2699.198815,1553.909053,3001.203989,2986.972412,69.932831,2225.197761
337,44UF,991.413723,1839.556919,1927.239136,2648.459364,2755.652181,1300.685777,3394.842882,3181.567206,1825.537876,...,3452.408868,688.261651,1844.201742,3381.269803,2688.911418,1367.212504,2950.760973,3099.113390,68.765853,2224.029791
338,45UB,762.016427,1929.873448,2161.171491,2684.067487,3239.432268,1289.848127,2795.923723,3094.648403,1921.827358,...,3681.256313,2951.789306,2536.114328,3388.769671,3239.177351,2323.032610,4384.002790,3306.515416,69.521440,2625.836995
339,45UC,800.026611,2086.920352,1966.669015,2713.781401,3227.164923,1355.991310,2986.341541,3371.561372,2257.177996,...,3586.381824,2725.307827,2477.936303,3221.880546,3208.796538,2073.865391,4245.927932,3183.914109,63.436864,2589.282184
340,45UD,792.958584,1977.367255,1980.420288,2726.445828,3234.132528,1372.794311,3081.984009,3379.736125,1857.405972,...,3467.998996,2565.723402,2200.620355,3210.813897,3467.064534,1897.678433,3836.006510,3027.285875,63.741611,2496.439387
341,45UE,644.329559,1350.726410,2205.962769,2679.890533,3232.903137,1196.754257,2931.228821,3017.535767,1554.877472,...,3604.972351,2717.754212,2399.719635,2999.034271,3125.518158,1953.010101,3934.074524,3303.920746,62.446081,2461.520764
342,45UF,703.692239,1579.293177,2071.888780,2700.949477,3218.642521,1191.059987,2925.570068,3132.831428,2193.088300,...,3529.318043,2763.074406,2376.701703,3228.016501,3215.002642,1927.882798,3687.451718,3295.958668,64.638442,2506.503748
343,45UG,684.470110,1585.594035,2118.432841,2681.206597,3222.411947,1268.062893,2895.352417,3105.432129,1832.502496,...,3618.014106,2823.655138,2237.279636,3009.694078,3110.029989,1832.336527,3896.358548,3282.158434,65.275963,2481.996573
344,45UH,807.661016,2070.360158,2050.994639,2696.251363,3249.201803,1308.118663,2826.747599,3245.092041,1862.712179,...,3696.939657,2982.089945,2632.833150,3200.698649,3166.379618,2272.101705,4316.555623,3170.518331,65.458433,2625.172565
345,46UB,916.776211,2088.620687,2597.160929,2762.153293,3035.669284,1420.240838,3379.434964,3323.891900,1775.127821,...,3470.019056,1956.870849,1801.678419,2568.671143,2589.906670,1744.976000,3017.142537,2372.848829,65.174428,2335.172444
346,46UC,745.875158,2016.826620,2535.208618,2760.193512,2925.637492,1397.151601,3370.941447,3275.977214,1603.494731,...,3542.006144,1794.415675,1899.714798,2474.640829,2521.791840,1710.665883,3119.654816,2355.473292,81.182584,2307.172946
347,46UD,1065.874758,2280.283213,2618.829824,2762.071381,3046.166128,1523.310949,3311.577749,3367.175842,1881.047373,...,3385.119792,2732.416773,2002.911936,2905.866842,2889.975403,1773.284012,2944.388184,2873.392588,76.237164,2424.051429
348,46UF,989.416693,2002.584723,2598.081106,2809.622957,2930.364618,1440.561459,3379.013068,3318.187217,2129.821212,...,3512.718609,2136.789024,1901.114406,2651.529053,2527.653757,1931.041363,3350.523039,3083.223170,65.163168,2388.065992
349,47UB,1036.217178,2013.263906,2127.462458,2503.859233,2434.457255,1334.681539,3270.478190,2996.674418,2169.640467,...,3186.155365,1036.992762,1734.349172,3340.925456,2610.726674,1745.942429,2786.040731,2813.110514,64.530265,2171.147037
350,47UC,1138.505527,2110.704671,2251.368462,2620.009060,2283.088345,1358.222039,3180.740072,2974.397434,2015.211589,...,3349.493029,1303.353329,1873.221076,2368.279704,2555.586751,2213.315911,2742.250231,2303.437154,60.735043,2164.437136
351,47UD,922.007577,1888.996757,2086.222028,2557.279053,2528.036168,1310.103237,3258.258266,3013.743094,1972.459228,...,3296.019357,877.632368,1533.190342,3244.349679,2685.034250,1622.492135,2702.696324,2779.396415,62.526775,2144.432005
352,47UE,1248.863932,1944.230903,2240.298909,2588.870687,2348.302355,1403.096653,3205.420166,2965.847358,1983.409627,...,3365.959744,1210.079549,1914.488471,2576.070285,2201.184380,2252.997559,2356.606744,2491.035428,56.741272,2132.641402
353,47UF,1055.889545,1990.966111,2174.567040,2569.125535,2398.238995,1391.195073,3223.211980,2985.710337,1925.762620,...,3336.157471,1152.874866,1845.349182,2705.656381,2663.978778,2060.682181,2492.923565,2317.359647,62.491466,2147.717040
354,47UG,1054.614707,2146.393710,2148.601696,2494.967529,2143.749745,1369.636541,3211.443892,2955.625311,2058.520463,...,3069.908025,956.800731,2385.251010,3279.618608,2557.863969,2153.902255,2790.804954,2643.519465,58.429617,2180.659413

In [42]:
Apr03_LAD.loc[Apr03_LAD['ONS_LABEL']== '47UG']

,FID,Shape,SECTORS,AREA,NAME_x,OTHER,_01_04_2002,_02_04_2002,_03_04_2002,_04_04_2002,...,_24_04_2002,_25_04_2002,_26_04_2002,_27_04_2002,_28_04_2002,_29_04_2002,_30_04_2002,_01_05_2002,ONS_LABEL,NAME_y
LABEL,,,,,,,,,,,,,,,,,,,,,
DY101,4230,Polygon,NaN,NaN,NaN,NaN,1050.804810,2154.377441,2229.883789,2504.203125,...,799.009705,2432.809814,3303.238525,2585.604736,2100.466064,2729.259521,2676.104980,57.504658,47UG,Wyre Forest
DY102,6215,Polygon,NaN,NaN,NaN,NaN,1085.911743,2184.307129,2229.010986,2520.653564,...,840.566589,2922.681885,3135.749512,2504.721191,2091.784180,2501.158936,2745.388916,58.000000,47UG,Wyre Forest
DY103,4231,Polygon,NaN,NaN,NaN,NaN,1111.110596,2138.227295,2267.239990,2494.458008,...,1079.955078,2825.649658,3209.341797,2552.522461,2076.671387,2497.860596,2783.881592,58.664768,47UG,Wyre Forest
DY104,2825,Polygon,NaN,NaN,NaN,NaN,1120.238159,2098.730469,2278.429443,2490.756348,...,950.864136,2392.514160,3231.892822,2633.794434,2094.071533,2630.017578,2719.830322,59.237133,47UG,Wyre Forest
DY115,2810,Polygon,NaN,NaN,NaN,NaN,1065.874512,2181.927490,2162.534424,2530.086670,...,921.869385,2495.598633,3363.878906,2457.628174,2163.672852,2660.775146,2718.676025,58.960732,47UG,Wyre Forest
DY116,6214,Polygon,NaN,NaN,NaN,NaN,1069.367798,2189.575928,2175.679443,2515.259766,...,854.113159,2669.758057,3324.605957,2475.173828,2113.540283,2618.101807,2685.155518,57.999744,47UG,Wyre Forest
DY121,2809,Polygon,NaN,NaN,NaN,NaN,1016.196350,2163.432861,2041.456909,2477.469727,...,956.213928,1933.796997,3673.580566,2500.258301,2172.248779,3028.509521,2516.497070,57.680782,47UG,Wyre Forest
DY121,4229,Polygon,NaN,NaN,NaN,NaN,1020.366760,2157.724121,1985.262329,2534.712158,...,1016.200073,2412.861572,3885.842285,2272.668945,2517.194092,3062.482422,2473.624268,58.503048,47UG,Wyre Forest
DY122,2808,Polygon,NaN,NaN,NaN,NaN,955.365418,2072.373535,2018.064453,2463.305420,...,906.423767,1877.878662,2807.486328,2830.735840,2136.536377,3265.124756,2471.576660,56.134712,47UG,Wyre Forest
DY138,6211,Polygon,NaN,NaN,NaN,NaN,975.925293,2147.306152,2071.495850,2432.746094,...,857.227722,1905.873047,2869.595703,2815.403320,2082.462646,3250.164795,2503.518311,57.000000,47UG,Wyre Forest
DY9 0,4249,Polygon,NaN,NaN,NaN,NaN,1129.600342,2122.348389,2175.561035,2480.991943,...,1342.364502,2368.338623,3270.592285,2507.992432,2144.276611,2455.399414,2784.460449,63.040215,47UG,Wyre Forest

In [43]:
Apr03_av['avg'] = Apr03_av[['_01_04_2002','_02_04_2002','_03_04_2002','_04_04_2002','_05_04_2002',
                            '_06_04_2002','_07_04_2002','_08_04_2002','_09_04_2002','_10_04_2002',
                            '_11_04_2002','_12_04_2002','_13_04_2002','_14_04_2002','_15_04_2002',
                            '_16_04_2002','_17_04_2002','_18_04_2002','_19_04_2002','_20_04_2002',
                            '_21_04_2002','_22_04_2002','_23_04_2002','_24_04_2002','_25_04_2002',
                            '_26_04_2002','_27_04_2002','_28_04_2002','_29_04_2002','_30_04_2002',
                            '_01_05_2002']].mean(axis=1)

In [14]:
UV = Apr03.merge(Sep02, how='left', left_index=True, right_index=True)
UV = UV.merge(Oct02, how='left', left_index=True, right_index=True)
UV = UV.merge(Nov02, how='left', left_index=True, right_index=True)
UV = UV.merge(May03, how='left', left_index=True, right_index=True)
UV = UV.merge(Mar03, how='left', left_index=True, right_index=True)
UV = UV.merge(Jun03, how='left', left_index=True, right_index=True)
UV = UV.merge(Jul02, how='left', left_index=True, right_index=True)
UV = UV.merge(Jan03, how='left', left_index=True, right_index=True)
UV = UV.merge(Feb03, how='left', left_index=True, right_index=True)
UV = UV.merge(Dec02, how='left', left_index=True, right_index=True)
UV = UV.merge(Aug02, how='left', left_index=True, right_index=True)

MemoryError:

In [ ]:
UV = Apr03.merge(Sep02, how='left', left_index=True, right_index=True )
Apr03.to_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Apr03_district.csv")

In [ ]:
Apr03

In [ ]:
Sep02 = Sep02.set_index('LABEL')
Sep02 = Sep02.merge(postcode, how='left', left_index=True, right_index=True )
Sep02.to_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Sep02_district.csv")

In [ ]:
Oct02 = Oct02.set_index('LABEL')
Oct02 = Oct02.merge(postcode, how='left', left_index=True, right_index=True )
Oct02.to_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Oct02_district.csv")

In [ ]:
Nov02 = Nov02.set_index('LABEL')
Nov02 = Nov02.merge(postcode, how='left', left_index=True, right_index=True )
Nov02.to_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Nov02_district.csv")

In [ ]:
May03 = May03.set_index('LABEL')
May03 = May03.merge(postcode, how='left', left_index=True, right_index=True )
May03.to_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\May03_district.csv")

In [ ]:
Mar03 = Mar03.set_index('LABEL')
Mar03 = Mar03.merge(postcode, how='left', left_index=True, right_index=True )
Mar03.to_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Mar03_district.csv")

In [ ]:
Jun03 = Jun03.set_index('LABEL')
Jun03 = Jun03.merge(postcode, how='left', left_index=True, right_index=True )
Jun03.to_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Jun03_district.csv")

In [ ]:
Jul02 = Jul02.set_index('LABEL')
Jul02 = Jul02.merge(postcode, how='left', left_index=True, right_index=True )
Jul02.to_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Jul02_district.csv")

In [ ]:
Jan03 = Jan03.set_index('LABEL')
Jan03 = Jan03.merge(postcode, how='left', left_index=True, right_index=True )
Jan03.to_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Jan03_district.csv")

In [ ]:
Feb03 = Feb03.set_index('LABEL')
Feb03 = Feb03.merge(postcode, how='left', left_index=True, right_index=True )
Feb03.to_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Feb03_district.csv")

In [ ]:
Dec02 = Dec02.set_index('LABEL')
Dec02 = Dec02.merge(postcode, how='left', left_index=True, right_index=True )
Dec02.to_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Dec02_district.csv")

In [ ]:
Aug02 = Aug02.set_index('LABEL')
Aug02 = Aug02.merge(postcode, how='left', left_index=True, right_index=True )
Aug02.to_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\Aug02_district.csv")

In [2]:
files = glob.glob(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\*.csv")

In [3]:
files

['S:\\Projects\\SAHSU_Share\\Diabetes\\Datasets\\UVvitd0203\\Apr03.csv',
 'S:\\Projects\\SAHSU_Share\\Diabetes\\Datasets\\UVvitd0203\\Aug02.csv',
 'S:\\Projects\\SAHSU_Share\\Diabetes\\Datasets\\UVvitd0203\\Dec02.csv',
 'S:\\Projects\\SAHSU_Share\\Diabetes\\Datasets\\UVvitd0203\\Feb03.csv',
 'S:\\Projects\\SAHSU_Share\\Diabetes\\Datasets\\UVvitd0203\\Jan03.csv',
 'S:\\Projects\\SAHSU_Share\\Diabetes\\Datasets\\UVvitd0203\\Jul02.csv',
 'S:\\Projects\\SAHSU_Share\\Diabetes\\Datasets\\UVvitd0203\\Jun03.csv',
 'S:\\Projects\\SAHSU_Share\\Diabetes\\Datasets\\UVvitd0203\\Mar03.csv',
 'S:\\Projects\\SAHSU_Share\\Diabetes\\Datasets\\UVvitd0203\\May03.csv',
 'S:\\Projects\\SAHSU_Share\\Diabetes\\Datasets\\UVvitd0203\\Nov02.csv',
 'S:\\Projects\\SAHSU_Share\\Diabetes\\Datasets\\UVvitd0203\\Oct02.csv',
 'S:\\Projects\\SAHSU_Share\\Diabetes\\Datasets\\UVvitd0203\\Sep02.csv']

In [4]:
postcode = pd.read_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\Postcodes\postcode_district_4.csv")

In [5]:
postcode

        Postcode  Eastings  Northings District
0        AB101AB    394235     806529    AB101
1        AB101AF    394181     806429    AB101
2        AB101AG    394230     806469    AB101
3        AB101AH    394371     806359    AB101
4        AB101AL    394326     806522    AB101
5        AB101AN    394367     806541    AB101
6        AB101AP    394309     806459    AB101
7        AB101AQ    394371     806359    AB101
8        AB101AR    394371     806359    AB101
9        AB101AS    394198     806385    AB101
10       AB101AU    394264     806318    AB101
11       AB101AW    394226     806282    AB101
12       AB101AX    394181     806429    AB101
13       AB101BA    394141     806457    AB101
14       AB101BB    394223     806262    AB101
15       AB101BD    394261     806288    AB101
16       AB101BF    394187     806225    AB101
17       AB101BJ    393602     806136    AB101
18       AB101BL    394216     806398    AB101
19       AB101BR    393236     805730    AB101
20       AB101BS    394344     806374    AB101
21       AB101BU    394169     806326    AB101
22       AB101BW    394251     806376    AB101
23       AB101DB    392813     805762    AB101
24       AB101DQ    393530     806009    AB101
25       AB101DU    394405     802269    AB101
26       AB101FE    393929     806359    AB101
27       AB101FF    394264     806575    AB101
28       AB101FG    394192     806557    AB101
29       AB101FL    394238     806594    AB101
...          ...       ...        ...      ...
1048545  NR325BJ    651734     297051    NR325
1048546  NR325BL    651710     297142    NR325
1048547  NR325BN    651863     297057    NR325
1048548  NR325BP    652382     296928    NR325
1048549  NR325BS    652473     296944    NR325
1048550  NR325BW    652265     296873    NR325
1048551  NR325BX    651724     297733    NR325
1048552  NR325BY    651665     297688    NR325
1048553  NR325DA    653462     296314    NR325
1048554  NR325DB    653373     296463    NR325
1048555  NR325DD    653106     296534    NR325
1048556  NR325DE    652815     296764    NR325
1048557  NR325DF    653740     296271    NR325
1048558  NR325DG    652731     296891    NR325
1048559  NR325DH    652077     294913    NR325
1048560  NR325DJ    652066     294909    NR325
1048561  NR325DL    651780     294797    NR325
1048562  NR325DN    651228     294605    NR325
1048563  NR325DP    651284     293934    NR325
1048564  NR325DQ    652740     295561    NR325
1048565  NR325DW    651081     294276    NR325
1048566  NR325DZ    654224     296470    NR325
1048567  NR325EP    653560     296580    NR325
1048568  NR325EU    653773     296562    NR325
1048569  NR325EX    653822     296668    NR325
1048570  NR325EY    653878     296617    NR325
1048571  NR325EZ    653758     296638    NR325
1048572  NR325HA    653481     296641    NR325
1048573  NR325HB    653835     296743    NR325
1048574  NR325HD    654282     296890    NR325

[1048575 rows x 4 columns]

In [ ]:
postcode = postcode.rename(columns={'District':'LABEL'})
postcode = postcode.set_index('LABEL')

In [ ]:
for file in files: 
    UV = pd.read_csv(r'{fname}'.format(fname=file), header=None)
    UV = UV.set_index('LABEL')
    UV = pd.merge(postcode, how='left', left_index=True, right_index=True)
    UV.to_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\UVvitd0203\{fname}_district_d.csv".format(fname=os.path.basename(file)[0:5]))