- Code to split the Zone centroid column in the 'Wessex Water Nitrate data for Imperial College London_AS file' into:
    - prefix
    - easting 
    - northing 
    
So that the easting and northing values incorporating the prefix can be calculated.

In [63]:
#set libraries
import pandas as pd
import numpy as np

In [64]:
# Read in the wessex water dataset 
Wessex = pd.read_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\Drinking_water\Wessex\Wessex Water Nitrate data for Imperial College London_AS.csv")

In [65]:
Wessex

,Zone name,Zone centroid,Date and time of sample,Qualifier,Result,Units,Parameter
0,ZONE 1 PORLOCK,SS8800046000,04/02/2002 09:10,,8.18,mg/l,NITRATE
1,ZONE 1 PORLOCK,SS8800046000,12/02/2002 09:00,,1.09,mg/l,NITRATE
2,ZONE 1 PORLOCK,SS8800046000,18/02/2002 08:50,,1.09,mg/l,NITRATE
3,ZONE 1 PORLOCK,SS8800046000,25/02/2002 09:35,,1.31,mg/l,NITRATE
4,ZONE 1 PORLOCK,SS8800046000,04/03/2002 09:15,,1.11,mg/l,NITRATE
5,ZONE 1 PORLOCK,SS8800046000,11/03/2002 08:50,,1.26,mg/l,NITRATE
6,ZONE 1 PORLOCK,SS8800046000,18/03/2002 09:00,,1.03,mg/l,NITRATE
7,ZONE 1 PORLOCK,SS8800046000,25/03/2002 08:45,,1.13,mg/l,NITRATE
8,ZONE 1 PORLOCK,SS8800046000,02/04/2002 00:00,<,1.00,mg/l,NITRATE
9,ZONE 1 PORLOCK,SS8800046000,09/04/2002 09:10,<,1.00,mg/l,NITRATE
10,ZONE 1 PORLOCK,SS8800046000,15/04/2002 09:10,<,1.00,mg/l,NITRATE
11,ZONE 1 PORLOCK,SS8800046000,22/04/2002 08:50,,10.10,mg/l,NITRATE
12,ZONE 1 PORLOCK,SS8800046000,29/04/2002 09:05,<,1.00,mg/l,NITRATE
13,ZONE 1 PORLOCK,SS8800046000,07/05/2002 09:35,<,1.00,mg/l,NITRATE
14,ZONE 1 PORLOCK,SS8800046000,13/05/2002 09:30,<,1.00,mg/l,NITRATE
15,ZONE 1 PORLOCK,SS8800046000,21/05/2002 08:45,<,1.00,mg/l,NITRATE
16,ZONE 1 PORLOCK,SS8800046000,29/05/2002 10:00,<,1.00,mg/l,NITRATE
17,ZONE 1 PORLOCK,SS8800046000,07/06/2002 09:00,<,1.00,mg/l,NITRATE
18,ZONE 1 PORLOCK,SS8800046000,12/06/2002 12:55,<,1.00,mg/l,NITRATE
19,ZONE 1 PORLOCK,SS8800046000,18/06/2002 11:00,<,1.00,mg/l,NITRATE
20,ZONE 1 PORLOCK,SS8800046000,24/06/2002 09:10,<,1.00,mg/l,NITRATE
21,ZONE 1 PORLOCK,SS8800046000,04/07/2002 09:40,<,1.00,mg/l,NITRATE
22,ZONE 1 PORLOCK,SS8800046000,10/07/2002 11:15,<,1.00,mg/l,NITRATE
23,ZONE 1 PORLOCK,SS8800046000,16/07/2002 09:45,<,1.00,mg/l,NITRATE
24,ZONE 1 PORLOCK,SS8800046000,22/07/2002 08:30,<,1.00,mg/l,NITRATE
25,ZONE 1 PORLOCK,SS8800046000,01/08/2002 09:10,<,1.00,mg/l,NITRATE
26,ZONE 1 PORLOCK,SS8800046000,07/08/2002 09:00,<,1.00,mg/l,NITRATE
27,ZONE 1 PORLOCK,SS8800046000,13/08/2002 08:20,<,1.00,mg/l,NITRATE
28,ZONE 1 PORLOCK,SS8800046000,19/08/2002 08:55,<,1.00,mg/l,NITRATE
29,ZONE 1 PORLOCK,SS8800046000,29/08/2002 12:55,<,1.00,mg/l,NITRATE
...,...,...,...,...,...,...,...
50449,ZONE 155 BRINKWORTH,SU0100086000,04/05/2010 09:50,,8.43,mg/l,NITRATE
50450,ZONE 155 BRINKWORTH,SU0100086000,29/07/2010 10:15,,11.20,mg/l,NITRATE
50451,ZONE 155 BRINKWORTH,SU0100086000,22/01/2011 09:45,,8.65,mg/l,NITRATE
50452,ZONE 155 BRINKWORTH,SU0100086000,28/06/2011 10:10,,9.66,mg/l,NITRATE
50453,ZONE 155 BRINKWORTH,SU0100086000,17/10/2011 09:35,,9.24,mg/l,NITRATE
50454,ZONE 155 BRINKWORTH,SU0100086000,09/01/2012 11:55,,7.26,mg/l,NITRATE
50455,ZONE 155 BRINKWORTH,SU0100086000,07/02/2012 09:53,,6.88,mg/l,NITRATE
50456,ZONE 155 BRINKWORTH,SU0100086000,29/05/2012 09:21,,7.34,mg/l,NITRATE
50457,ZONE 155 BRINKWORTH,SU0100086000,16/10/2012 10:19,,8.34,mg/l,NITRATE
50458,ZONE 155 BRINKWORTH,SU0100086000,08/01/2013 09:37,,25.10,mg/l,NITRATE
50459,ZONE 155 BRINKWORTH,SU0100086000,28/05/2013 09:32,,8.79,mg/l,NITRATE
50460,ZONE 155 BRINKWORTH,SU0100086000,23/07/2013 09:27,,10.40,mg/l,NITRATE
50461,ZONE 155 BRINKWORTH,SU0100086000,18/10/2013 09:43,,8.98,mg/l,NITRATE
50462,ZONE 155 BRINKWORTH,SU0100086000,07/01/2014 09:33,,7.38,mg/l,NITRATE
50463,ZONE 155 BRINKWORTH,SU0100086000,04/02/2014 09:15,,11.80,mg/l,NITRATE
50464,ZONE 155 BRINKWORTH,SU0100086000,27/05/2014 08:05,,8.31,mg/l,NITRATE
50465,ZONE 155 BRINKWORTH,SU0100086000,16/09/2014 09:15,,8.57,mg/l,NITRATE
50466,ZONE 155 BRINKWORTH,SU0100086000,22/01/2015 08:10,,7.26,mg/l,NITRATE
50467,ZONE 155 BRINKWORTH,SU0100086000,19/03/2015 10:21,,21.60,mg/l,NITRATE
50468,ZONE 155 BRINKWORTH,SU0100086000,14/05/2015 10:04,,9.58,mg/l,NITRATE
50469,ZONE 155 BRINKWORTH,SU0100086000,01/10/2015 08:15,,8.30,mg/l,NITRATE
50470,ZONE 155 BRINKWORTH,SU0100086000,21/01/2016 07:25,,4.88,mg/l,NITRATE
50471,ZONE 155 BRINKWORTH,SU0100086000,17/03/2016 11:43,,7.82,mg/l,NITRATE
50472,ZONE 155 BRINKWORTH,SU0100086000,13/05/2016 08:20,,8.66,mg/l,NITRATE
50473,ZONE 155 BRINKWORTH,SU0100086000,01/09/2016 09:36,,8.65,mg/l,NITRATE
50474,ZONE 155 BRINKWORTH,SU0100086000,21/10/2008 09:15,,9.25,mg/l,NITRATE
50475,ZONE 155 BRINKWORTH,SU0100086000,16/10/2009 09:05,,9.29,mg/l,NITRATE
50476,ZONE 155 BRINKWORTH,SU0100086000,20/09/2010 12:40,,9.18,mg/l,NITRATE
50477,ZONE 155 BRINKWORTH,SU0100086000,08/02/2011 09:55,,8.38,mg/l,NITRATE
50478,ZONE 155 BRINKWORTH,SU0100086000,09/08/2016 09:10,,11.90,mg/l,NITRATE

In [66]:
# insert columns for the split variables
Wessex.insert(2, 'Prefix', 'NaN')
Wessex.insert(3, 'E_Short', 'NaN')
Wessex.insert(4, 'N_Short', 'NaN')

In [71]:
#Strip out the relevant information
if len(Wessex['Zone centroid'])>8: 
    Wessex['Prefix']= Wessex['Zone centroid'].str[:2]
    Wessex['E_Short']=Wessex['Zone centroid'].str[2:7]
    Wessex['N_Short']=Wessex['Zone centroid'].str[7:]
elif len(Wessex['Zone centroid'])<8:  
    Wessex['Prefix']= Wessex['Zone centroid'].str[:2]
    Wessex['E_Short']=Wessex['Zone centroid'].str[2:5]
    Wessex['N_Short']=Wessex['Zone centroid'].str[5:]

In [ ]:
# create a new column filling in digits for prefix
Wessex.insert(5, 'Prefix_E', 'NaN')
Wessex.insert(6, 'Prefix_N', 'NaN')

In [68]:
#Specify the prefix value for both easting based on the prefix code
conditions= [
    (Wessex['Prefix'] == 'SS'), 
    (Wessex['Prefix'] == 'SU'), 
    (Wessex['Prefix'] == 'ST'), 
    (Wessex['Prefix'] == 'SY'), 
    (Wessex['Prefix'] == 'SZ'), 
]
choices = [200000, 400000, 300000, 300000, 400000]
Wessex['Prefix_E'] = np.select(conditions, choices, default= 'NaN')

In [69]:
#Specify the prefix value for both northing based on the prefix code
conditions= [
    (Wessex['Prefix'] == 'SS'), 
    (Wessex['Prefix'] == 'SU'), 
    (Wessex['Prefix'] == 'ST'), 
    (Wessex['Prefix'] == 'SY'), 
    (Wessex['Prefix'] == 'SZ'), 
]
choices = [100000, 100000, 100000, 0, 0]
Wessex['Prefix_N'] = np.select(conditions, choices, default= 'NaN')

In [70]:
#check the values 
Wessex.to_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\Drinking_water\Wessex\Wessex_Water_Check3.csv")