- Code to split the Zone centroid column in the 'Wessex Water Nitrate data for Imperial College London_AS file' into:
    - prefix
    - easting 
    - northing 
    
So that the easting and northing values incorporating the prefix can be calculated.

In [1]:
#set libraries
import pandas as pd
import numpy as np

In [2]:
# Read in the wessex water dataset 
Wessex = pd.read_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\Drinking_water\Wessex\Wessex Water Nitrate data for Imperial College London_AS.csv")

In [3]:
Wessex

,Zone name,Zone centroid,Date and time of sample,Qualifier,Result,Units,Parameter
0,ZONE 1 PORLOCK,SS8800046000,04/02/2002 09:10,,8.18,mg/l,NITRATE
1,ZONE 1 PORLOCK,SS8800046000,12/02/2002 09:00,,1.09,mg/l,NITRATE
2,ZONE 1 PORLOCK,SS8800046000,18/02/2002 08:50,,1.09,mg/l,NITRATE
3,ZONE 1 PORLOCK,SS8800046000,25/02/2002 09:35,,1.31,mg/l,NITRATE
4,ZONE 1 PORLOCK,SS8800046000,04/03/2002 09:15,,1.11,mg/l,NITRATE
5,ZONE 1 PORLOCK,SS8800046000,11/03/2002 08:50,,1.26,mg/l,NITRATE
6,ZONE 1 PORLOCK,SS8800046000,18/03/2002 09:00,,1.03,mg/l,NITRATE
7,ZONE 1 PORLOCK,SS8800046000,25/03/2002 08:45,,1.13,mg/l,NITRATE
8,ZONE 1 PORLOCK,SS8800046000,02/04/2002 00:00,<,1.00,mg/l,NITRATE
9,ZONE 1 PORLOCK,SS8800046000,09/04/2002 09:10,<,1.00,mg/l,NITRATE
10,ZONE 1 PORLOCK,SS8800046000,15/04/2002 09:10,<,1.00,mg/l,NITRATE
11,ZONE 1 PORLOCK,SS8800046000,22/04/2002 08:50,,10.10,mg/l,NITRATE
12,ZONE 1 PORLOCK,SS8800046000,29/04/2002 09:05,<,1.00,mg/l,NITRATE
13,ZONE 1 PORLOCK,SS8800046000,07/05/2002 09:35,<,1.00,mg/l,NITRATE
14,ZONE 1 PORLOCK,SS8800046000,13/05/2002 09:30,<,1.00,mg/l,NITRATE
15,ZONE 1 PORLOCK,SS8800046000,21/05/2002 08:45,<,1.00,mg/l,NITRATE
16,ZONE 1 PORLOCK,SS8800046000,29/05/2002 10:00,<,1.00,mg/l,NITRATE
17,ZONE 1 PORLOCK,SS8800046000,07/06/2002 09:00,<,1.00,mg/l,NITRATE
18,ZONE 1 PORLOCK,SS8800046000,12/06/2002 12:55,<,1.00,mg/l,NITRATE
19,ZONE 1 PORLOCK,SS8800046000,18/06/2002 11:00,<,1.00,mg/l,NITRATE
20,ZONE 1 PORLOCK,SS8800046000,24/06/2002 09:10,<,1.00,mg/l,NITRATE
21,ZONE 1 PORLOCK,SS8800046000,04/07/2002 09:40,<,1.00,mg/l,NITRATE
22,ZONE 1 PORLOCK,SS8800046000,10/07/2002 11:15,<,1.00,mg/l,NITRATE
23,ZONE 1 PORLOCK,SS8800046000,16/07/2002 09:45,<,1.00,mg/l,NITRATE
24,ZONE 1 PORLOCK,SS8800046000,22/07/2002 08:30,<,1.00,mg/l,NITRATE
25,ZONE 1 PORLOCK,SS8800046000,01/08/2002 09:10,<,1.00,mg/l,NITRATE
26,ZONE 1 PORLOCK,SS8800046000,07/08/2002 09:00,<,1.00,mg/l,NITRATE
27,ZONE 1 PORLOCK,SS8800046000,13/08/2002 08:20,<,1.00,mg/l,NITRATE
28,ZONE 1 PORLOCK,SS8800046000,19/08/2002 08:55,<,1.00,mg/l,NITRATE
29,ZONE 1 PORLOCK,SS8800046000,29/08/2002 12:55,<,1.00,mg/l,NITRATE
...,...,...,...,...,...,...,...
50448,ZONE 97 POOLE EAST,SZ0400091000,25/09/2003 09:45,,33.90,mg/l,NITRATE
50449,ZONE 97 POOLE EAST,SZ0400091000,29/09/2003 10:00,,33.80,mg/l,NITRATE
50450,ZONE 97 POOLE EAST,SZ0400091000,01/10/2003 09:40,,17.50,mg/l,NITRATE
50451,ZONE 97 POOLE EAST,SZ0400091000,02/10/2003 09:10,,33.00,mg/l,NITRATE
50452,ZONE 97 POOLE EAST,SZ0400091000,07/10/2003 09:35,,33.30,mg/l,NITRATE
50453,ZONE 97 POOLE EAST,SZ0400091000,08/10/2003 12:55,,33.50,mg/l,NITRATE
50454,ZONE 97 POOLE EAST,SZ0400091000,10/10/2003 10:50,,34.90,mg/l,NITRATE
50455,ZONE 97 POOLE EAST,SZ0400091000,13/10/2003 08:35,,34.80,mg/l,NITRATE
50456,ZONE 97 POOLE EAST,SZ0400091000,16/10/2003 08:30,,19.40,mg/l,NITRATE
50457,ZONE 97 POOLE EAST,SZ0400091000,21/10/2003 10:14,,19.20,mg/l,NITRATE
50458,ZONE 97 POOLE EAST,SZ0400091000,23/10/2003 08:10,,34.20,mg/l,NITRATE
50459,ZONE 97 POOLE EAST,SZ0400091000,27/10/2003 10:00,,32.90,mg/l,NITRATE
50460,ZONE 97 POOLE EAST,SZ0400091000,29/10/2003 08:55,,34.10,mg/l,NITRATE
50461,ZONE 97 POOLE EAST,SZ0400091000,30/10/2003 09:30,,17.80,mg/l,NITRATE
50462,ZONE 97 POOLE EAST,SZ0400091000,04/11/2003 10:30,,27.00,mg/l,NITRATE
50463,ZONE 97 POOLE EAST,SZ0400091000,05/11/2003 09:05,,33.30,mg/l,NITRATE
50464,ZONE 97 POOLE EAST,SZ0400091000,07/11/2003 09:40,,35.30,mg/l,NITRATE
50465,ZONE 97 POOLE EAST,SZ0400091000,10/11/2003 08:28,,32.30,mg/l,NITRATE
50466,ZONE 97 POOLE EAST,SZ0400091000,13/11/2003 10:25,,32.60,mg/l,NITRATE
50467,ZONE 97 POOLE EAST,SZ0400091000,18/11/2003 10:05,,31.90,mg/l,NITRATE
50468,ZONE 97 POOLE EAST,SZ0400091000,20/11/2003 09:55,,33.00,mg/l,NITRATE
50469,ZONE 97 POOLE EAST,SZ0400091000,24/11/2003 11:45,,34.20,mg/l,NITRATE
50470,ZONE 97 POOLE EAST,SZ0400091000,26/11/2003 08:30,,35.20,mg/l,NITRATE
50471,ZONE 97 POOLE EAST,SZ0400091000,27/11/2003 10:15,,36.80,mg/l,NITRATE
50472,ZONE 97 POOLE EAST,SZ0400091000,02/12/2003 09:45,,24.90,mg/l,NITRATE
50473,ZONE 97 POOLE EAST,SZ0400091000,03/12/2003 13:15,,36.70,mg/l,NITRATE
50474,ZONE 97 POOLE EAST,SZ0400091000,04/12/2003 11:00,,37.60,mg/l,NITRATE
50475,ZONE 97 POOLE EAST,SZ0400091000,08/12/2003 09:02,,37.70,mg/l,NITRATE
50476,ZONE 97 POOLE EAST,SZ0400091000,11/12/2003 10:14,,37.80,mg/l,NITRATE
50477,ZONE 97 POOLE EAST,SZ0400091000,16/12/2003 09:25,,37.30,mg/l,NITRATE

In [4]:
# insert columns for the split variables
Wessex.insert(2, 'Prefix', 'NaN')
Wessex.insert(3, 'E_Short', 'NaN')
Wessex.insert(4, 'N_Short', 'NaN')

In [5]:
Wessex= Wessex.rename(columns={'Zone centroid':'Zone_centroid'})

In [6]:
mask = (Wessex['Zone_centroid'].str.len()<9)
mask1 = (Wessex['Zone_centroid'].str.len()>9)

In [7]:
Test1 = Wessex.loc[mask]

In [8]:
Test2 = Wessex.loc[mask1]

In [57]:
Test1['Prefix']= Test1['Zone_centroid'].str[:2]
Test1['E_Short']=Test1['Zone_centroid'].str[2:5]+'00'
Test1['N_Short']=Test1['Zone_centroid'].str[5:]+'00'

C:\Users\ansheeha\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\ansheeha\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\ansheeha\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
Test2['Prefix']= Test2['Zone_centroid'].str[:2]
Test2['E_Short']=Test2['Zone_centroid'].str[2:7]
Test2['N_Short']=Test2['Zone_centroid'].str[7:]

C:\Users\ansheeha\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\ansheeha\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\ansheeha\AppData\Local\Continuum\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [58]:
Test1

,Zone name,Zone_centroid,Prefix,E_Short,N_Short,Date and time of sample,Qualifier,Result,Units,Parameter
48216,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,04/02/2002 10:52,,29.10,mg/l,NITRATE
48217,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,14/02/2002 09:15,<,0.01,mg/l,NITRATE
48218,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,20/02/2002 10:30,,27.10,mg/l,NITRATE
48219,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,26/02/2002 09:45,,28.60,mg/l,NITRATE
48220,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,04/03/2002 10:10,,28.90,mg/l,NITRATE
48221,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,20/03/2002 09:00,,28.80,mg/l,NITRATE
48222,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,21/03/2002 12:35,,27.90,mg/l,NITRATE
48223,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,26/03/2002 09:15,,27.40,mg/l,NITRATE
48224,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,02/04/2002 12:15,,27.80,mg/l,NITRATE
48225,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,11/04/2002 12:00,,28.10,mg/l,NITRATE
48226,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,17/04/2002 10:48,,28.00,mg/l,NITRATE
48227,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,23/04/2002 10:00,,28.10,mg/l,NITRATE
48228,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,29/04/2002 10:08,,27.10,mg/l,NITRATE
48229,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,09/05/2002 09:25,,26.30,mg/l,NITRATE
48230,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,15/05/2002 08:40,,27.40,mg/l,NITRATE
48231,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,21/05/2002 09:03,,27.50,mg/l,NITRATE
48232,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,27/05/2002 10:18,,26.90,mg/l,NITRATE
48233,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,06/06/2002 09:37,,27.00,mg/l,NITRATE
48234,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,11/06/2002 08:10,,23.80,mg/l,NITRATE
48235,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,18/06/2002 10:30,,24.00,mg/l,NITRATE
48236,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,24/06/2002 10:08,,24.60,mg/l,NITRATE
48237,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,04/07/2002 08:10,,22.00,mg/l,NITRATE
48238,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,10/07/2002 09:52,,23.50,mg/l,NITRATE
48239,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,17/07/2002 10:52,,23.40,mg/l,NITRATE
48240,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,22/07/2002 10:07,,25.40,mg/l,NITRATE
48241,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,01/08/2002 09:40,,23.50,mg/l,NITRATE
48242,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,07/08/2002 10:10,,24.10,mg/l,NITRATE
48243,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,13/08/2002 11:35,,25.50,mg/l,NITRATE
48244,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,19/08/2002 09:00,,23.40,mg/l,NITRATE
48245,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,29/08/2002 07:30,,25.70,mg/l,NITRATE
...,...,...,...,...,...,...,...,...,...,...
48935,ZONE 95 LYTCHETT MATRAVERS,SY988920,SY,98800,92000,28/08/2015 09:52,,44.00,mg/l,NITRATE
48936,ZONE 95 LYTCHETT MATRAVERS,SY988920,SY,98800,92000,06/10/2015 12:15,,32.80,mg/l,NITRATE
48937,ZONE 95 LYTCHETT MATRAVERS,SY988920,SY,98800,92000,21/10/2015 11:51,,36.10,mg/l,NITRATE
48938,ZONE 95 LYTCHETT MATRAVERS,SY988920,SY,98800,92000,20/11/2015 09:02,,27.80,mg/l,NITRATE
48939,ZONE 95 LYTCHETT MATRAVERS,SY988920,SY,98800,92000,04/01/2016 10:44,,41.70,mg/l,NITRATE
48940,ZONE 95 LYTCHETT MATRAVERS,SY988920,SY,98800,92000,15/01/2016 10:00,,39.70,mg/l,NITRATE
48941,ZONE 95 LYTCHETT MATRAVERS,SY988920,SY,98800,92000,23/02/2016 09:03,,42.00,mg/l,NITRATE
48942,ZONE 95 LYTCHETT MATRAVERS,SY988920,SY,98800,92000,06/04/2016 10:15,,32.70,mg/l,NITRATE
48943,ZONE 95 LYTCHETT MATRAVERS,SY988920,SY,98800,92000,08/04/2016 10:40,,26.50,mg/l,NITRATE
48944,ZONE 95 LYTCHETT MATRAVERS,SY988920,SY,98800,92000,23/05/2016 09:14,,27.70,mg/l,NITRATE
48945,ZONE 95 LYTCHETT MATRAVERS,SY988920,SY,98800,92000,01/07/2016 10:05,,30.40,mg/l,NITRATE
48946,ZONE 95 LYTCHETT MATRAVERS,SY988920,SY,98800,92000,12/07/2016 08:43,,36.50,mg/l,NITRATE
48947,ZONE 95 LYTCHETT MATRAVERS,SY988920,SY,98800,92000,24/08/2016 12:45,,27.60,mg/l,NITRATE
48948,ZONE 95 LYTCHETT MATRAVERS,SY988920,SY,98800,92000,04/10/2016 12:23,,34.70,mg/l,NITRATE
48949,ZONE 95 LYTCHETT MATRAVERS,SY988920,SY,98800,92000,19/10/2016 12:20,,39.10,mg/l,NITRATE
48950,ZONE 95 LYTCHETT MATRAVERS,SY988920,SY,98800,92000,17/11/2016 11:43,,26.30,mg/l,NITRATE
48951,ZONE 95 LYTCHETT MATRAVERS,SY988920,SY,98800,92000,03/10/2008 09:40,,27.00,mg/l,NITRATE
48952,ZONE 95 LYTCHETT MATRAVERS,SY988920,SY,98800,92000,22/07/2015 10:40,,38.30,mg/l,NITRATE
48953,ZONE 95 LYTCHETT MATRAVERS,SY988920,SY,98800,92000,18/04/2002 09:00,<,0.01,mg/l,NITRATE
48954,ZONE 95 LYTCHETT MATRAVERS,SY988920,SY,98800,92000,18/04/2002 09:15,<,0.01,mg/l,NITRATE
48955,ZONE 95 LYTCHETT MATRAVERS,SY988920,SY,98800,92000,18/04/2002 09:25,<,0.01,mg/l,NITRATE
48956,ZONE 95 LYTCHETT MATRAVERS,SY988920,SY,98800,92000,09/09/2003 10:15,,33.50,mg/l,NITRATE
48957,ZONE 95 LYTCHETT MATRAVERS,SY988920,SY,98800,92000,09/09/2003 10:30,,33.80,mg/l,NITRATE
48958,ZONE 95 LYTCHETT MATRAVERS,SY988920,SY,98800,92000,09/09/2003 10:45,,33.60,mg/l,NITRATE
48959,ZONE 95 LYTCHETT MATRAVERS,SY988920,SY,98800,92000,28/04/2009 10:25,,36.00,mg/l,NITRATE
48960,ZONE 95 LYTCHETT MATRAVERS,SY988920,SY,98800,92000,04/06/2014 10:00,,35.90,mg/l,NITRATE
48961,ZONE 95 LYTCHETT MATRAVERS,SY988920,SY,98800,92000,01/03/2016 09:20,,28.20,mg/l,NITRATE
48962,ZONE 95 LYTCHETT MATRAVERS,SY988920,SY,98800,92000,01/03/2016 09:35,,28.10,mg/l,NITRATE
48963,ZONE 95 LYTCHETT MATRAVERS,SY988920,SY,98800,92000,01/03/2016 09:50,,28.30,mg/l,NITRATE
48964,ZONE 95 LYTCHETT MATRAVERS,SY988920,SY,98800,92000,30/11/2016 10:05,,38.20,mg/l,NITRATE

In [59]:
Test2

,Zone name,Zone_centroid,Prefix,E_Short,N_Short,Date and time of sample,Qualifier,Result,Units,Parameter
0,ZONE 1 PORLOCK,SS8800046000,SS,88000,46000,04/02/2002 09:10,,8.18,mg/l,NITRATE
1,ZONE 1 PORLOCK,SS8800046000,SS,88000,46000,12/02/2002 09:00,,1.09,mg/l,NITRATE
2,ZONE 1 PORLOCK,SS8800046000,SS,88000,46000,18/02/2002 08:50,,1.09,mg/l,NITRATE
3,ZONE 1 PORLOCK,SS8800046000,SS,88000,46000,25/02/2002 09:35,,1.31,mg/l,NITRATE
4,ZONE 1 PORLOCK,SS8800046000,SS,88000,46000,04/03/2002 09:15,,1.11,mg/l,NITRATE
5,ZONE 1 PORLOCK,SS8800046000,SS,88000,46000,11/03/2002 08:50,,1.26,mg/l,NITRATE
6,ZONE 1 PORLOCK,SS8800046000,SS,88000,46000,18/03/2002 09:00,,1.03,mg/l,NITRATE
7,ZONE 1 PORLOCK,SS8800046000,SS,88000,46000,25/03/2002 08:45,,1.13,mg/l,NITRATE
8,ZONE 1 PORLOCK,SS8800046000,SS,88000,46000,02/04/2002 00:00,<,1.00,mg/l,NITRATE
9,ZONE 1 PORLOCK,SS8800046000,SS,88000,46000,09/04/2002 09:10,<,1.00,mg/l,NITRATE
10,ZONE 1 PORLOCK,SS8800046000,SS,88000,46000,15/04/2002 09:10,<,1.00,mg/l,NITRATE
11,ZONE 1 PORLOCK,SS8800046000,SS,88000,46000,22/04/2002 08:50,,10.10,mg/l,NITRATE
12,ZONE 1 PORLOCK,SS8800046000,SS,88000,46000,29/04/2002 09:05,<,1.00,mg/l,NITRATE
13,ZONE 1 PORLOCK,SS8800046000,SS,88000,46000,07/05/2002 09:35,<,1.00,mg/l,NITRATE
14,ZONE 1 PORLOCK,SS8800046000,SS,88000,46000,13/05/2002 09:30,<,1.00,mg/l,NITRATE
15,ZONE 1 PORLOCK,SS8800046000,SS,88000,46000,21/05/2002 08:45,<,1.00,mg/l,NITRATE
16,ZONE 1 PORLOCK,SS8800046000,SS,88000,46000,29/05/2002 10:00,<,1.00,mg/l,NITRATE
17,ZONE 1 PORLOCK,SS8800046000,SS,88000,46000,07/06/2002 09:00,<,1.00,mg/l,NITRATE
18,ZONE 1 PORLOCK,SS8800046000,SS,88000,46000,12/06/2002 12:55,<,1.00,mg/l,NITRATE
19,ZONE 1 PORLOCK,SS8800046000,SS,88000,46000,18/06/2002 11:00,<,1.00,mg/l,NITRATE
20,ZONE 1 PORLOCK,SS8800046000,SS,88000,46000,24/06/2002 09:10,<,1.00,mg/l,NITRATE
21,ZONE 1 PORLOCK,SS8800046000,SS,88000,46000,04/07/2002 09:40,<,1.00,mg/l,NITRATE
22,ZONE 1 PORLOCK,SS8800046000,SS,88000,46000,10/07/2002 11:15,<,1.00,mg/l,NITRATE
23,ZONE 1 PORLOCK,SS8800046000,SS,88000,46000,16/07/2002 09:45,<,1.00,mg/l,NITRATE
24,ZONE 1 PORLOCK,SS8800046000,SS,88000,46000,22/07/2002 08:30,<,1.00,mg/l,NITRATE
25,ZONE 1 PORLOCK,SS8800046000,SS,88000,46000,01/08/2002 09:10,<,1.00,mg/l,NITRATE
26,ZONE 1 PORLOCK,SS8800046000,SS,88000,46000,07/08/2002 09:00,<,1.00,mg/l,NITRATE
27,ZONE 1 PORLOCK,SS8800046000,SS,88000,46000,13/08/2002 08:20,<,1.00,mg/l,NITRATE
28,ZONE 1 PORLOCK,SS8800046000,SS,88000,46000,19/08/2002 08:55,<,1.00,mg/l,NITRATE
29,ZONE 1 PORLOCK,SS8800046000,SS,88000,46000,29/08/2002 12:55,<,1.00,mg/l,NITRATE
...,...,...,...,...,...,...,...,...,...,...
50448,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,25/09/2003 09:45,,33.90,mg/l,NITRATE
50449,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,29/09/2003 10:00,,33.80,mg/l,NITRATE
50450,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,01/10/2003 09:40,,17.50,mg/l,NITRATE
50451,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,02/10/2003 09:10,,33.00,mg/l,NITRATE
50452,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,07/10/2003 09:35,,33.30,mg/l,NITRATE
50453,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,08/10/2003 12:55,,33.50,mg/l,NITRATE
50454,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,10/10/2003 10:50,,34.90,mg/l,NITRATE
50455,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,13/10/2003 08:35,,34.80,mg/l,NITRATE
50456,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,16/10/2003 08:30,,19.40,mg/l,NITRATE
50457,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,21/10/2003 10:14,,19.20,mg/l,NITRATE
50458,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,23/10/2003 08:10,,34.20,mg/l,NITRATE
50459,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,27/10/2003 10:00,,32.90,mg/l,NITRATE
50460,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,29/10/2003 08:55,,34.10,mg/l,NITRATE
50461,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,30/10/2003 09:30,,17.80,mg/l,NITRATE
50462,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,04/11/2003 10:30,,27.00,mg/l,NITRATE
50463,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,05/11/2003 09:05,,33.30,mg/l,NITRATE
50464,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,07/11/2003 09:40,,35.30,mg/l,NITRATE
50465,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,10/11/2003 08:28,,32.30,mg/l,NITRATE
50466,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,13/11/2003 10:25,,32.60,mg/l,NITRATE
50467,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,18/11/2003 10:05,,31.90,mg/l,NITRATE
50468,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,20/11/2003 09:55,,33.00,mg/l,NITRATE
50469,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,24/11/2003 11:45,,34.20,mg/l,NITRATE
50470,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,26/11/2003 08:30,,35.20,mg/l,NITRATE
50471,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,27/11/2003 10:15,,36.80,mg/l,NITRATE
50472,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,02/12/2003 09:45,,24.90,mg/l,NITRATE
50473,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,03/12/2003 13:15,,36.70,mg/l,NITRATE
50474,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,04/12/2003 11:00,,37.60,mg/l,NITRATE
50475,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,08/12/2003 09:02,,37.70,mg/l,NITRATE
50476,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,11/12/2003 10:14,,37.80,mg/l,NITRATE
50477,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,16/12/2003 09:25,,37.30,mg/l,NITRATE

In [60]:
Wessex_all = pd.concat([Test1, Test2])

In [66]:
#Specify the prefix value for both easting based on the prefix code
conditions= [
    (Wessex_all['Prefix'] == 'SS'), 
    (Wessex_all['Prefix'] == 'SU'), 
    (Wessex_all['Prefix'] == 'ST'), 
    (Wessex_all['Prefix'] == 'SY'), 
    (Wessex_all['Prefix'] == 'SZ'), 
]
choices = [2, 4, 3, 3, 4]
Wessex_all['Prefix_E'] = np.select(conditions, choices, default= 'NaN')

In [67]:
#Specify the prefix value for both northing based on the prefix code
conditions= [
    (Wessex_all['Prefix'] == 'SS'), 
    (Wessex_all['Prefix'] == 'SU'), 
    (Wessex_all['Prefix'] == 'ST'), 
    (Wessex_all['Prefix'] == 'SY'), 
    (Wessex_all['Prefix'] == 'SZ'), 
]
choices = [1, 1, 1, 0, 0]
Wessex_all['Prefix_N'] = np.select(conditions, choices, default= 'NaN')

In [72]:
Wessex_all

,Zone name,Zone_centroid,Prefix,E_Short,N_Short,Date and time of sample,Qualifier,Result,Units,Parameter,Prefix_E,Prefix_N,Easting,Northing
48216,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,04/02/2002 10:52,,29.10,mg/l,NITRATE,3,0,398400,096400
48217,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,14/02/2002 09:15,<,0.01,mg/l,NITRATE,3,0,398400,096400
48218,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,20/02/2002 10:30,,27.10,mg/l,NITRATE,3,0,398400,096400
48219,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,26/02/2002 09:45,,28.60,mg/l,NITRATE,3,0,398400,096400
48220,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,04/03/2002 10:10,,28.90,mg/l,NITRATE,3,0,398400,096400
48221,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,20/03/2002 09:00,,28.80,mg/l,NITRATE,3,0,398400,096400
48222,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,21/03/2002 12:35,,27.90,mg/l,NITRATE,3,0,398400,096400
48223,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,26/03/2002 09:15,,27.40,mg/l,NITRATE,3,0,398400,096400
48224,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,02/04/2002 12:15,,27.80,mg/l,NITRATE,3,0,398400,096400
48225,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,11/04/2002 12:00,,28.10,mg/l,NITRATE,3,0,398400,096400
48226,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,17/04/2002 10:48,,28.00,mg/l,NITRATE,3,0,398400,096400
48227,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,23/04/2002 10:00,,28.10,mg/l,NITRATE,3,0,398400,096400
48228,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,29/04/2002 10:08,,27.10,mg/l,NITRATE,3,0,398400,096400
48229,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,09/05/2002 09:25,,26.30,mg/l,NITRATE,3,0,398400,096400
48230,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,15/05/2002 08:40,,27.40,mg/l,NITRATE,3,0,398400,096400
48231,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,21/05/2002 09:03,,27.50,mg/l,NITRATE,3,0,398400,096400
48232,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,27/05/2002 10:18,,26.90,mg/l,NITRATE,3,0,398400,096400
48233,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,06/06/2002 09:37,,27.00,mg/l,NITRATE,3,0,398400,096400
48234,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,11/06/2002 08:10,,23.80,mg/l,NITRATE,3,0,398400,096400
48235,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,18/06/2002 10:30,,24.00,mg/l,NITRATE,3,0,398400,096400
48236,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,24/06/2002 10:08,,24.60,mg/l,NITRATE,3,0,398400,096400
48237,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,04/07/2002 08:10,,22.00,mg/l,NITRATE,3,0,398400,096400
48238,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,10/07/2002 09:52,,23.50,mg/l,NITRATE,3,0,398400,096400
48239,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,17/07/2002 10:52,,23.40,mg/l,NITRATE,3,0,398400,096400
48240,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,22/07/2002 10:07,,25.40,mg/l,NITRATE,3,0,398400,096400
48241,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,01/08/2002 09:40,,23.50,mg/l,NITRATE,3,0,398400,096400
48242,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,07/08/2002 10:10,,24.10,mg/l,NITRATE,3,0,398400,096400
48243,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,13/08/2002 11:35,,25.50,mg/l,NITRATE,3,0,398400,096400
48244,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,19/08/2002 09:00,,23.40,mg/l,NITRATE,3,0,398400,096400
48245,ZONE 98 CORFE MULLEN,SY984964,SY,98400,96400,29/08/2002 07:30,,25.70,mg/l,NITRATE,3,0,398400,096400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50448,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,25/09/2003 09:45,,33.90,mg/l,NITRATE,4,0,404000,091000
50449,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,29/09/2003 10:00,,33.80,mg/l,NITRATE,4,0,404000,091000
50450,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,01/10/2003 09:40,,17.50,mg/l,NITRATE,4,0,404000,091000
50451,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,02/10/2003 09:10,,33.00,mg/l,NITRATE,4,0,404000,091000
50452,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,07/10/2003 09:35,,33.30,mg/l,NITRATE,4,0,404000,091000
50453,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,08/10/2003 12:55,,33.50,mg/l,NITRATE,4,0,404000,091000
50454,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,10/10/2003 10:50,,34.90,mg/l,NITRATE,4,0,404000,091000
50455,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,13/10/2003 08:35,,34.80,mg/l,NITRATE,4,0,404000,091000
50456,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,16/10/2003 08:30,,19.40,mg/l,NITRATE,4,0,404000,091000
50457,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,21/10/2003 10:14,,19.20,mg/l,NITRATE,4,0,404000,091000
50458,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,23/10/2003 08:10,,34.20,mg/l,NITRATE,4,0,404000,091000
50459,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,27/10/2003 10:00,,32.90,mg/l,NITRATE,4,0,404000,091000
50460,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,29/10/2003 08:55,,34.10,mg/l,NITRATE,4,0,404000,091000
50461,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,30/10/2003 09:30,,17.80,mg/l,NITRATE,4,0,404000,091000
50462,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,04/11/2003 10:30,,27.00,mg/l,NITRATE,4,0,404000,091000
50463,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,05/11/2003 09:05,,33.30,mg/l,NITRATE,4,0,404000,091000
50464,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,07/11/2003 09:40,,35.30,mg/l,NITRATE,4,0,404000,091000
50465,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,10/11/2003 08:28,,32.30,mg/l,NITRATE,4,0,404000,091000
50466,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,13/11/2003 10:25,,32.60,mg/l,NITRATE,4,0,404000,091000
50467,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,18/11/2003 10:05,,31.90,mg/l,NITRATE,4,0,404000,091000
50468,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,20/11/2003 09:55,,33.00,mg/l,NITRATE,4,0,404000,091000
50469,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,24/11/2003 11:45,,34.20,mg/l,NITRATE,4,0,404000,091000
50470,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,26/11/2003 08:30,,35.20,mg/l,NITRATE,4,0,404000,091000
50471,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,27/11/2003 10:15,,36.80,mg/l,NITRATE,4,0,404000,091000
50472,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,02/12/2003 09:45,,24.90,mg/l,NITRATE,4,0,404000,091000
50473,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,03/12/2003 13:15,,36.70,mg/l,NITRATE,4,0,404000,091000
50474,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,04/12/2003 11:00,,37.60,mg/l,NITRATE,4,0,404000,091000
50475,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,08/12/2003 09:02,,37.70,mg/l,NITRATE,4,0,404000,091000
50476,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,11/12/2003 10:14,,37.80,mg/l,NITRATE,4,0,404000,091000
50477,ZONE 97 POOLE EAST,SZ0400091000,SZ,04000,91000,16/12/2003 09:25,,37.30,mg/l,NITRATE,4,0,404000,091000

In [71]:
# Add the prefix to the short easting and northings to create a complete easting and northing
Wessex_all['Easting']= Wessex_all['Prefix_E'] + Wessex_all['E_Short']
Wessex_all['Northing']= Wessex_all['Prefix_N'] + Wessex_all['N_Short']

In [73]:
#check the values 
Wessex_all.to_csv(r"S:\Projects\SAHSU_Share\Diabetes\Datasets\Drinking_water\Wessex\Wessex_Water_Check.csv")